{% extends "base_company.html" %}

{% block content2 %}

<div class="columns is-centered">
  <div class="column is-two-fifths">

    <form method="post">
      <h1 class="title">Kauf bestätigen?</h1>
      <div class="block">
        Möchtest du <b>{{ offer.name }}</b> wirklich kaufen?
      </div>
      <div class="block">
        Der Preis beträgt <strong>{{ offer.plan.costs_p + offer.plan.costs_r + offer.plan.costs_a }} Stunden</strong>.
      </div>

      <div class="block">
        Der Betrag wird dir von deinem Guthaben abgezogen.
      </div>

      <div class="field">
        <div class="control">
          <label for="amount">Welche Menge willst du kaufen?</label>
          <input class="input" type="number" name="amount" min=1 max="{{ offer.amount_available }}" value=1 required>
        </div>
      </div>
      <div class="block"></div>


      <div class="field">
        <div class="control">
          <div class="select">
            <select name="category" required>
              <option value="">Nutzung als Produktionsmittel oder Rohmaterialien?</option>
              {% set categ = ["Produktionsmittel", "Rohmaterialien"] %}
              {% for cat in categ %}
              <option value="{{ cat }}">{{ cat }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>


      <input class="button is-primary" type="submit" value="Kauf bestätigen">
      <a class="button is-light" href="{{  url_for('main_company.suchen') }}">
        Abbrechen
      </a>
    </form>

  </div>
</div>

{% endblock %}