{% extends "base_company.html" %}

{% block content2 %}


<div class="columns is-centered">
  <div class="column is-three-fifths">

    {% if original_plan %}

    <div class="box has-background-info-light has-text-info-dark">
      <div class="icon"><i class="fas fa-info-circle"></i></div>
      <p>
        Planerneuerung. <br><br>
        Wenn du keine Änderungen vornimmst, wird der Plan automatisch erneuert, ansonsten wird eventuell ein
        Genehmigungsprozess nötig.
      </p>
    </div>

    {% else %}

    <div class="box has-background-info-light has-text-info-dark">
      <div class="icon"><i class="fas fa-info-circle"></i></div>
      <p>
        Erstelle hier deinen Plan. <br><br>
        Ein Plan besteht zunächst aus dem <b>Namen des Produktes</b>,
        der <b>Beschreibung des Produktes</b> und dem <b>Planungszeitraum</b>.
        In diesem Zeitraum planst du, eine bestimmte <b>Menge</b> an <b>Einheiten</b>
        eines bestimmten Produktes herzustellen und zu verkaufen. <br>
        Gib an, wieviele <b>Kosten für Produktionsmittel</b>, <b>Roh- und Hilfsstoffe</b> und <b>Arbeitskraft</b>
        du für das (gesamte) Produkt in diesem Zeitraum aufwenden wirst. <br>
        Wähle, ob es sich um einen <b>produktiven oder öffentlichen Plan</b> handelt.
      </p>
    </div>

    {% endif %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="notification is-danger">{{ message }} </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <form method="post">
      <div class="field">
        <label class="label">Name des Produkts</label>
        <div class="control">
          <input class="input is-large" , type="text" , name="prd_name" ,
            value="{{ original_plan.product_name if original_plan else '' }}" required>
        </div>
      </div>
      <div class="block"></div>


      <div class="field">
        <label class="label">Beschreibung des Produkts</label>
        <div class="control">
          <textarea class="textarea is-large" , name="description"
            required>{{ original_plan.description if original_plan else '' }}</textarea>
        </div>

      </div>
      <div class="block"></div>


      <div class="field">
        <label class="label">Planungszeitraum (Tage)</label>
        <div class="control">
          <input class="input is-large" type="number" name="timeframe" min=1 max=365
            value="{{ original_plan.timeframe if original_plan else 1 }}" required>
        </div>
      </div>
      <div class="block"></div>



      <div class="field">
        <label class="label">Kleinste Abgabeeinheit</label>
        <div class="control">
          <input class="input is-large" , type="text" , name="prd_unit" ,
            value="{{ original_plan.production_unit if original_plan else '1 Kg' }}" , required>
          <p class="help">(1 Packung à 100 Stück, 1 Kilogramm, 1 Flasche à 0,5 Liter, 1 Meter, Unterrichtseinheit à 1,5
            Stunde,
            etc.)</p>
        </div>

      </div>
      <div class="block"></div>



      <div class="field">
        <label class="label">Menge</label>
        <div class="control">
          <input class="input is-large" type="number" name="prd_amount" min=1
            value="{{ original_plan.amount if original_plan else 1 }}" required>
          <p class="help">(Wieviele Einheiten werden produziert und verkauft?)</p>
        </div>
      </div>
      <div class="block"></div>


      <div class="field">
        <label class="label">Kosten für Produktionsmittel</label>
        <div class="control">
          <input class="input is-large" type="number" name="costs_p"
            value="{{ original_plan.means_cost if original_plan else 0 }}" required>
        </div>
      </div>
      <div class="block"></div>


      <div class="field">
        <label class="label">Kosten für Roh- und Hilfsstoffe:</label>
        <div class="control">
          <input class="input is-large" type="number" name="costs_r"
            value="{{ original_plan.resources_cost if original_plan else 0 }}" required>
        </div>
      </div>
      <div class="block"></div>


      <div class="field">
        <label class="label">Enthaltene Arbeitsstunden:</label>
        <div class="control">
          <input class="input is-large" type="number" name="costs_a"
            value="{{ original_plan.labour_cost if original_plan else 0 }}" required>
        </div>
      </div>
      <div class="block"></div>


      <div class="field">
        <label class="label">Art des Plans</label>
        <div class="control">
          <label class="radio">
            <input type="radio" name="productive_or_public" value="productive" required {% if original_plan and not
              original_plan.is_public_service %} checked {% endif %}>
            Produktiv
          </label>
          <label class="radio">
            <input type="radio" name="productive_or_public" value="public" {% if original_plan and
              original_plan.is_public_service %} checked {% endif %}>
            Öffentlich
          </label>
          <p class="help">Produktive Pläne sind der Regelfall. <br>
            Öffentliche Pläne müssen vom Plenum genehmigt sein.
          </p>
        </div>
      </div>


      <div class="box has-background-danger-light has-text-danger-dark">
        <div class="icon"><i class="fas fa-exclamation-triangle"></i></div>
        <p>
          Der Plan bestimmt den Preis deiner Produkte und lässt
          sich deshalb nachträglich nicht ändern!
          <br>
        </p>
      </div>
  </div>
</div>

<div class="field is-grouped is-grouped-centered">
  <div class="control">
    <button class="button is-danger">
      Plan erstellen
    </button>
  </div>
</div>

</form>

{% endblock %}