{% extends "base_company.html" %}

{% block content2 %}


<h1 class="title">Produkt im Marketplace anbieten</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="notification is-danger">{{ message }} </div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="columns is-centered">
    <div class="column is-two-fifths">
        <div>
            <p>
                Auf dieser Seite kannst du dein Produkt auf unserem Marketplace anbieten.
                Passe das Angebot bei Bedarf an.
            </p>
            <br>
            <p>
                Du kannst dieses Produkt übrigens auch woanders anbieten.
                Die Käufer müssen dann die Bezahlung manuell in der App vornehmen.
                Dazu brauchen sie die Plan-ID (<b>{{ plan.id
                    }}</b>).
            </p>

        </div>
    </div>
</div>

<hr>

<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="field">
        <div class="control">
            <label for="name">Name des Produkts</label>
            <input class="input is-large" , type="text" , name="name" , value="{{ plan.prd_name }}" , required>
        </div>
    </div>
    <div class="block"></div>
    <div class="field">
        <div class="control">
            <label for="description">Beschreibung</label>
            <textarea class="textarea is-large" , name="description" , required>{{ plan.description }}</textarea>

        </div>
    </div>
    <div class="block"></div>


    <div class="field">
        <div class="control">
            <button class="button is-primary">
                Im Marketplace anbieten
            </button>
            <a class="button is-light" href="{{  url_for('main_company.my_plans') }}">
                Abbrechen
            </a>
        </div>
    </div>


</form>

{% endblock %}