{% extends "base_company.html" %}

{% block content2 %}
<h1 class="title">Produkt wurde veröffentlicht!</h1>

<div class="columns is-centered">
    <div class="column is-two-fifths">
        <p>
            Dein Angebot wurde in unserem Marketplace veröffentlicht.
        </p>
        <br>
        <ul>
            <li>Name: {{ view_model.name }}</li>
            <li>Beschreibung: {{ view_model.description }}</li>
        </ul>
        <br>
        <p>
            Du findest das Angebot unter "Meine Angebote".
        </p>
    </div>
</div>

{% endblock %}