{% extends "base_company.html" %}

{% block content2 %}


<h1 class="title">
    Meine Konten
</h1>
<div class="box has-background-info-light has-text-info-dark">
    <div class="icon"><i class="fas fa-info-circle"></i></div>
    <p>Hier sind deine Konten und Umsätze.<br>
        In der ersten Zeile siehst du deine Kontostände.
        Wenn du gut geplant hast, sollten sie am Ende des Planungszeitraums ausgeglichen sein. <br>
        (Das Konto p ist erst ausgeglichen, wenn die Produktionsmittel vernutzt sind.)
    </p>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="notification is-danger is-light">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="table-container">
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Sender</th>
                <th>Empfänger</th>
                <th>p</th>
                <th>r</th>
                <th>a</th>
                <th><abbr title="xxxx xxx x">prd</abbr></th>
                <th>Verw.zweck</th>
            </tr>
        </thead>
        <tbody>
            {% if my_balances is defined and my_balances|length %}
            <tr class="is-selected">
                <td></td>
                <td></td>
                <td></td>
                <td><b>{{ my_balances[0] }}</b></td>
                <td><b>{{ my_balances[1] }}</b></td>
                <td><b>{{ my_balances[2] }}</b></td>
                <td><b>{{ my_balances[3] }}</b></td>
                <td></td>
            </tr>
            {% endif %}

            {% if all_transactions is defined and all_transactions|length %}
            {% for trans_info in all_transactions %}
            <tr>
                <td>{{ trans_info[0].strftime("%c") }}</td>
                <td>{{ trans_info[1] }}</td>
                <td>{{ trans_info[2] }}</td>
                <td>{{ trans_info[3] }}</td>
                <td>{{ trans_info[4] }}</td>
                <td>{{ trans_info[5] }}</td>
                <td>{{ trans_info[6] }}</td>
                <td>{{ trans_info[7] }}</td>
            </tr>
            {% endfor %}
            {% endif %}

        </tbody>
    </table>
</div>

{% endblock %}