{% extends "base_company.html" %}

{% block content2 %}


<h1 class="title">
  Meine Angebote
</h1>
<div class="box has-background-info-light has-text-info-dark">
  <div class="icon"><i class="fas fa-info-circle"></i></div>
  <p>Hier sind deine aktuellen Angebote im Marketplace.<br>
    Bei Bedarf kannst du sie löschen.</p>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="notification is-danger is-light">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="table-container">


  {% if offers is defined and offers|length %}
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Plan-ID</th>
        <th>Produktname</th>
        <th>Beschreibung</th>
        <th>Stückpreis</th>
        <th><abbr title="Noch vorhanden">Vorh.</abbr></th>
        <th><abbr title="Löschen">Del.</abbr></th>
      </tr>
    </thead>
    <tbody>
      {% for offer in offers %}
      <tr>
        <td>{{ offer.plan.id }}</td>
        <td>{{ offer.name }}</td>
        <td>{{ offer.description }}</td>
        <td>{{ offer.plan.price_per_unit() }} Std.</td>
        <td>{{ offer.amount_available }}</td>
        <td><a href="{{ url_for('main_company.delete_offer', id=offer.id) }}"><u>Del.</u></a></td>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>(Du hast keine aktuellen Angebote.)</p>
  {% endif %}
</div>

{% endblock %}