{% extends "base_company.html" %}

{% block content2 %}


<h1 class="title">
    Meine Pläne
</h1>
<div class="box has-background-info-light has-text-info-dark">
    <div class="icon"><i class="fas fa-info-circle"></i></div>
    <p>Hier sind deine genehmigten Pläne.</p>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="notification is-danger is-light">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="table-container">


    {% if plans is defined and plans|length %}
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Produkt</th>
                <th>Beschreibung</th>
                <th>Einheiten</th>
                <th>Plan vom</th>
                <th>Ende Planzeitraum</th>
            </tr>
        </thead>
        <tbody>
            {% for plan in plans %}
            <tr>
                <td>{{ plan.prd_name }}</td>
                <td>{{ plan.description }}</td>
                <td>{{ plan.prd_amount }}</td>
                <td>{{ plan.plan_creation_date }}</td>
                <td>...</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>(Du hast keine Pläne.)</p>
    {% endif %}
</div>


{% endblock %}