{% extends "base_company.html" %}

{% block content2 %}

<div class="box has-background-info-light has-text-info-dark">
    <div class="icon"><i class="fas fa-info-circle"></i></div>
    <p>Hier sind deine genehmigten Pläne.<br>Aktuelle Pläne kannst du im Marketplace anbieten, abgelaufene Pläne kannst
        du erneuern.</p>
</div>
<h1 class="title">
    Aktuelle Pläne
</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="notification is-danger is-light">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="table-container">
    {% if plans is defined and plans|length %}
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Plan-ID</th>
                <th>Produkt</th>
                <th>Beschr.</th>
                <th><abbr title="Kosten Produktionsmittel">p</abbr></th>
                <th><abbr title="Kosten Rohstoffe">r</abbr></th>
                <th><abbr title="Kosten Arbeit">a</abbr></th>
                <th><abbr title="Einheiten">Einh.</abbr></th>
                <th>Stückpr.</th>
                <th>Plan vom</th>
                <th>Plan-Ende</th>
                <th>Endet in</th>
                <th><abbr title="Produkt im Marketplace anbieten.">Anb.</abbr></th>
            </tr>
        </thead>
        <tbody>
            {% for plan in plans %}
            <tr>
                <td>{{ plan.id }}</td>
                <td>{{ plan.prd_name }}</td>
                <td><abbr title="{{ plan.description }}">{{ plan.description[:5] }}...</abbr></td>
                <td>{{ plan.costs_p }}</td>
                <td>{{ plan.costs_r }}</td>
                <td>{{ plan.costs_a }}</td>
                <td>{{ plan.prd_amount }}</td>
                <td>{{ (plan.costs_p + plan.costs_r + plan.costs_a)/plan.prd_amount }} Std.</td>
                <td>{{ plan.plan_creation_date.strftime("%d.%m.%y") }}</td>
                <td>{{ plan.expiration_date.strftime("%d.%m.%y") }}</td>
                <td>{{ plan.expiration_relative[0] }}d {{ plan.expiration_relative[1] }}h {{
                    plan.expiration_relative[2] }}min</td>
                <td><a href="{{ url_for('main_company.create_offer', plan_id=plan.id) }}"><i
                            class="fas fa-store"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>(Du hast keine Pläne.)</p>
    {% endif %}
</div>



<h1 class="title">
    Abgelaufene Pläne
</h1>

<div class="table-container">
    {% if plans_expired is defined and plans_expired|length %}
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Plan-ID</th>
                <th>Produkt</th>
                <th>Beschreibung</th>
                <th><abbr title="Kosten Produktionsmittel">p</abbr></th>
                <th><abbr title="Kosten Rohstoffe">r</abbr></th>
                <th><abbr title="Kosten Arbeit">a</abbr></th>
                <th>Einheiten</th>
                <th>Stückpreis</th>
                <th>Plan vom</th>
                <th><abbr title="Nur einmal möglich.">Plan erneuern</abbr></th>
            </tr>
        </thead>
        <tbody>
            {% for plan in plans_expired %}
            <tr>
                <td>{{ plan.id }}</td>
                <td>{{ plan.prd_name }}</td>
                <td>{{ plan.description }}</td>
                <td>{{ plan.costs_p }}</td>
                <td>{{ plan.costs_r }}</td>
                <td>{{ plan.costs_a }}</td>
                <td>{{ plan.prd_amount }}</td>
                <td>{{ (plan.costs_p + plan.costs_r + plan.costs_a)/plan.prd_amount }} Std.</td>
                <td>{{ plan.plan_creation_date.strftime("%d.%m.%y") }}</td>

                {% if plan.renewed %}
                <td><a><i class="{{ 'fas fa-redo not-active' }}"></i></a>
                </td>
                {% else %}
                <td><a href="{{ url_for('main_company.create_plan', renew=plan.id) }}"><i
                            class="{{ 'fas fa-redo' }}"></i></a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>(Du hast keine abgelaufenen Pläne.)</p>
    {% endif %}
</div>



{% endblock %}