{% extends "base_company.html" %}

{% block content2 %}


    <h1 class="title">Angebot erstellen</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="notification is-danger">{{ message }}  </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="columns is-centered">
        <div class="column is-two-fifths">
          <div class="box has-background-danger-light has-text-danger-dark">
            <div class="icon"><i class="fas fa-exclamation-triangle"></i></div>
            <p>
              Gib an, wieviel Arbeit und
              Produktionsmittel in deinen Produkten enthalten ist. Dies ist eine verbindliche Prognose, die nichts mehr geändert werden kann.
              Biete deshalb nicht mehr Produkte an, als du verkaufen kannst.<br>
            </p>
          </div>
        </div>
      </div>

    <form method="post">
        <div class="field">
          <div class="control">
            <label for="name">Name des Produkts</label>
            <input class="input is-large", type="text", name="name" required>
          </div>
        </div>
        <div class="block"></div>

        <hr>

        <div class="field">
          <div class="control">
            <label for="beschreibung">Beschreibung des Produkts</label>
            <textarea class="textarea is-large", name="beschreibung" required></textarea>
            <p class="help">(Verfügbarkeit, Kontaktmöglichkeiten, etc.)</p>
          </div>

        </div>
        <div class="block"></div>

        <hr>

        <div class="field">
          <div class="control">
            <div class="select">
              <select name="kategorie" required>
                <option value="">Kategorie auswählen</option>
                {% for cat in categ %}
                <option value="{{ cat }}">{{ cat }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>

    <hr>
    <hr>
    <div class="block"></div>

    <h3 class="subtitle">Wieviele Arbeitsstunden sind enthalten?</h3>

  {% if arbeiter_all is defined and arbeiter_all|length %}
      <table class="table is-bordered is-fullwidth">
        <thead><tr><th>Id</th><th>Name</th><th>Stunden</th></tr></thead>
          <tbody>
            {% for arbeiter in arbeiter_all %}
                <tr>
                  <td>{{ arbeiter.id }}</td>
                  <td>{{ arbeiter.name }}</td>
                  <td><input class="input" type="number" name="member_{{ arbeiter.id }}", value="0", min="0", step="0.1"></td>
                </tr>
            {% endfor %}
          </tbody>
      </table>

  {% else %}
    <p class="block">
      Du hast noch keine MitarbeiterInnen registriert, deshalb kannst du noch keine
      Arbeit abrechnen.<br>
      Füge deinem Betrieb erst <a href="{{ url_for('main_company.arbeit') }}"><u>hier</u></a> MitarbeiterInnen hinzu.
    </p>
  {% endif %}

    <hr>

        <h3 class="subtitle">Sind Produktionsmittel enthalten?</h3>

        {% if produktionsmittel_aktiv is defined and produktionsmittel_aktiv|length %}
          <div class="table-container">
            <table class="table is-bordered is-fullwidth">
              <thead>
                <tr>
                  <th>Kauf-Id</th>
                  <th>Name</th>
                  <th>Beschreibung</th>
                  <th>Kaufpreis</th>
                  <th>Prozent Gebraucht</th>
                  <th>Benutzen (Prozent)</th>
                </tr>
              </thead>
                <tbody>
                  {% for prod_mittel in produktionsmittel_aktiv %}
                    <tr>
                      <td>{{ prod_mittel.id }}</td>
                      <td>{{ prod_mittel.name }}</td>
                      <td>{{ prod_mittel.beschreibung }}</td>
                      <td>{{ prod_mittel.kaufpreis }}</td>
                      <td>{{ prod_mittel.prozent_gebraucht }}</td>
                      <td><input class="input" type="number" name="id_{{ prod_mittel.id }}",\
                        value="0", min="0", step="0.5" max="{{ 100 - prod_mittel.prozent_gebraucht }}">
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div>
        {% else %}
          <div class="block">
              Du hast noch keine Produkte erworben.<br>
              Suche <a href="{{ url_for('main_company.suchen') }}"><u>hier</u></a> nach Produktionsmitteln (optional).
          </div>
        {% endif %}
    <hr>

    <div class="columns is-centered">
        <div class="column is-two-fifths">
          <div class="box has-background-info-light has-text-info-dark">
            <div class="icon"><i class="fas fa-info-circle"></i></div>
            <p>Du kannst mehr als ein Stück dieses Produktes anbieten. Die oben angegebenen
              Kosten werden dann auf die einzelnen Produkte aufgeteilt.</p>
          </div>
        </div>
      </div>

    <div class="field is-grouped is-grouped-centered">
      <div class="control">
        <label for="quantity">Stückzahl:</label>
        <input class="input" type="number" id="quantity" name="quantity" min=1 max=100 value=1>
      </div>
    </div>
    <div class="block"></div>

    <hr>

    {% if produktionsmittel_aktiv|length or arbeiter_all|length %}
    <div class="field is-grouped is-grouped-centered">
      <div class="control">
        <button class="button is-primary">
          Angebot erstellen
        </button>
      </div>
    </div>

    {% else %}
    <div class="field is-grouped is-grouped-centered">
      <div class="control">
        <button class="button is-primary" disabled>
          Angebot erstellen
        </button>
      </div>
    </div>
    {% endif %}
    </form>

{% endblock %}
