{% extends "base_company.html" %}

{% block content2 %}
<div class="columns has-text-left">
    <div class="column is-two-third">


        <div class="content">
            <h1 class="title">
                Bezahlung Produktionsmittel und Rohstoffe
            </h1>
        </div>



        <div class="content">
            <form method="post">
                <div class="field has-addons">
                    <div class="control">
                        <input class="input" type="text" placeholder="Plan-ID" , name="plan_id" required>
                    </div>
                    <div class="control">
                        <input class="input" type="number" placeholder="Stückzahl" , name="amount" required>
                    </div>
                    <div class="control">
                        <div class="select">
                            <select name="category" required>
                                <option value="">Zweck</option>
                                {% set categ = ["Produktionsmittel", "Rohmaterialien"] %}
                                {% for cat in categ %}
                                <option value="{{ cat }}">{{ cat }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="control">
                        <button class="button is-primary" name="transfer_type" value="transfer_to_company"
                            type="submit">Überweisen</button>
                    </div>
                </div>
            </form>
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="block"></div>
        {% for message in messages %}
        <div class="notification is-danger">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}





    </div>
</div>


{% endblock %}