{% extends "base_company.html" %}

{% block content2 %}
<div class="columns has-text-left">
    <div class="column is-two-third">
        <h1 class="title">
            Überweisung Arbeitszertifikate an Mitarbeiter
        </h1>

        <div class="content">
            <form method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="field has-addons">
                    <div class="control">
                        <input class="input" type="text" placeholder="Mitglieder-ID" name="member_id" required>
                    </div>
                    <div class="control">
                        <input class="input" type="number" step="0.01" placeholder="Summe" name="amount" required>
                    </div>
                    <div class="control">
                        <button class="button is-primary" name="transfer_type" value="transfer_to_worker"
                            type="submit">Überweisen</button>
                    </div>
                </div>
                <p class="help">Mitarbeiter müssen unter <a href="{{url_for('main_company.arbeit')}}">"Arbeit"</a>
                    registriert werden.</p>
            </form>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="block"></div>
        {% for message in messages %}
        <div class="notification is-danger">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}



    </div>
</div>


{% endblock %}