{% extends "base_betriebe.html" %}

{% block content2 %}

<div class="column is-8 is-offset-2">

  <h1 class="title is-2">Angebot erstellen</h1>



  <div class="block content has-text-left">

    <ol>
      <li>Wenn du ein Angebot erstellst, musst du angeben,  wieviel Arbeit und
      Produktionsmittel du eingesetzt hast. Dadurch wird der Preis für alle transparent.</li>
      <li>Falls sich ein Käufer findet, werden dir vom Käufer alle Kosten für Produktionsmittel ersetzt
        und die Arbeiter werden automatisch ausbezahlt.</li>
      <li>Falls sich kein Käufer findet, kannst du dein Angebot jederzeit wieder zurückziehen. Dann wirst du gefragt,
      ob die angegebenen Produktionsmittel und Arbeit (in der Realität!) schon verbraucht wurden. Falls dies
      nicht der Fall ist, werden Produktionsmittel einfach wieder freigegeben und es muss keine Arbeit
      ausbezahlt werden.</li>
    </ol>
  </div>

  <form method="post">
    <div class="field is-grouped is-grouped-centered">
      <div class="control">
        <a class="button is-link" href="{{ url_for('main_betriebe.neues_angebot') }}">Verstanden</a>
      </div>
    </div>
  </form>


</div>

{% endblock %}
