{% extends "base_betriebe.html" %}

{% block content2 %}


<div class="column is-6 is-offset-3">


  <h1 class="title">
    Der Auszahlungsfaktor in diesem Betrieb beträgt:<br>
  </h1>
  <div class="box">
      {{ fik }}
  </div>

  <p class="block">
    <span class="icon"><i class="fas fa-info-circle"></i></span>
    Der Betrieb kann einen Auszahlungsfaktor zwischen 0 und 1 beschließen. Je höher dieser Faktor, umso
    mehr Arbeitsgeld bekommen die Beschäftigten pro Arbeitsstunde. Je niedriger,
    umso mehr Stunden kann der Betrieb in einem Akkumulationsfonds sammeln.
  </p>

  <h1 class="title">
    In diesem Betrieb arbeiten die folgenden ArbeiterInnen:
  </h1>

        <div class="content">
            {{ table1 }}

        </div>

        <div class="content">

        <form method="post">
          <div class="field has-addons">
            <div class="control is-expanded">
              <input class="input" type="text" placeholder="Nutzer-ID", name="nutzer" required>
            </div>
            <div class="control">
              <button class="button is-primary" type="submit">MitarbeiterIn hinzufügen</button>
            </div>
          </div>
        </form>

      </div>

        <h1 class="title">
          Gesamtzahl der Stunden:
        </h1>

      <div class="content">

      <div class="content">
              {{ table2 }}

      </div>

      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
      {% endif %}
      {% endwith %}


    </div>




{% endblock %}
