{% extends "base_betriebe.html" %}

{% block content2 %}


<div class="column is-6 is-offset-3">

  <h1 class="title">
    In deinem Betrieb arbeiten die folgenden ArbeiterInnen:
  </h1>

  <div class="content">

      <div class="columns is-centered">
        <div class="column is-narrow">
          {{ table }}
        </div>
      </div>


    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="notification is-danger">
          {{ messages[0] }}
      </div>
    {% endif %}
    {% endwith %}

    <form method="post">
      <div class="field is-grouped is-grouped-centered">
        <div class="control">
          <input class="input" type="text" placeholder="Nutzer-ID", name="nutzer" required>
        </div>
        <div class="control">
          <button class="button" type="submit">ArbeiterIn hinzufügen</button>
        </div>
      </div>
    </form>
</div>
</div>




{% endblock %}
