{% extends "base.html" %}
{% block content1 %}
<section class="hero is-fullheight">
        <div class="hero-head">

          <nav class="navbar is-light" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <div class="navbar-item has-background-primary	has-text-white">
                Nutzer-Ansicht
              </div>

              <a role="button" class="navbar-burger" onclick="expandMenu()" aria-label="menu" aria-expanded="false" data-target="navbarOnTop">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>

            <div id="navbarOnTop" class="navbar-menu">
              <div class="navbar-start">

                  {% if current_user.is_authenticated %}
                  <a href="{{ url_for('main_nutzer.suchen') }}" class="navbar-item">
                      Angebote suchen
                  </a>
                  <a href="{{ url_for('main_nutzer.meine_kaeufe') }}" class="navbar-item">
                      Meine Käufe
                  </a>
                  <a href="{{ url_for('main_nutzer.profile') }}" class="navbar-item">
                      Meine Daten
                  </a>
                  {% endif %}

              </div>

              <div class="navbar-end">
                  <div class="navbar-item">
                    <div class="buttons">
                      {% if not current_user.is_authenticated %}
                      <a class="button" href="{{ url_for('auth.login_nutzer') }}">
                          Anmelden
                      </a>
                      <a class="button" href="{{ url_for('auth.signup_nutzer') }}">
                          Registrieren
                      </a>
                      <a class="button" href="{{ url_for('auth.zurueck') }}">
                          Zurück
                      </a>
                      {% endif %}
                      {% if current_user.is_authenticated %}
                      <a class="button" href="{{ url_for('auth.logout') }}">
                          Logout
                      </a>
                      {% endif %}


                    </div>
                  </div>
              </div>

            </div>
          </nav>

        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content2 %}
               {% endblock %}
            </div>
        </div>
</section>
{% endblock %}
