{% extends "base.html" %}
{% block content1 %}
<section class="hero">
  <div class="hero-head">
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <div class="navbar-item has-background-primary	has-text-white">
          Betriebs-Ansicht
        </div>

        <a role="button" class="navbar-burger" onclick="expandMenu()" aria-label="menu" aria-expanded="false"
          data-target="navbarOnTop">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarOnTop" class="navbar-menu">
        <div class="navbar-start">
          {% if current_user.is_authenticated %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Pläne
            </a>
            <div class="navbar-dropdown">
              <a href="{{ url_for('main_company.create_draft') }}" class="navbar-item">
                Neuer Plan
              </a>
              <a href="{{ url_for('main_company.my_plans') }}" class="navbar-item">
                Meine Pläne
              </a>
              <a href="{{ url_for('main_company.my_drafts') }}" class="navbar-item">
                Meine Entwürfe
              </a>
              <a href="{{ url_for('main_company.query_plans') }}" class="navbar-item">
                Alle Pläne
              </a>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Kooperation
            </a>
            <div class="navbar-dropdown">
              <a href="{{ url_for('main_company.create_cooperation') }}" class="navbar-item">
                Neue Kooperation
              </a>
              <a href="{{ url_for('main_company.request_cooperation') }}" class="navbar-item">
                Kooperation beitreten
              </a>
              <a href="{{ url_for('main_company.my_cooperations') }}" class="navbar-item">
                Meine Kooperationen
              </a>
              <a href="{{ url_for('main_company.list_all_cooperations') }}" class="navbar-item">
                Alle Kooperationen
              </a>
            </div>
          </div>



          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Konten und Käufe
            </a>

            <div class="navbar-dropdown">
              <a href="{{ url_for('main_company.my_accounts') }}" class="navbar-item">
                Konten
              </a>
              <a href="{{ url_for('main_company.transfer_to_worker') }}" class="navbar-item">
                Bezahlen Mitarbeiter
              </a>
              <a href="{{ url_for('main_company.transfer_to_company') }}" class="navbar-item">
                Bezahlen Produktionsmittel
              </a>
              <a href="{{ url_for('main_company.my_purchases') }}" class="navbar-item">
                Meine Käufe
              </a>
            </div>
          </div>



          <a href="{{ url_for('main_company.arbeit') }}" class="navbar-item">
            Arbeit
          </a>

          <a href="{{ url_for('main_company.statistics') }}" class="navbar-item">
            Statistiken
          </a>

          <a href="{{ url_for('main_company.query_companies') }}" class="navbar-item">
            Betriebe
          </a>

          <a href="{{ url_for('main_company.profile') }}" class="navbar-item">
            Meine Daten
          </a>

          <a href="{{ url_for('main_company.list_messages') }}"
            class="navbar-item {% if message_indicator is defined %}{% if message_indicator.show_unread_messages_indicator %}unread-messages-indicator{% endif %}{% endif %}">
            Nachrichten
          </a>
          {% endif %}

        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {% if not current_user.is_authenticated %}
              <a class="button" href="{{ url_for('auth.login_company') }}">
                Anmelden
              </a>
              <a class="button" href="{{ url_for('auth.signup_company') }}">
                Registrieren
              </a>
              <a class="button" href="{{ url_for('auth.zurueck') }}">
                Zurück
              </a>
              {% else %}
              <a class="button" href="{{ url_for('auth.logout') }}">
                Logout
              </a>
              <a class="button" href="{{ url_for('main_company.hilfe') }}">
                ?
              </a>
              {% endif %}

            </div>
          </div>
        </div>

      </div>
    </nav>
  </div>

  <div class="hero-body has-text-centered">
    <div class="section">
      <div class="container">
        {% block content2 %}
        {% endblock %}
      </div>
    </div>
  </div>



</section>
{% endblock %}