<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Betriebe 2020</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <script src="https://kit.fontawesome.com/717b21c2c7.js" crossorigin="anonymous"></script>
</head>

<body>


      {% block content1 %}
      {% endblock %}


</body>

</html>
