{% extends "base_betriebe.html" %}

{% block content2 %}

<h1 class="title">Kauf bestätigen?</h1>


<div class="block">
  Möchtest du <b>{{ angebot.name }}</b> wirklich kaufen?
</div>
<div class="block">
  Der Preis beträgt <strong>{{ angebot.preis }} Stunden</strong> (= {{ angebot.p_kosten }} Stunden für
  Produktionsmittel und {{ angebot.v_kosten }} Stunden für Arbeit des Betriebs selbst).
</div>

<div class="block">
  Der Betrag wird dir von deinem Guthaben abgezogen.
</div>
<div class="block">
  Dein Guthaben beträgt momentan {{ current_user.guthaben }} Stunden.
</div>


  <form method="post">
    <input class="button is-primary" type="submit" value="Kauf bestätigen">

    <a class="button is-light" href="{{  url_for('main_betriebe.suchen') }}">
      Abbrechen
    </a>
  </form>


{% endblock %}
