{% macro plan_table(plans) %}

<h1 class="title">{{ plans.title }}</h1>

<div class="table-container">
  {% if plans.show %}
  <table class="table is-fullwidth">
    <thead>
      <tr>
        {% for field in plans.sequence %} {% if plans.headings[field].abbr %}
        <th>
          <abbr title="{{ plans.headings[field].abbr }}"
            >{{ plans.headings[field].text|replace(" ", "&nbsp;")|safe }}</abbr
          >
        </th>
        {% else %}
        <th>{{ plans.headings[field].text|replace(" ", "&nbsp;")|safe }}</th>
        {% endif %} {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for plan in plans.rows %}
      <tr>
        {% for field in plans.sequence %}
        <td>
          {% if field == "edit" %} {% if plan[field] == "CREATE" %}
          <a href="{{ url_for('main_company.create_offer', plan_id=plan.id) }}"
            ><i class="fas fa-store"></i
          ></a>
          {% endif %} {% else %} {% if plan[field]|length > 20 %}
          <abbr title="{{ plan[field] }}">... {{ plan[field][20:] }}</abbr>
          {%else%}{{ plan[field] }}{%endif%} {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>({{plan.message}})</p>
  {% endif %}
</div>

{% endmacro %}
