{% macro start_hilfe() %}

<div class="hero-body">
  <div class="container has-text-centered">
    <h1 class="title">
      Was ist das hier?
    </h1>
    <div class="block content has-text-left">
      <ul>
        <li>Dies ist eine Plattform für solidarisches Wirtschaften.</li>
        <li>Produkte und Dienstleistungen werden ausgetauscht, wobei die gemeinsame „Währung“ die Arbeitszeit ist.</li>
        <li>ArbeiterInnen bekommen für geleistete Arbeit Arbeitszeitgeld, mit dem sie Produkte erwerben können.</li>
        <li>Produkte kosten soviel Arbeitszeit, wie sie zur Herstellung benötigen.</li>
        <li>Die Plattform richtet sich an Kollektivbetriebe, Genossenschaften und sonstige Betriebe und Einzelpersonen,
          die eine Alternative zu kapitalistischem Markt, Privateigentum an Produktionsmitteln und Geld suchen.</li>
      </ul>
    </div>

    <h1 class="title">
      Was muss ich als ArbeiterIn tun?
    </h1>

    <div class="block content has-text-left">
      <ul>
        <li>Als ArbeiterIn brauchst du nur einen „Nutzer-Account“. Auf diesen Account wird dir vom Betrieb das
          Arbeitszeitgeld überwiesen und du kannst Produkte auf dem gemeinsamen Marktplatz suchen und erwerben.</li>
      </ul>
    </div>

    <h1 class="title">
      Was muss ich als Betrieb/Kollektiv tun?
    </h1>

    <div class="block content has-text-left">
      <ol>
        <li>Stelle dich und deinen Betrieb beim Plenum vor. </li>
        <li>Registriere in der App einen „Betriebe-Account“.</li>
        <li>Veröffentliche in der App einen Plan für jedes Produkt, das du anbieten möchtest. In diesem Plan musst du
          angeben, wie viel Arbeitszeit die Herstellung dieses Produkts kostet.</li>
        <li>Du erhältst Arbeitszeit-Guthaben, um die Beschäftigten zu bezahlen und ein Konto, um Produktionsmittel von
          anderen teilnehmenden Betrieben zu erwerben.</li>
        <li>Veröffentliche das Produkt auf unserem Marktplatz oder wo immer du willst (deine Kunden brauchen nur
          Arbeitszeitgeld auf ihrem Konto und den Link zum Produkt). Der „Preis“ des Produktes entspricht immer genau
          der im Plan angegebenen Arbeitszeit.</li>
      </ol>
    </div>


    <hr>

    <p class="title">
      FAQ
    </p>
    <div class="block content has-text-left">
      <ul>
        <li>xxx1?</li>
        <ul>
          <li>xxx</li>
        </ul>
        <li>xxx2?</li>
        <ul>
          <li>xxx</li>
        </ul>
      </ul>
    </div>
  </div>
</div>

{% endmacro %}



{% macro produktsuche(form, results) %}

<div class="columns is-centered">
  <div class="column is-one-third">
    <h1 class="title">
      Produktsuche
    </h1>
    <div class="box">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div class="notification is-danger">{{ message }} </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

      <form method="post">
        <div class="field">

          <div class="control">
            <div class="select is-large is-fullwidth">
              {{ form.select }}
            </div>
          </div>
          <p class="help">Suche in Name oder Beschreibung</p>
        </div>
        <div class="field">
          <div class="control">
            {{ form.search(class_="input is-large") }}
          </div>
        </div>
        <button class="button is-block is-primary is-large is-fullwidth">
          Suche
        </button>
      </form>
    </div>
  </div>
</div>
{% if results is defined and results|length %}
<h1 class="title">
  Ergebnisse
</h1>
<div class="table-container">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Plan-ID</th>
        <th>Produktname</th>
        <th>Betrieb</th>
        <th>Beschreibung</th>
        <th>Stückpreis</th>
        <th>Public Service</th>
        <th>Kontakt</th>
      </tr>
    </thead>
    <tbody>
      {% for offer in results %}
      <tr>
        <td>{{ offer.plan_id }}</td>
        <td>{{ offer.product_name }}</td>
        <td>{{ offer.seller_name }}</td>
        <td>{{ offer.product_description }}</td>
        <td>{{ offer.price_per_unit|round(2) }} Std.
        </td>
        <td>{{ offer.is_public_service }}</td>
        <td>
          <a href="mailto:{{ offer.seller_email }}">
            <u><span class="icon"><i class="far fa-envelope"></i></span></u>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% endmacro %}



{% macro statistics(stats) %}


<div class="columns is-centered">
  <div class="column is-half">
    <div class="content">
      <h1 class="title">
        Globale Statistiken
      </h1>
    </div>

    <br>

    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <p class="has-text-weight-semibold">Registrierte Betriebe:</p>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <p>{{ stats.registered_companies_count }}</p>
        </div>
      </div>
    </div>
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <p class="has-text-weight-semibold">Registrierte ArbeiterInnen:</p>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <p>{{ stats.registered_members_count }}</p>
        </div>
      </div>
    </div>
    <br>
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <p class="has-text-weight-semibold">Aktive Pläne:</p>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <p>{{ stats.active_plans_count }}</p>
        </div>
      </div>
    </div>
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <p class="has-text-weight-semibold">Davon öffentliche Pläne:</p>
        </div>
      </div>
      <div class="level-right has-text-right-tablet">
        <div class="level-item">
          <p>{{ stats.active_plans_public_count }}</p>
        </div>
      </div>
    </div>
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <p class="has-text-weight-semibold">Durchschnittliche Plandauer:</p>
        </div>
      </div>
      <div class="level-right has-text-right-tablet">
        <div class="level-item">
          <p>{{ stats.avg_timeframe|round(2) }} Tage</p>
        </div>
      </div>
    </div>
    <br>
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <p class="has-text-weight-semibold">Produkte auf Marketplace:</p>
        </div>
      </div>
      <div class="level-right has-text-right-tablet">
        <div class="level-item">
          <p>{{ stats.products_on_marketplace_count }}</p>
        </div>
      </div>
    </div>
    <br>
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <p class="has-text-weight-semibold">Aktuell geplante Arbeitsstunden:</p>
        </div>
      </div>
      <div class="level-right has-text-right-tablet">
        <div class="level-item">
          <p>{{ stats.planned_work|round(2) }} Stunden</p>
        </div>
      </div>
    </div>
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <p class="has-text-weight-semibold">Aktuell geplante Rohstoffe:</p>
        </div>
      </div>
      <div class="level-right has-text-right-tablet">
        <div class="level-item">
          <p>{{ stats.planned_resources|round(2) }} Stunden</p>
        </div>
      </div>
    </div>
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <p class="has-text-weight-semibold">Aktuell geplante Produktionsmittel:</p>
        </div>
      </div>
      <div class="level-right has-text-right-tablet">
        <div class="level-item">
          <p>{{ stats.planned_means|round(2) }} Stunden</p>
        </div>
      </div>
    </div>



  </div>
</div>

{% endmacro %}