company{% macro start_hilfe() %}

<div class="hero-body">
  <div class="container has-text-centered">
    <h1 class="title">
      Was ist das hier?
    </h1>
    <div class="block content has-text-left">
      <ul>
        <li>Diese Plattform ist ein gemeinschaftlicher Marktplatz, um Produkte
          und Dienstleistungen auszutauschen.</li>
        <li>Teilnehmer bekommen für geleistete Arbeit Arbeitszeitgeld,
          mit dem sie Angebote bezahlen können.</li>
        <li>Produkte kosten soviel Arbeitszeit,
          wie sie zur Herstellung brauchen. Je mehr Arbeitszeit in einem Produkt steckt, desto "teurer" wird es.</li>
        <li>Einzige Einnahmequelle ist die geleistete Arbeit, jenseits davon ist
          kein Profit möglich. Diese Plattform richtet sich deshalb besonders
          an Genossenschaften, Kooperativen und nicht-kommerzielle Anbieter.</li>
      </ul>
    </div>

    <h1 class="title">
      Wie funktioniert es?
    </h1>

    <div class="block content has-text-left">
      <ul>
        <li>Es gibt "Mitglieder"-Accounts und "Betriebe"-Accounts.</li>
        <ul>
          <li>Als Arbeiter und Konsument brauchst du einen <strong>Mitglieder-Account</strong>.<br>
            Für deine geleistete Arbeit bekommst du von deinem Betrieb Arbeitszeit überwiesen,
            die du gegen Dienstleistungen oder Produkte
            eintauschen kannst. </li>
          <li>Wer Dienstleistungen oder Produkte anbieten will,
            braucht einen <strong>Betriebe-Account</strong>.<br>
            Mit diesem Account kannst du Mitarbeiter mit Hilfe
            ihrer Mitglieder-ID registrieren und berechnen, wieviel Arbeit in deinen Produkten steckt.</li>
          <li>Gelegenheitsverkäufer, Freelancer oder Solo-Selbstständige
            registrieren sowohl einen Mitglieder- als auch
            einen Betriebe-Account und fügen sich selbst als (einzigen) Mitarbeiter hinzu.</li>
        </ul>
      </ul>
    </div>


    <hr>

    <p class="title">
      FAQ
    </p>
    <div class="block content has-text-left">
      <ul>
        <li>xxx1?</li>
        <ul>
          <li>xxx</li>
        </ul>
        <li>xxx2?</li>
        <ul>
          <li>xxx</li>
        </ul>
      </ul>
    </div>
  </div>
</div>

{% endmacro %}



{% macro produktsuche(form, results) %}

<div class="columns is-centered">
  <div class="column is-one-third">
    <h1 class="title">
      Produktsuche
    </h1>
    <div class="box">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div class="notification is-danger">{{ message }} </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

      <form method="post">
        <div class="field">

          <div class="control">
            <div class="select is-large is-fullwidth">
              {{ form.select }}
            </div>
          </div>
          <p class="help">Suche in Name/Beschreibung/Kategorie</p>
        </div>
        <div class="field">
          <div class="control">
            {{ form.search(class_="input is-large") }}
          </div>
          <p class="help">Suchbegriff</p>
        </div>
        <button class="button is-block is-primary is-large is-fullwidth">
          Suche
        </button>
      </form>
    </div>
  </div>
</div>
{% if results is defined and results|length %}
<h1 class="title">
  Ergebnisse
</h1>
<div class="table-container">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th><abbr title="Angebot-ID">ID</abbr></th>
        <th>Produktname</th>
        <th>Betrieb</th>
        <th>Mail</th>
        <th>Beschreibung</th>
        <th>Preis</th>
        <th><abbr title="Noch vorhanden">Vorh.</abbr> </th>
        <th>Kaufen</th>
      </tr>
    </thead>
    <tbody>
      {% for res in results %}
      <tr>
        <td>{{ res.id }}</td>
        <td>{{ res.name }}</td>
        <td>{{ res.plan.planner }}</td>
        <td>
          <a href="mailto:{{ XXX }}">
            <u><span class="icon has-text-grey"><i class="far fa-envelope"></i></span></u>
          </a>
        </td>
        <td>{{ res.description }}</td>
        <td>{{ res.plan.costs_p + res.plan.costs_r + res.plan.costs_a|round(2) }} Std.
        </td>
        <td>{{ res.amount_available }}</td>
        <td>
          <a href="{{ url_for('%s.buy' % (request.blueprint), id=res.id) }}">
            <u><u><span class="icon has-text-grey"><i class="fas fa-shopping-cart"></i></span></u></u>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% endmacro %}