{% extends "base_betriebe.html" %}

{% block content2 %}
<h1 class="title">
  Neues Angebot erstellen
</h1>

<form method="post">
    <div class="field">
      <div class="control">
        {{ form.name(class_="input is-large", placeholder="Name des Produkts", type="text") }}
      </div>
    </div>

    <div class="field">
      <div class="control">
        {{ form.beschreibung(class_="textarea is-large", placeholder="Beschreibung des Produktes", type="text") }}
      </div>
    </div>

<h1 class="subtitle">Kosten für dieses Produkt</h3>

  <table class="table">
    <thead><tr><th>Kauf-Id</th><th>Name</th><th>Beschreibung</th><th>Preis</th><th>Prozent_Gebraucht</th><th>Benutzen (Prozent)</th></tr></thead>
      <tbody>
      {% if produkt_mittel_names %}
        {% for prod_mittel in produkt_mittel_names %}
          <tr><td>{{ prod_mittel[0] }}</td><td>{{ prod_mittel[1] }}</td> <td>{{ prod_mittel[2] }}</td> <td>{{ prod_mittel[3] }}</td> <td>{{ prod_mittel[4] }}</td><td> <input type="number" name="id_{{ prod_mittel[0] }}", value="0", min="0", step="0.5" max="{{ 100 - prod_mittel[4] }}"></td></tr>
        {% endfor %}
      {% endif %}
      </tbody>
  </table>




    <div class="field">
      <label class="label">Arbeit</label>

      <div class="control">
        {{ form.arbeit(class_="input is-large", placeholder="Enthaltene Arbeit (Stunden)", type="number", min="0", step="0.1") }}
      </div>
    </div>

    <button class="button">
      Erstellen
    </button>

</form>


{% endblock %}
