{% extends "base_betriebe.html" %}

{% block content2 %}
<h1 class="title">
  Willkommen, {{ current_user.name }}!
</h1>

<div class="column is-4 is-offset-4">


  <div class="content">
    <table>
      <tr>
        <td>Dein Guthaben:</td><td>{{ current_user.guthaben }} Stunden</td>
      </tr>
      <tr>
        <td>Deine ID:</td><td>{{ current_user.id }}</td>
      </tr>
      <tr>
        <td>Deine Email:</td><td>{{ current_user.email }}</td>
      </tr>
    </table>
  </div>

</div>


{% endblock %}
