{% extends "base.html" %}
{% block content1 %}

<section class="hero is-fullheight">
        <div class="hero-head">
          <nav class="navbar is-light" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a role="button" class="navbar-burger" onclick="expandMenu()" aria-label="menu" aria-expanded="false" data-target="navbarOnTop">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
            <div id="navbarOnTop" class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                      <a class="button" href="{{ url_for('auth.start') }}">
                          Zurück
                      </a>
                    </div>
                </div>
            </div>
          </nav>
        </div>




      <div class="hero-body">
          <div class="container has-text-centered">
              <h1 class="title">
                Was ist das hier?
              </h1>

              <div class="block content has-text-left">
                <ul>
                  <li>Auf dieser Plattform kannst du Produkte und Dienstleistungen gegen Arbeitszeit tauschen.</li>
                  <li>Es gibt "Nutzer"-Accounts und "Betriebe"-Accounts.</li>
                  <ul>
                    <li>Wenn du Dienstleistungen oder Produkte anbieten willst,
                    brauchst du einen <strong>Betriebe-Account</strong>. Dieser Account ist für Solo-Selbstständige und Betriebsleitungen
                    von Genossenschaften oder Kooperativen gedacht
                    oder einfach für Menschen, die anderen gegen ein paar Credits helfen wollen. <br> </li>
                    <li>Als Mitarbeiter brauchst du einen <strong>Nutzer-Account</strong>. Für deine geleistete Arbeit bekommst du
                    Arbeitszeit überwiesen, die du auf der Plattform gegen Dienstleistungen oder Produkte eintauschen kannst.</li>
                  </ul>
                </ul>
              </div>

              <h1 class="title">
                Und wofür das Ganze?
              </h1>

              <div class="block content has-text-left">
                <ul>
                  <li>Eine demokratische Form des Wirtschaftens braucht Transparenz.</li>
                  <li>In der kapitalistischen Wirtschaft ist unklar, weshalb
                    ein Produkt 10 und nicht 100 Euro kostet oder weshalb ein
                    Fußball-Profi in der gleichen Zeit so viel mehr als die Putzkraft "verdient".</li>
                  <li>Die Arbeitszeitrechnung schafft diese Transparenz. Diese App soll zeigen,
                  dass Arbeitszeitrechnung nicht nur mit Dienstleistungen, sondern auch mit Produkten klappt.</li>
                </ul>
              </div>
          </div>
      </div>
</section>

{% endblock %}
