{% extends "base_company.html" %}

{% block content2 %}


<h1 class="title">
    Accounts
</h1>
<div class="box has-background-info-light has-text-info-dark">
    <div class="icon"><i class="fas fa-info-circle"></i></div>
    <p>You have four different accounts.</p>
    <p>Click on them to see details.</p>

</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="notification is-danger is-light">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="columns">
    <div class="column"></div>
    <div class="column is-6">
        <div class="table-container">
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% if my_balances is defined and my_balances|length %}
                    <tr>
                        <td class="py-2">Account p</td>
                        <td
                            class="py-2 has-text-weight-bold {{ 'has-text-primary' if my_balances[0] >= 0 else 'has-text-danger' }}">
                            {{ my_balances[0] | round(2) }}</td>
                        <td class="is-italic">Account for fixed means of production</td>
                    </tr>
                    <tr>
                        <td class="py-2">Account r</td>
                        <td
                            class="py-2 has-text-weight-bold {{ 'has-text-primary' if my_balances[1] >= 0 else 'has-text-danger' }}">
                            {{ my_balances[1] | round(2) }}</td>
                        <td class="is-italic">Account for liquid means of production</td>
                    </tr>
                    <tr>
                        <td class="py-2">Account a</td>
                        <td
                            class="py-2 has-text-weight-bold {{ 'has-text-primary' if my_balances[2] >= 0 else 'has-text-danger' }}">
                            {{ my_balances[2] | round(2) }}</td>
                        <td class="is-italic">Account for work certificates (wages)</td>
                    </tr>
                    <tr>
                        <td class="py-2">Account prd</td>
                        <td
                            class="py-2 has-text-weight-bold {{ 'has-text-primary' if my_balances[3] >= 0 else 'has-text-danger' }}">
                            {{ my_balances[3] | round(2) }}</td>
                        <td class="is-italic">Account for product transfers (sales)</td>
                    </tr>
                    {% endif %}
                </tbody>

            </table>
        </div>
        <p><a href="{{ url_for('main_company.list_all_transactions') }}">List all transactions</a></p>
    </div>
    <div class="column"></div>
</div>


{% endblock %}