{% extends "base_company.html" %} {% block content2 %} {% from
"macros_my_plans.html" import plan_table %}

<div class="box has-background-info-light has-text-info-dark">
  <div class="icon"><i class="fas fa-info-circle"></i></div>
  {% for info in infos %}
  <p>{{info}}</p>
  {% endfor %}
</div>

{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %}
<div class="notification is-danger is-light">{{ message }}</div>
{% endfor %} {% endif %} {% endwith %} {{ plan_table(active_plans) }} {{
plan_table(non_active_plans) }} {{ plan_table(expired_plans) }} {% endblock %}
