alabaster==0.7.13
alembic==1.9.4
aniso8601==9.0.1
attrs==22.2.0
Babel==2.12.1
black==23.1.0
blinker==1.5
Brotli==1.0.9
brotlicffi==1.0.9
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
click==8.1.3
contourpy==1.0.7
coverage==7.2.1
cycler==0.11.0
deepdiff==6.3.0
defusedxml==0.7.1
dnspython==2.3.0
docutils==0.19
email-validator==1.3.1
exceptiongroup==1.1.0
flake8==6.0.0
Flask==2.2.3
flask-babel==3.1.0
Flask-HTTPAuth==4.8.0
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Migrate==4.0.4
flask-restx==1.1.0
Flask-SQLAlchemy==3.0.3
flask-talisman==1.0.0
Flask-WTF==1.1.1
fonttools==4.38.0
greenlet==2.0.2
gunicorn==20.1.0
idna==3.4
imagesize==1.4.1
iniconfig==2.0.0
is-safe-url==1.0
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.17.3
kiwisolver==1.4.4
Mako==1.2.4
MarkupSafe==2.1.2
matplotlib==3.7.0
mccabe==0.7.0
mypy==1.0.1
mypy-extensions==0.4.3
numpy==1.24.2
olefile==0.46
ordered-set==4.1.0
orjson==3.8.11
packaging==23.0
parameterized==0.8.1
pathspec==0.11.0
pbr==5.11.1
Pillow==9.4.0
pip==23.0.1
platformdirs==3.0.0
pluggy==1.0.0
psycopg2==2.9.5
py==1.11.0
pycodestyle==2.10.0
pycparser==2.21
pyflakes==3.0.1
Pygments==2.14.0
pyparsing==3.0.9
pyrsistent==0.19.3
PySocks==1.7.1
PyStemmer==2.2.0
pytest==7.2.1
python-dateutil==2.8.2
pytz==2023.3
requests==2.29.0
setuptools==67.4.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==5.3.0
sphinxcontrib-apidoc==0.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
SQLAlchemy==2.0.13
tomli==2.0.1
types-python-dateutil==2.8.19
typing_extensions==4.5.0
urllib3==1.26.14
watchdog==3.0.0
Werkzeug==2.2.3
wheel==0.38.4
WTForms==3.0.1
