recursive-include arbeitszeit_flask/templates *.html
recursive-include arbeitszeit_flask/static *.js *.css favicon.ico
recursive-include arbeitszeit_flask/translations *.po *.mo *.pot
recursive-include arbeitszeit_db/migrations *.ini *.mako *.py
prune build/
prune .git/
