-r requirements.txt

black
flake8
gunicorn
isort
mypy
parameterized
psycopg2
pytest
sphinx
types-python-dateutil
types-pytz
types-setuptools

git+https://github.com/seppeljordan/flask-profiler.git#egg=flask-profiler
