{% extends "base.html" %}

{% block navigation_items %}
<div class="navbar-item">
  <a class="button is-primary" href="{{ url_for('auth.start') }}">
    {{ gettext('Start') }}
  </a>
</div>
{% endblock %}

{% block content %}
<section class="section">
  <h1 class="title is-1">Nutzerhandbuch</h1>
</section>
<section class="section">
    <div class="columns">
      <div class="column is-3">
        <aside class="menu">
          <ul class="menu-list">
            <li>
              <a href="#users">Nutzerrollen</a>
              <ul>
                <li><a href="#members">Mitglieder</a></li>
                <li><a href="#companies">Betriebe</a></li>
                <li><a href="#accountants">Buchhalter*innen</a></li>
              </ul>
            </li>
          </ul>
        </aside>
      </div>
      <div class="column">  
        <section class="section" id="users">
          <h2 class="title is-2">Nutzerrollen</h2>
        </section>
        <section class="section" id="members">
          <h2 class="title is-3">Mitglieder</h2>
          <div class="content has-text-justified">
            <p>Mitglieder sind in
              Betrieben beschäftigt und erhalten
              Arbeitszertifikate für geleistete Arbeit.
            </p>
          </div>
          <h3 class="title is-4">Registrierung und Anmeldung</h3>
          <div class="content has-text-justified">
            <p>Registrierung und Anmeldung erfolgen auf der
              Startseite.</p>
          </div>
          <h3 class="title is-4">Betriebszugehörigkeit</h3>
          <div class="content has-text-justified">
            <p>
              Betriebe senden Einladungen an registrierte Mitglieder. Wenn 
              das Mitglied die Einladung bestätigt, gilt es 
              als beim einladenden Betrieb beschäftigt. 
            </p>
          </div>
          <h3 class="title is-4">Arbeitszertifikate und Konsum</h3>
          <div class="content has-text-justified">
            <p>
              Wenn ein Betrieb registriert, dass ein Mitglied Arbeit geleistet hat, 
              bekommt dieses Mitglied Arbeitszertifikate auf sein Konto überwiesen.
            </p>
          </div>
        </section>
        <section class="section" id="companies">
          <h2 class="title is-3">Betriebe</h2>
          <div class="content has-text-justified">
            <p>
              Betriebe nutzen diese Anwendung unter anderem  für Planerstellung, 
              Einsicht in Statistiken und  Weitergabe von Arbeitszertifikaten 
              an Arbeiter*innen.
            </p>
          </div>
          <h3 class="title is-4">Registrierung und Anmeldung</h3>
          <div class="content has-text-justified">
            <p>Registrierung und Anmeldung erfolgen auf der
              Startseite.</p>
          </div>
        </section>
        <section class="section" id="accountants">
          <h2 class="title is-3">Buchhalter*innen</h2>
          <div class="content has-text-justified">
            <p>
              Buchhalter*innen genehmigen im Auftrag der Gesellschaft
              die Pläne der Betriebe.
            </p>
          </div>
          <h3 class="title is-4">Registrierung und Anmeldung</h3>
          <div class="content has-text-justified">
            <p>
              Buchhalter*innen erhalten vom Systemadministrator einen Einladungslink, 
              mit dem sie sich registrieren und einloggen können. 
            </p>
          </div>
        </section>
      </div>
    </div>
</section>
{% endblock %}
