{% extends "base_general_pages.html" %}

{% block general_pages %}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" onclick="expandMenu()" aria-label="menu" aria-expanded="false"
      data-target="navbarOnTop">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarOnTop" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <a class="button" href="{{ url_for('auth.start') }}">
          Zurück
        </a>
      </div>
    </div>
  </div>
</nav>

{% from 'macros.html' import start_hilfe %}
{{ start_hilfe() }}

{% endblock %}