{% extends "base_general_pages.html" %}

{% block body %}
<section class="hero is-fullheight">
  {{ super() }}
</section>
{% endblock %}

{% block navigation %}
<div class="hero-head">
  {{ super() }}
</div>
{% endblock %}

{% block content %}
<div class="hero-body">
  <div class="container has-text-centered">
    <h1 class="title">
      <!-- do not translate -->
      Arbeitszeit
    </h1>
    <h2 class="subtitle">
      {{ gettext('A platform for working time calculation.') }}
    </h2>
    <div class="buttons is-centered">
      <a class="button" href="{{ url_for('auth.login_member') }}">{{ gettext('Member') }}</a>
      <a class="button" href="{{ url_for('auth.login_company') }}">{{ gettext('Company') }}</a>
      <a class="button" href="{{ url_for('auth.login_accountant') }}">{{ gettext('Accountant') }}</a>
    </div>
  </div>
</div>
{% endblock %}
