{% extends "base_general_pages.html" %}

{% block general_pages %}
<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger" onclick="expandMenu()" aria-label="menu" aria-expanded="false"
            data-target="navbarOnTop">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarOnTop" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button" href="{{ url_for('auth.logout') }}">
                        Logout
                    </a>
                    <a class="button is-primary" href="{{ url_for('auth.help') }}">
                        Hilfe
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="section is-medium has-text-centered">
    <h1 class="title">
        Arbeitszeit
    </h1>
    <h2 class="subtitle">
        Eine Plattform für Arbeitszeitrechnung.
    </h2>

    <div class="notification is-success">
        <h1>Willkommen!</h1>
        <br>
        <p>Bitte bestätige dein Konto.<br>Schaue in deine Mailbox (und deinen Spam-Ordner)
            - du solltest eine Email mit einem Bestätigungslink erhalten haben.</p>
        <p>Du hast keine Email bekommen? <a href="{{ url_for('auth.resend_confirmation_member') }}">Erneut
                senden</a>.
        </p>
    </div>
</div>
{% endblock %}