{% extends "base.html" %}

{% block content %}
<div class="section is-medium has-text-centered">
    <h1 class="title">
        Arbeitszeit
    </h1>
    <h2 class="subtitle">
        {{ gettext("A platform for working time calculation.") }}
    </h2>


    <div class="notification is-success">
        <h1>{{ gettext("Welcome!") }}</h1>
        <br>
        <p>{{ gettext("Please confirm your account.") }}<br>
            {{ gettext("Check your mailbox (and your spam folder) - you should have received an email with a confirmation link.") }}</p>
        <p>{{ gettext("You did not get an email?") }} <a href="{{ url_for('auth.resend_confirmation_company') }}">{{
                gettext("Resend mail") }}</a>.
        </p>
    </div>
</div>
{% endblock %}
