{% from 'macros/language_selection.html' import language_selection with context %}

{% macro accountant_navigation() %}

<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item has-background-primary has-text-white">
      <a href="{{ url_for('main_user.account_details') }}"
         class="navbar-item"
         >
        <span class="icon">{{ "book"|icon }}</span>&nbsp;
        {{ current_user.name|truncate(20, True) }}
      </a>
    </div>

    <a role="button" class="navbar-burger" onclick="expandMenu()" aria-label="menu" aria-expanded="false"
      data-target="navbarOnTop">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarOnTop" class="navbar-menu">
    <div class="navbar-start">
      <a href="{{ url_for('main_accountant.dashboard') }}" class="navbar-item">
        {{ gettext("Dashboard") }}
      </a>
      {{ caller() }}
    </div>

    <div class="navbar-end">
      {{ language_selection() }}
      <div class="navbar-item">
        <a class="button" href="{{ url_for('auth.logout') }}">
          {{ gettext("Sign out")}}
        </a>
      </div>
    </div>
  </div>
</nav>

{% endmacro %}
