{% from 'macros/language_selection.html' import language_selection with context %}

{% macro anonymous_navigation(user_name) %}

<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item has-background-primary has-text-white">
      <a href="{{ url_for('auth.start') }}"
         class="navbar-item"
         >
        Arbeitszeitapp
      </a>
    </div>

    <a role="button" class="navbar-burger" onclick="expandMenu()" aria-label="menu" aria-expanded="false"
      data-target="navbarOnTop">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarOnTop" class="navbar-menu">
    <div class="navbar-start">
      {{ caller() }}
    </div>
    <div class="navbar-end">
      {{ language_selection() }}
      <div class="navbar-item">
	<a class="button is-primary" href="{{ url_for('auth.help') }}">
	  {{ gettext('Help') }}
	</a>
      </div>
      <div class="navbar-item">
        <a class="button" href="{{ url_for('auth.start') }}">
          {{ gettext("Back")}}
        </a>
      </div>
    </div>
  </div>
</nav>

{% endmacro %}
