{% macro coop_summary(view_model) %}
{% from 'macros/show_notifications.html' import show_notifications %}

<div class="columns is-centered">
    <div class="column is-two-thirds">
        <div class="content">
            <h1 class="title">
                Kooperation
            </h1>
        </div>
        {{ show_notifications() }}

        <br>
        <div class="table-container">
            <table class="table is-fullwidth">
                <tbody>
                    <tr>
                        <td class="has-text-left has-text-weight-semibold">ID:</td>
                        <td class="has-text-left">{{ view_model.coop_id }}</td>
                    </tr>
                    <tr>
                        <td class="has-text-left has-text-weight-semibold">Name:</td>
                        <td class="has-text-left">{{ view_model.coop_name }}</td>
                    </tr>
                    <tr>
                        <td class="has-text-left has-text-weight-semibold">Definition:</td>
                        <td class="has-text-left">{% for parag in view_model.coop_definition %} {{ parag }} {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td class="has-text-left has-text-weight-semibold">Koordinator:</td>
                        <td class="has-text-left">{{ view_model.coordinator_id }}</td>
                    </tr>
                </tbody>
            </table>
            <h1 class="title is-4">
                Teilnehmende Pläne
            </h1>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Plan</th>
                        <th>Individueller Preis</th>
                        <th>Kooperationspreis</th>
                        {% if view_model.show_end_coop_button %}
                        <th>Kooperation beenden</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for plan in view_model.plans %}
                    <tr>
                        <td><a href="{{ plan.plan_url }}">{{ plan.plan_name }}</a></td>
                        <td>{{ plan.plan_individual_price }}</td>
                        <td>{{ plan.plan_coop_price }}</td>
                        {% if view_model.show_end_coop_button %}
                        <td>
                            <a class="button is-small is-danger" href="{{ plan.end_coop_url }}">
                                <span class="icon">
                                    <i class="fas fa-times"></i>
                                </span>
                                <span>Beenden</span>
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endmacro %}