{% macro coop_summary(view_model) %}

<div class="section has-text-centered">
    <div class="content">
        <h1 class="title">
            {{ gettext("Cooperation") }}
        </h1>
    </div>
    <br>
    <div class="table-container">
        <table class="table has-text-left mx-auto">
            <tbody>
                <tr>
                    <td class="has-text-left has-text-weight-semibold">{{ gettext("ID") }}</td>
                    <td class="has-text-left">{{ view_model.coop_id }}</td>
                </tr>
                <tr>
                    <td class="has-text-left has-text-weight-semibold">{{ gettext("Name") }}</td>
                    <td class="has-text-left">{{ view_model.coop_name }}</td>
                </tr>
                <tr>
                    <td class="has-text-left has-text-weight-semibold">{{ gettext("Definition") }}</td>
                    <td class="has-text-left">{% for parag in view_model.coop_definition %} {{ parag }} {%
                                endfor %}
                    </td>
                </tr>
                <tr>
                    <td class="has-text-left has-text-weight-semibold">{{ gettext("Coordinator") }}</td>
                    <td class="has-text-left"><a
                            href="{{ view_model.coordinator_url }}">{{ view_model.coordinator_name }}</a></td>
                </tr>
            </tbody>
        </table>
        <h1 class="title is-4">
            {{ gettext("Participating plans") }}
        </h1>
        <table class="table has-text-left mx-auto">
            <thead>
                <tr>
                    <th>{{ gettext("Plan") }}</th>
                    <th>{{ gettext("Individual price") }}</th>
                    <th>{{ gettext("Cooperation price") }}</th>
                    {% if view_model.show_end_coop_button %}
                    <th>{{ gettext("End cooperation") }}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for plan in view_model.plans %}
                <tr>
                    <td><a href="{{ plan.plan_url }}">{{ plan.plan_name }}</a></td>
                    <td>{{ plan.plan_individual_price }}</td>
                    <td>{{ plan.plan_coop_price }}</td>
                    {% if view_model.show_end_coop_button %}
                    <td>
                        <a class="button is-small is-danger" href="{{ plan.end_coop_url }}">
                            <span class="icon">
                                <i class="fas fa-times"></i>
                            </span>
                            <span>{{ gettext("End") }}</span>
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}