<!-- This macro draws all the relevant fields for a draft edit/create
form.  When you use this in templates, remember to include the csrf
token field and buttons to submit. -->
{% from 'macros/tooltips.html' import info_tooltip %}
{% from 'macros/form_field_error.html' import display_form_field_errors %}

{% macro draft_form(form) %}
<div>
  {% if form.general_errors %}
  <ul class="has-text-danger has-text-weight-bold">
    {% for error in form.general_errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
<div class="box has-background-info-light">
  <div class="has-text-right has-text-info-dark">
    {{ info_tooltip(id="id_product_name_description", text=gettext("Specify product name and description."))}}
  </div>
  <div class="field">
    <label class="label">{{ gettext("Product name")}}</label>
    <div class="control">
      <input type="text" class="input is-large" name="prd_name" value="{{ form.product_name_value }}">
    </div>
    {{ display_form_field_errors(form.product_name_errors) }}
  </div>

  <div class="block"></div>
  <div class="field">
    <label class="label">{{ gettext("Product description")}}</label>
    <div class="control">
      <textarea class="textarea is-large" name="description">{{ form.description_value }}</textarea>
    </div>
  </div>
  {{ display_form_field_errors(form.description_errors) }}
</div>

<div class="block py-2"></div>
<div class="box has-background-info-light">
  <div class="has-text-right has-text-info-dark">
    {{ info_tooltip(id="id_timeframe", text=gettext("Choose a planning timeframe in which you are planning to produce and deliver your product."))}}
  </div>
  <div class="field">
    <label class="label">{{ gettext("Planning timeframe")}}</label>
    <div class="control">
      <input type="number" class="input is-large" name="timeframe" placeholder="{{ gettext('Days') }}" value="{{ form.timeframe_value }}">
    </div>
  </div>
  {{ display_form_field_errors(form.timeframe_errors) }}
</div>

<div class="block py-2"></div>
<div class="box has-background-info-light">
  <div class="field">
    <div class="has-text-right has-text-info-dark">
      {{ info_tooltip(id="id_unit", text=gettext("This value is used for informational purposes only, i.e. you do not have to adhere to any rules here. For example, if you plan to produce beverages, you are free to choose if your smallest delivery unit is one can or one six-pack of cans."))}}
    </div>
    <label class="label">{{ gettext("Smallest delivery unit")}}</label>
    <div class="control">
      <input type="text" class="input is-large" name="prd_unit" value="{{ form.unit_of_distribution_value }}" >
      <p class="help">{{ gettext("E.g. 1 package, 1 kilogram, 20 bottles, 1 language lesson, etc.")}}</p>
    {{ display_form_field_errors(form.unit_of_distribution_errors) }}
    </div>
  </div>

  <div class="block"></div>
  <div class="field">
    <div class="has-text-right has-text-info-dark">
      {{ info_tooltip(id="id_amount", text=gettext("How many of your \"smallest delivery unit\" will you produce in total? By dividing the sum of your production costs by this amount, the app calculates how much labour time is required to produce one piece of your product."))}}
    </div>
    <label class="label">{{ gettext("Amount")}}</label>
    <div class="control">
      <input type="number" class="input is-large" name="prd_amount" value="{{ form.amount_value }}" >
    </div>
  </div>
  {{ display_form_field_errors(form.amount_errors) }}
</div>

<div class="block py-2"></div>
<div class="box has-background-info-light">
  <div class="field">
    <div class="has-text-right has-text-info-dark">
      {{ info_tooltip(id="id_fixed_means", text=gettext("This field is mainly to account for wear and tear of machines. E.g. if you plan to use a machine that cost 10000 hours to produce, for 10 years, and you have ten one-year-plans, then for this fixed mean of production, the value would be 1000."))}}
    </div>
    <label class="label">{{ gettext("Costs for fixed means of production")}}</label>
    <div class="control">
      <input type="number" class="input is-large" name="costs_p" placeholder="{{ gettext('Hours') }}" value="{{ form.means_cost_value }}" >
    </div>
    {{ display_form_field_errors(form.means_cost_errors) }}
  </div>
  
  <div class="block"></div>
  <div class="field">
    <div class="has-text-right has-text-info-dark">
      {{ info_tooltip(id="id_liquid_means", text=gettext("Here, recurring costs from raw materials and consumables are summarized, e.g. electricity, rent for production halls, maintenance of machines etc."))}}
    </div>
    <label class="label">{{ gettext("Costs for liquid means of production")}}</label>
    <div class="control">
      <input type="number" class="input is-large" name="costs_r" placeholder="{{ gettext('Hours') }}" value="{{ form.resource_cost_value }}" >
    </div>
    {{ display_form_field_errors(form.resource_cost_errors) }}
  </div>
  
  <div class="block"></div>
  <div class="field">
    <div class="has-text-right has-text-info-dark">
      {{ info_tooltip(id="id_labour", text=gettext("Planned hours of human work."))}}
    </div>
    <label class="label">{{ gettext("Costs for labour")}}</label>
    <div class="control">
      <input type="number" class="input is-large" name="costs_a" placeholder="{{ gettext('Hours') }}" value="{{ form.labour_cost_value }}" >
    </div>
  {{ display_form_field_errors(form.labour_cost_errors) }}
  </div>
</div>

<div class="block py-2"></div>
<div class="box has-background-info-light">
  <div class="has-text-right has-text-info-dark">
    {{ info_tooltip(id="id_type", text=gettext("Products and services within a supply chain should not be marked public. Only checkmark this box if your product will be generally and freely available."))}}
  </div>
  <div class="field">
    <input type="checkbox" name="is_public_plan" {% if form.is_public_plan_value %}checked{% endif %}>
    <label for="is_public_plan">{{ gettext("This plan is a public service")}}</label>
    {{ display_form_field_errors(form.is_public_plan_errors) }}
  </div>
</div>

{% endmacro %}
