{% macro query_companies(form, view_model) %}
<div class="section has-text-centered">
    <h1 class="title">
        {{ gettext("Search companies") }}
    </h1>
    <div class="columns is-centered">
        <div class="column is-4">
            <form method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="field">
                    <div class="control">
                        <div class="select is-large is-fullwidth">
                            {{ form.select }}
                        </div>
                    </div>
                    <p class="help">{{ gettext("Search by name or email")}}</p>
                </div>
                <div class="field">
                    <div class="control">
                        {{ form.search(class_="input is-large") }}
                    </div>
                </div>
                <button class="button is-block is-primary is-large is-fullwidth">
                    Suche
                </button>
            </form>
        </div>
    </div>
    {% if view_model.show_results %}
    <h1 class="title">
        {{ gettext("Results") }}
    </h1>
    <div class="columns">
        <div class="column"></div>
        <div class="column is-8">
            <div class="table-container">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>{{ gettext("Name") }}</th>
                            <th>{{ gettext("Email")}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for column in view_model.results.rows %}
                        <tr>
                            <td><a href="{{ column.company_summary_url }}">{{ column.company_name }}</a></td>
                            <td>{{ column.company_email }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="column"></div>
    </div>
    {% endif %}
</div>
{% endmacro %}