{% macro query_plans(form, view_model) %}
<div class="section has-text-centered">
    <div class="columns is-centered">
        <div class="column is-one-third">
            <h1 class="title">
                {{ gettext("Active plans") }}
            </h1>
            <form method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="field">
                    <div class="control">
                        <div class="select is-large is-fullwidth">
                            {{ form.select }}
                        </div>
                    </div>
                    <p class="help">{{ gettext("Search by plan ID or product name") }}</p>
                </div>
                <div class="field">
                    <div class="control">
                        {{ form.search(class_="input is-large") }}
                    </div>
                </div>
                <button class="button is-block is-primary is-large is-fullwidth">
                    Suche
                </button>
            </form>
        </div>
    </div>
    <h1 class="title">
        Ergebnisse
    </h1>
</div>

{% if view_model.show_results %}
<div class="section">
    <div class="columns is-centered">
        <div class="column is-one-third">
            {% for column in view_model.results.rows %}
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong><a href="{{ column.plan_summary_url }}">{{ column.product_name }}</a></strong>
                            <small class="is-italic">{{ column.type_of_plan }}</small>
                            <br>
                            <small>@{{ column.company_name }}</small>
                            <br>
                            {% for paragraph in column.description %}{{ paragraph }}<br>{% endfor %}
                        </p>
                    </div>
                    <div>
                        {% if not column.is_available %}
                        <span class="tag is-danger">{{ gettext("Product not available") }}</span>
                        {% endif %}
                        {% if column.is_cooperating %}
                        <span class="tag is-primary">{{ gettext("Cooperating plan") }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="media-right">
                    {{ column.price_per_unit }}
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endmacro %}