{% macro query_plans(form, view_model) %}
<div class="section has-text-centered">
    <div class="columns is-centered">
        <div class="column is-one-third">
            <h1 class="title">
                Aktive Pläne
            </h1>
            <form method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="field">
                    <div class="control">
                        <div class="select is-large is-fullwidth">
                            {{ form.select }}
                        </div>
                    </div>
                    <p class="help">Suche in Plan-ID oder Produktname</p>
                </div>
                <div class="field">
                    <div class="control">
                        {{ form.search(class_="input is-large") }}
                    </div>
                </div>
                <button class="button is-block is-primary is-large is-fullwidth">
                    Suche
                </button>
            </form>
        </div>
    </div>
    {% if view_model.show_results %}
    <h1 class="title">
        Ergebnisse
    </h1>
    <div class="table-container">
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Plan-ID</th>
                    <th>Produktname</th>
                    <th>Betrieb</th>
                    <th>Beschreibung</th>
                    <th>Stückpr.</th>
                    <th>Art</th>
                    <th>Endet in</th>
                    <th>Verfügbar</th>
                </tr>
            </thead>
            <tbody>
                {% for column in view_model.results.rows %}
                <tr>
                    <td><a href="{{ column.plan_summary_url }}">{{ column.plan_id }}</a>
                    </td>
                    <td>{{ column.product_name }}</td>
                    <td><a href="{{ column.company_summary_url }}">{{ column.company_name }}</a></td>
                    <td>{% for paragraph in column.description %}{{ paragraph }}<br>{% endfor %}</td>
                    <td>{{ column.price_per_unit }} {% if column.is_cooperating %} <span>
                            <a href="{{ column.coop_summary_url }}"><i class="fas fa-hands-helping"></i></a></span>{%
                        endif %}
                    </td>
                    <td>{{ column.type_of_plan }}</td>
                    <td>{{ column.ends_in }}</td>
                    {% if column.is_available %}
                    <td>
                        <span class="icon has-text-success"><i class="fas fa-circle"></i></span>
                    </td>
                    {% else %}
                    <td>
                        <span class="icon has-text-danger"><i class="fas fa-circle"></i></span>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endmacro %}