{% macro start_hilfe() %}
<div class="hero-body">
  <div class="container has-text-left">
    <div class="column is-8 is-offset-2">
      <section class="section">
        <h1 class="title is-1">Nutzerhandbuch Arbeitszeitapp</h1>
      </section>
      <section class="section">
        <div class="content">
          <h5 class="title is-5">Inhaltsverzeichnis</h5>
          <ol>
            <li><a href="#intro">Einführung</a></li>
            <li><a href="#users">Nutzer*innen</a></li>
            <ol type="a">
              <li><a href="#members">Mitglieder</a></li>
              <li><a href="#companies">Betriebe</a></li>
              <li>Buchhalter*innen</li>
              <li>Administrator*innen</li>
            </ol>
            <li><a href="#contact">Kontakt</a></li>
          </ol>
        </div>
      </section>

      <section class="section" id="intro">
        <h2 class="title is-2">1. Einführung</h2>
        <div class="content has-text-justified">
          <p>Arbeitszeitapp ist eine Plattform, die die
            Kooperation zwischen Kollektivbetrieben und
            Genossenschaften erleichtert. Sie ermöglicht
            zwischen den Betrieben eine Art
            Planwirtschaft. Wir meinen damit keine
            staatliche, sondern eine dezentrale
            Planwirtschaft, die von den Kollektivbetrieben
            und Genossenschaften selbst durchgeführt wird.
          </p>
          <p>
            Um zu verstehen, in welchem Szenario diese App nützlich
            sein könnte stellen wir uns ein Netzwerk von 30
            Kollektivbetrieben mit je 20 Mitarbeiter*innen vor. Die
            Belegschaften (600 Menschen) beschließen, ihre Produkte
            und Dienstleistungen untereinander auf der Basis von
            Arbeitszeit statt Geld auszutauschen. Sie sind bereit, ihr
            Privateigentum an Produktionsmitteln in eine
            betriebsübergreifende Kooperative einzubringen.
          </p>
          <p>
            Nun stellen sich einige Herausforderungen: Wie
            kann der Austausch innerhalb dieser
            Gemeinschaft organisiert werden?  Wie kann die
            "ordnende Funktion", die das Geld (eher
            schlecht als recht) erfüllt hat, ersetzt
            werden? Woher wissen die Arbeiter*innen,
            wieviel Arbeit in den einzelnen Produkten
            steckt, wie erkennen sie Verschwendung? Etc.
          </p>
          <p>
            Um diese Aufgaben zu lösen, wurde diese
            Plattform programmiert. Die Theorie dahinter
            ist keineswegs neu, sondern enstammt der
            Arbeiterbewegung, geht auf Frühsozialisten,
            Marx und Engels sowie die Gruppe
            Internationaler Kommunisten (GIK) zurück und
            hat heutzutage in Zeitbanken oder Tauschringen
            entfernte Verwandte.
          </p>
          <p>
            Die Anwendung ist Open Source,
            wird in verschiedene Sprachen übersetzt und
            kann kostenlos von Betrieben, Kooperativen,
            Kommunen und Organisationen genutzt werden.
            Im Folgenden sollen ihre Funktionen erklärt werden.
          </p>
        </div>
      </section>

      <section class="section">
        <h2 class="title is-2">Gemeinsam planen</h2>
        <div class="content has-text-justified">
          <p>
            Wir sollten uns zunächst einen groben Überblick
            verschaffen, wie diese dezentrale Planwirtschaft
            funktioniert.  Man wird bemerken, dass Computer für
            diese Ökonomie eigentlich gar nicht notwendig sind
            (aber vieles vereinfachen).
          </p>
          <p>
            Am Anfang ist der Plan: Die Betriebe selbst
            erstellen Pläne, in denen sie beschreiben, wieviel
            Arbeit sie für ihre Produkte aufwenden.  Sie
            beschreiben auch, wieviel Produkt sie herstellen und
            wie lange sie dafür brauchen werden. Aus diesen Angaben lässt sich
            ein "Preis" des Produktes in Arbeitszeit errechnen. 
          </p>
          <p>
            Diese Pläne werden bei der zentralen "Buchhaltung"
            eingereicht. Diese kann man sich wie ein Sekretariat der
            gemeinsamen Ökonomie vorstellen. Diese Buchhaltung prüft
            und genehmigt die Pläne. Sobald ein Plan genehmigt wurde,
            erhält der Betrieb Arbeitszertifikate in Höhe der im Plan
            angegebenen Kosten. Der Plan wird veröffentlicht und das Produkt
            zum errechneten "Preis" erworben werden.
          </p>
          <p>
            Das Ziel der Betriebe ist es, möglichst gut zu planen.
            Ihre Kosten für Produktionsmittel und Arbeit (beides in Arbeitszeit)
            und ihr abgegebenes Produkt sollten am Ende des Plaungszeitraums
            möglichst nah am im Plan angegebenen Wert sein.
          </p>
          <p>
            Sie selbst sind also dafür verantwortlich, Pläne zu
            erstellen und einzuhalten! Wenn sie die Kosten, den
            Planungszeitraum oder die Menge an weitergegebenen Produkt
            schlecht kalkuliert haben, wird das in den Konten des
            Betriebs sichtbar sein.
          </p>
        </div>
      </section>

      
      <section class="section" id="users">
        <h2 class="title is-2">2. Nutzer*innen</h2>
        <div class="content has-text-justified">
          <p>
            Es gibt vier verschiedene Arten von
            Nutzer*innen auf dieser Plattform, deren
            Accounts je unterschiedliche Funktionen haben.
          </p>
        </div>
      </section>

      <section class="section" id="members">
        <h2 class="title is-2">a. Mitglieder</h2>
        <h3 class="title is-4">Allgemeines</h3>
        <div class="content has-text-justified">
          <p>Mitglieder sind im Regelfall Teil eines
            Betriebes und erhalten von diesem Betrieb
            Arbeitszertifikate für ihre geleistete Arbeit.
            Diese Arbeitszertifkate wiederum können sie an
            Betriebe überweisen, deren Produkte sie
            konsumieren möchten. Es ist auch möglich,
            einen Mitglieder-Account zu erstellen, ohne
            Teil eines Betriebs zu sein.
          </p>
        </div>
        <h3 class="title is-4">Registrierung und Anmeldung</h3>
        <div class="content has-text-justified">
          <p>Die Registrierung erfolgt auf der der
            Startseite. Email-Adresse, Name und Passwort
            müssen angegeben werden. Nach erfolgreicher
            Registrierung wird ein Bestätigungslink an die
            angegebene Email-Adresse geschickt.
          </p>
          <p>
            Nach dem Klick auf den Bestätigungslink könnt
            ihr euch mit Adresse und Passwort
            anmelden. Ihr werdet auf das Dashboard
            weitergeleitet.
          </p>
        </div>
        <h3 class="title is-4">Dashboard</h3>
        <div class="content has-text-justified">
          <p>Auf dem Dashboard finden Mitglieder die folgenden Module:</p>
          <p>Mein Bereich</p>
          <ul>
            <li>Persönliche Daten</li>
            <li>Produkt bezahlen</li>
            <li>Mein Konto</li>
            <li>Meine Käufe</li>
          </ul>
          <p>Öffentliche Buchhaltung</p>
          <ul>
            <li>Neueste Pläne</li>
            <li>Globale Statistiken</li>
            <li>Alle Betriebe</li>
            <li>Alle Pläne</li>
          </ul>
        </div>
      </section>

      <section class="section" id="companies">
        <h2 class="title is-2">b. Betriebe</h2>
        <h3 class="title is-4">Allgemeines</h3>
        <div class="content has-text-justified">
          <p>
            Betriebe nutzen diese Plattform für viele
            verschiedene Dinge: Von Planeinreichung über
            Weitergabe der Arbeitszertifikate bis hin zur
            Bezahlung von Produktionsmitteln.
          </p>
          <p>
            Die Anzahl der Funktionen mag auf den ersten Blick
            verwirrend sein, zumal darunter Funktionen sind,
            die in einer Konkurrenzwirtschaft so nicht
            existieren: Preiskooperation etwa, oder
            Plannerstellung, oder Konten für
            Arbeitszertifikate. Wir sind aber zuversichtlich,
            dass die Funktionen nach einer recht kurzen
            Einarbeitung vollständig begriffen werden können.
          </p>
          <p>
            xxxx
          </p>
          
        </div>
        <h3 class="title is-4">Registrierung und Anmeldung</h3>
        <div class="content has-text-justified">
          <p>Die Registrierung erfolgt auf der der
            Startseite. Email-Adresse, Name und Passwort
            müssen angegeben werden. Nach erfolgreicher
            Registrierung wird ein Bestätigungslink an die
            angegebene Email-Adresse geschickt.
          </p>
          <p>Nach dem Klick auf den Bestätigungslink könnt ihr euch mit Adresse und 
            Passwort anmelden. Ihr werdet auf das Dashboard weitergeleitet.</p>
        </div>
        <h3 class="title is-4">Dashboard</h3>
        <div class="content has-text-justified">
          <p>Auf dem Dashboard finden Betriebe die folgenden Module:</p>
          <p>Häufige Aktionen:</p>
          <ul>
            <li>Persönliche Daten</li>
            <li>Neuen Plan erstellen</li>
            <li>Produktionsmittel bezahlen</li>
            <li>Arbeiter*innen bezahlen</li>
          </ul>
          <p>Betriebliche Buchführung</p>
          <ul>
            <li>Betrieb</li>
            <li>Pläne</li>
            <li>Konten</li>
            <li>Kooperationen</li>
            <li>Käufe</li>
            <li>Arbeiter*innen</li>
          </ul>
          <p>Öffentliche Buchhaltung</p>
          <ul>
            <li>Neueste Pläne</li>
            <li>Globale Statistiken</li>
            <li>Alle Betriebe</li>
            <li>Alle Pläne</li>
            <li>Alle Kooperationen</li>
          </ul>
        </div>
        <h3 class="title is-4">Neuen Plan erstellen</h3>
        <p>Die vielleicht wichtigste Funktion. Zuerst geben
          Betriebe im Plan an, wieviel Arbeit sie in ihren
          Produkte aufwenden.  Dann reichen sie den Plan bei
          der öffentlichen Buchhaltung ein. Sobald die
          Buchhaltung den Plan genehmigt, können andere
          Betriebe und Mitglieder das Produkt erwerben und
          Arbeitszertifikate überweisen.
        </p>
      </section>

      <section class="section" id="contact">
        <h2 class="title is-2">3. Kontakt</h2>
        
        <div class="content has-text-justified">
          Falls Fragen offen geblieben sind, könnt ihr eine Mail schreiben an:
          <a
            href="mailto:community-arbeitszeitapp@systemli.org">community-arbeitszeitapp@systemli.org
          </a>
        </div>
      </section>
    </div>
  </div>
</div>
{% endmacro %}
