{% macro start_hilfe() %}



<section class="section">
  <h1 class="title is-1">Nutzerhandbuch</h1>
</section>

<section class="section">

    <div class="columns">
      <div class="column is-3">
        
        <aside class="menu">
          <p class="menu-label">
            Einleitung
          </p>
          <ul class="menu-list">
            <li><a href="#intro">Warum Arbeitszeit?</a></li>
            <li><a href="#economy">Dezentrale Planwirtschaft</a></li>
          </ul>
          <p class="menu-label">
            App
          </p>
          <ul class="menu-list">
            <li>
              <a href="#users">Nutzer*innen</a>
              <ul>
                <li><a href="#members">Mitglieder</a></li>
                <li><a href="#companies">Betriebe</a></li>
                <li><a>Buchhalter*innen</a></li>
              </ul>
            </li>
          </ul>
          <p class="menu-label">
            Sonstiges
          </p>
          <ul class="menu-list">
            <li><a href="#contact">Kontakt</a></li>
          </ul>
        </aside>
        
      </div>

      <div class="column">
        <section class="section pt-0" id="intro">
          <h2 class="title is-2">Warum Arbeitszeit?</h2>
          <div class="content has-text-justified">
            <p>Arbeitszeitapp ist eine Plattform, die die
              Kooperation zwischen Kollektivbetrieben und
              Genossenschaften erleichtert. Sie ermöglicht
              zwischen den Betrieben eine Art
              Planwirtschaft. Wir meinen damit keine
              staatliche, sondern eine dezentrale
              Planwirtschaft, die von den Kollektivbetrieben
              und Genossenschaften selbst durchgeführt wird.
            </p>
            <p>
              Diese App ist gedacht für Netzwerke von 
              Kollektivbetrieben, die bereit sind,
              ihre Produkte und Dienstleistungen untereinander auf der Basis von
              Arbeitszeit statt Geld auszutauschen und 
              ihr Privateigentum an Produktionsmitteln in eine
              betriebsübergreifende Kooperative einzubringen.
            </p>
          </div>
        </section>
  
        <section class="section" id="economy">
          <h2 class="title is-2">Dezentrale Planwirtschaft</h2>
          <div class="content has-text-justified">
            <p>
              Für diese Wirtschaft ist es von zentraler Bedeutung, dass die Betriebe
              selbst Pläne erstellen. In diesen Plänen beschreiben sie, wieviel
              Arbeit sie für ihre Produkte aufwenden.  Sie
              beschreiben auch, wieviel Produkt sie herstellen und
              wie lange sie dafür brauchen werden. Aus diesen Angaben lässt sich
              ein "Preis" des Produktes in Arbeitszeit errechnen. 
            </p>
            <p>
              Die Pläne der Betriebe werden bei der zentralen "Buchhaltung"
              eingereicht. Diese kann man sich wie ein Sekretariat der
              gemeinsamen Ökonomie vorstellen. Diese Buchhaltung prüft
              und genehmigt die Pläne. Sobald ein Plan genehmigt wurde,
              erhält der Betrieb Arbeitszertifikate in Höhe der im Plan
              angegebenen Kosten. Der Plan wird veröffentlicht und das Produkt
              kann zum errechneten "Preis" erworben werden.
            </p>
            <p>
              Das Ziel der Betriebe ist es, möglichst gut zu planen.
              Ihre Kosten für Produktionsmittel und Arbeit
              sowie ihr abgegebenes Produkt (alles in Arbeitszeit berechnet) sollten am 
              Ende des Plaungszeitraums
              möglichst nah am im Plan angegebenen Wert sein.
            </p>
            <p>
              Sie selbst sind also dafür verantwortlich, Pläne zu
              erstellen und einzuhalten. Wenn sie die Kosten, den
              Planungszeitraum oder die Menge an weitergegebenen Produkt
              schlecht kalkuliert haben, wird das in den Konten des
              Betriebs sichtbar sein.
            </p>
          </div>
        </section>
  
        <section class="section" id="users">
          <h2 class="title is-2">Nutzer*innen</h2>
          <div class="content has-text-justified">
            <p>
              Es gibt vier verschiedene Arten von
              Nutzer*innen auf dieser Plattform, deren
              Accounts je unterschiedliche Funktionalitäten haben.
            </p>
          </div>
        </section>
  
        <section class="section" id="members">
          <h2 class="title is-3">Mitglieder</h2>
          <h3 class="title is-4">Allgemeines</h3>
          <div class="content has-text-justified">
            <p>Mitglieder sind normalerweise Teil eines
              Betriebes und erhalten von diesem Betrieb
              Arbeitszertifikate für ihre geleistete Arbeit.
              Diese Arbeitszertifkate können sie wiederum an
              Betriebe überweisen, deren Produkte sie
              konsumieren möchten.
            </p>
          </div>
          <h3 class="title is-4">Registrierung</h3>
          <div class="content has-text-justified">
            <p>Die Registrierung erfolgt auf der der
              Startseite. Email-Adresse, Name und Passwort
              müssen angegeben werden. Nach erfolgreicher
              Registrierung wird ein Bestätigungslink an die
              angegebene Email-Adresse geschickt.
            </p>
          </div>
          <h3 class="title is-4">Anmeldung</h3>
          <div class="content has-text-justified">
            <p>
              Nach dem Klick auf den Bestätigungslink könnt
              ihr euch mit Adresse und Passwort
              anmelden. Ihr werdet auf das Dashboard
              weitergeleitet.
            </p>
          </div>
          <h3 class="title is-4">Betriebszugehörigkeit</h3>
          <div class="content has-text-justified">
            <p>
              Nach ihrer Anmeldung können Mitglieder Teil eines Betriebs werden. Dazu senden Betriebe Einladungen an
              das Mitglied. Das Mitglied bestätigt die Einladung auf seinem Dashboard. 
            </p>
          </div>
          <h3 class="title is-4">Arbeitszertifikate</h3>
          <div class="content has-text-justified">
            <p>
              Wenn ein Betrieb einen Plan genehmigt bekommt, bekommt er 
              Arbeitszertifikate überwiesen. Diese kann er an seine Arbeiter*innen überweisen. 
              Sie erscheinen im Konto des Mitglieds.
            </p>
          </div>
          <h3 class="title is-4">Produkte bezahlen</h3>
          <div class="content has-text-justified">
            <p>
              Mit den Arbeitszertifikaten auf seinem Konto, kann das Mitglied mit diesen Zertifikaten für Produkte
              bezahlen. Für jedes Produkt und jede Dienstleistung gibt es einen Plan in der Arbeitszeitapp mit einer dazugehörigen
              Plan-ID. Mit dieser Plan-ID können Mitglieder für das entsprechende Produkt bezahlen. Die Plan-ID enthalten die 
              Konsument*innen entweder direkt vom Anbieter, oder sie kann über die Plansuche der App herausgefunden werden.
            </p>
          </div>
          <h3 class="title is-4">Von der Registrierung zur Bezahlung</h3>
          <div class="content has-text-justified">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
              width="323px" viewBox="-0.5 -0.5 323 368" style="max-width:100%;max-height:368px;">
              <defs />
              <g>
                <path d="M 60 40 L 60 60 L 60 46 L 60 59.63" fill="none" stroke="rgb(0, 0, 0)"
                  stroke-miterlimit="10" pointer-events="stroke" />
                <path d="M 60 64.88 L 56.5 57.88 L 60 59.63 L 63.5 57.88 Z" fill="rgb(0, 0, 0)"
                  stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all" />
                <rect x="0" y="0" width="120" height="40" rx="6" ry="6" fill="rgb(255, 255, 255)"
                  stroke="rgb(0, 0, 0)" pointer-events="all" />
                <g transform="translate(-0.5 -0.5)">
                  <switch>
                    <foreignObject pointer-events="none" width="100%" height="100%"
                      requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                      style="overflow: visible; text-align: left;">
                      <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 118px; height: 1px; padding-top: 20px; margin-left: 1px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                          style="box-sizing: border-box; font-size: 0px; text-align: center;">
                          <div
                            style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">
                            {{ gettext("Sign up") }}</div>
                        </div>
                      </div>
                    </foreignObject>
                    <text x="60" y="24" fill="rgb(0, 0, 0)" font-family="Helvetica"
                      font-size="12px" text-anchor="middle">{{ gettext("Sign up") }}</text>
                  </switch>
                </g>
                <path d="M 60 106 L 60 126 L 60 111 L 60 124.63" fill="none" stroke="rgb(0, 0, 0)"
                  stroke-miterlimit="10" pointer-events="stroke" />
                <path d="M 60 129.88 L 56.5 122.88 L 60 124.63 L 63.5 122.88 Z" fill="rgb(0, 0, 0)"
                  stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all" />
                <rect x="0" y="66" width="120" height="40" rx="6" ry="6" fill="rgb(255, 255, 255)"
                  stroke="rgb(0, 0, 0)" pointer-events="all" />
                <g transform="translate(-0.5 -0.5)">
                  <switch>
                    <foreignObject pointer-events="none" width="100%" height="100%"
                      requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                      style="overflow: visible; text-align: left;">
                      <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 118px; height: 1px; padding-top: 86px; margin-left: 1px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                          style="box-sizing: border-box; font-size: 0px; text-align: center;">
                          <div
                            style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">
                            {{ gettext("Login") }}</div>
                        </div>
                      </div>
                    </foreignObject><text x="60" y="90" fill="rgb(0, 0, 0)" font-family="Helvetica"
                      font-size="12px" text-anchor="middle">{{ gettext("Login") }}</text>
                  </switch>
                </g>
                <path d="M 202 151 L 126.37 151" fill="none" stroke="rgb(0, 0, 0)" stroke-miterlimit="10"
                  stroke-dasharray="3 3" pointer-events="stroke" />
                <path d="M 121.12 151 L 128.12 147.5 L 126.37 151 L 128.12 154.5 Z" fill="rgb(0, 0, 0)"
                  stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all" />
                <rect x="202" y="131" width="120" height="40" rx="6" ry="6" fill="rgb(255, 255, 255)"
                  stroke="rgb(0, 0, 0)" stroke-dasharray="3 3" pointer-events="all" />
                <g transform="translate(-0.5 -0.5)">
                  <switch>
                    <foreignObject pointer-events="none" width="100%" height="100%"
                      requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                      style="overflow: visible; text-align: left;">
                      <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 118px; height: 1px; padding-top: 151px; margin-left: 203px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                          style="box-sizing: border-box; font-size: 0px; text-align: center;">
                          <div
                            style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">
                            {{ gettext("Company invites") }}</div>
                        </div>
                      </div>
                    </foreignObject><text x="262" y="155" fill="rgb(0, 0, 0)" font-family="Helvetica"
                      font-size="12px" text-anchor="middle">{{ gettext("Company invites") }}</text>
                  </switch>
                </g>
                <path d="M 60 171 L 60 191 L 60 186 L 60 199.63" fill="none" stroke="rgb(0, 0, 0)"
                  stroke-miterlimit="10" pointer-events="stroke" />
                <path d="M 60 204.88 L 56.5 197.88 L 60 199.63 L 63.5 197.88 Z" fill="rgb(0, 0, 0)"
                  stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all" />
                <rect x="0" y="131" width="120" height="40" rx="6" ry="6" fill="rgb(255, 255, 255)"
                  stroke="rgb(0, 0, 0)" pointer-events="all" />
                <g transform="translate(-0.5 -0.5)">
                  <switch>
                    <foreignObject pointer-events="none" width="100%" height="100%"
                      requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                      style="overflow: visible; text-align: left;">
                      <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 118px; height: 1px; padding-top: 151px; margin-left: 1px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                          style="box-sizing: border-box; font-size: 0px; text-align: center;">
                          <div
                            style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">
                            {{ gettext("Accepts invitation") }}</div>
                        </div>
                      </div>
                    </foreignObject><text x="60" y="155" fill="rgb(0, 0, 0)" font-family="Helvetica"
                      font-size="12px" text-anchor="middle">{{ gettext("Accepts invitation") }}</text>
                  </switch>
                </g>
                <path d="M 202 216 L 76.37 216" fill="none" stroke="rgb(0, 0, 0)" stroke-miterlimit="10"
                  stroke-dasharray="3 3" pointer-events="stroke" />
                <path d="M 71.12 216 L 78.12 212.5 L 76.37 216 L 78.12 219.5 Z" fill="rgb(0, 0, 0)"
                  stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all" />
                <rect x="202" y="196" width="120" height="40" rx="6" ry="6" fill="rgb(255, 255, 255)"
                  stroke="rgb(0, 0, 0)" stroke-dasharray="3 3" pointer-events="all" />
                <g transform="translate(-0.5 -0.5)">
                  <switch>
                    <foreignObject pointer-events="none" width="100%" height="100%"
                      requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                      style="overflow: visible; text-align: left;">
                      <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 118px; height: 1px; padding-top: 216px; margin-left: 203px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                          style="box-sizing: border-box; font-size: 0px; text-align: center;">
                          <div
                            style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">
                            {{ gettext("Company sends work certificates") }}</div>
                        </div>
                      </div>
                    </foreignObject><text x="262" y="220" fill="rgb(0, 0, 0)" font-family="Helvetica"
                      font-size="12px" text-anchor="middle">{{ gettext("Company sends work certificates") }}</text>
                  </switch>
                </g>
                <path d="M 60 301 L 60 321 L 60 306.5 L 60 320.13" fill="none" stroke="rgb(0, 0, 0)"
                  stroke-miterlimit="10" pointer-events="stroke" />
                <path d="M 60 325.38 L 56.5 318.38 L 60 320.13 L 63.5 318.38 Z" fill="rgb(0, 0, 0)"
                  stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all" />
                <rect x="0" y="261" width="120" height="40" rx="6" ry="6" fill="rgb(255, 255, 255)"
                  stroke="rgb(0, 0, 0)" pointer-events="all" />
                <g transform="translate(-0.5 -0.5)">
                  <switch>
                    <foreignObject pointer-events="none" width="100%" height="100%"
                      requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                      style="overflow: visible; text-align: left;">
                      <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 118px; height: 1px; padding-top: 281px; margin-left: 1px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                          style="box-sizing: border-box; font-size: 0px; text-align: center;">
                          <div
                            style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">
                            {{ gettext("Product search") }}</div>
                        </div>
                      </div>
                    </foreignObject><text x="60" y="285" fill="rgb(0, 0, 0)" font-family="Helvetica"
                      font-size="12px" text-anchor="middle">{{ gettext("Product search") }}</text>
                  </switch>
                </g>
                <rect x="0" y="326.5" width="120" height="40" rx="6" ry="6" fill="rgb(255, 255, 255)"
                  stroke="rgb(0, 0, 0)" pointer-events="all" />
                <g transform="translate(-0.5 -0.5)">
                  <switch>
                    <foreignObject pointer-events="none" width="100%" height="100%"
                      requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                      style="overflow: visible; text-align: left;">
                      <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 118px; height: 1px; padding-top: 347px; margin-left: 1px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                          style="box-sizing: border-box; font-size: 0px; text-align: center;">
                          <div
                            style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">
                            {{ gettext("Payment of product") }}</div>
                        </div>
                      </div>
                    </foreignObject><text x="60" y="350" fill="rgb(0, 0, 0)" font-family="Helvetica"
                      font-size="12px" text-anchor="middle">{{ gettext("Payment of product") }}</text>
                  </switch>
                </g>
                <path d="M 60 226 L 60 246 L 60 241 L 60 254.63" fill="none" stroke="rgb(0, 0, 0)"
                  stroke-miterlimit="10" pointer-events="stroke" />
                <path d="M 60 259.88 L 56.5 252.88 L 60 254.63 L 63.5 252.88 Z" fill="rgb(0, 0, 0)"
                  stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all" />
                <path d="M 60 206 L 70 216 L 60 226 L 50 216 Z" fill="rgb(255, 255, 255)" stroke="rgb(0, 0, 0)"
                  stroke-miterlimit="10" pointer-events="all" />
              </g>
              <switch>
                <g requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" /><a
                  transform="translate(0,-5)"
                  xlink:href="https://www.diagrams.net/doc/faq/svg-export-text-problems" target="_blank"><text
                    text-anchor="middle" font-size="10px" x="50%" y="100%">Text is not SVG - cannot
                    display</text></a>
              </switch>
            </svg>
          </div>
        </section>
  
        <section class="section" id="companies">
          <h2 class="title is-3">Betriebe</h2>
          <h3 class="title is-4">Allgemeines</h3>
          <div class="content has-text-justified">
            <p>
              Betriebe nutzen diese Plattform für viele
              verschiedene Dinge: 
            </p>
            <ul>
              <li>Einladung von Arbeiter*innen</li>
              <li>Planerstellung</li>
              <li>Planeinreichung</li>
              <li>Weitergabe von Arbeitszertifikaten an Arbeiter*innen</li>
              <li>Bezahlung von Rohstoffen und Produktionsmitteln</li>
              <li>Überblick über eigene Konten</li>
              <li>Einblick in Statistiken anderer Betriebe</li>
              <li>Produktkooperationen mit anderen Betrieben</li>
              <li>Einsicht in globale Statistiken</li>
              <li>u.v.m.</li>
            </ul>
          </div>
          <h3 class="title is-4">Registrierung und Anmeldung</h3>
          <div class="content has-text-justified">
            <p>Die Registrierung erfolgt auf der der
              Startseite. Email-Adresse, Name und Passwort
              müssen angegeben werden. Nach erfolgreicher
              Registrierung wird ein Bestätigungslink an die
              angegebene Email-Adresse geschickt.
            </p>
            <p>Nach dem Klick auf den Bestätigungslink könnt ihr euch mit Adresse und 
              Passwort anmelden. Ihr werdet auf das Dashboard weitergeleitet.</p>
          </div>
          <h3 class="title is-4">Von der Planung zur Produktion</h3>
          <div class="content has-text-justified">
    
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
              width="296px" viewBox="-0.5 -0.5 296 483" style="max-width:100%;max-height:483px;">
              <defs />
              <g>
                <rect x="57" y="27" width="120" height="40" rx="6" ry="6" fill="rgb(255, 255, 255)"
                  stroke="rgb(0, 0, 0)" pointer-events="all" />
                <g transform="translate(-0.5 -0.5)">
                  <switch>
                    <foreignObject pointer-events="none" width="100%" height="100%"
                      requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                      style="overflow: visible; text-align: left;">
                      <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 118px; height: 1px; padding-top: 47px; margin-left: 58px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                          style="box-sizing: border-box; font-size: 0px; text-align: center;">
                          <div
                            style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">
                            {{ gettext("Create plan draft") }}</div>
                        </div>
                      </div>
                    </foreignObject><text x="117" y="51" fill="rgb(0, 0, 0)" font-family="Helvetica"
                      font-size="12px" text-anchor="middle">...</text>
                  </switch>
                </g>
                <path d="M 117 107 L 117 148.13" fill="none" stroke="rgb(0, 0, 0)" stroke-miterlimit="10"
                  stroke-dasharray="3 3" pointer-events="stroke" />
                <path d="M 117 153.38 L 113.5 146.38 L 117 148.13 L 120.5 146.38 Z" fill="rgb(0, 0, 0)"
                  stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all" />
                <rect x="57" y="67" width="120" height="40" rx="6" ry="6" fill="rgb(255, 255, 255)"
                  stroke="rgb(0, 0, 0)" pointer-events="all" />
                <g transform="translate(-0.5 -0.5)">
                  <switch>
                    <foreignObject pointer-events="none" width="100%" height="100%"
                      requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                      style="overflow: visible; text-align: left;">
                      <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 118px; height: 1px; padding-top: 87px; margin-left: 58px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                          style="box-sizing: border-box; font-size: 0px; text-align: center;">
                          <div
                            style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">
                            {{ gettext("File plan draft") }}
                          </div>
                        </div>
                      </div>
                    </foreignObject><text x="117" y="91" fill="rgb(0, 0, 0)" font-family="Helvetica"
                      font-size="12px" text-anchor="middle">...</text>
                  </switch>
                </g>
                <rect x="57" y="154.5" width="120" height="40" rx="6" ry="6" fill="rgb(255, 255, 255)"
                  stroke="rgb(0, 0, 0)" stroke-dasharray="3 3" pointer-events="all" />
                <g transform="translate(-0.5 -0.5)">
                  <switch>
                    <foreignObject pointer-events="none" width="100%" height="100%"
                      requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                      style="overflow: visible; text-align: left;">
                      <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 118px; height: 1px; padding-top: 175px; margin-left: 58px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                          style="box-sizing: border-box; font-size: 0px; text-align: center;">
                          <div
                            style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">
                            {{ gettext("Public accounting approves") }}
                          </div>
                        </div>
                      </div>
                    </foreignObject><text x="117" y="178" fill="rgb(0, 0, 0)" font-family="Helvetica"
                      font-size="12px" text-anchor="middle">...</text>
                  </switch>
                </g>
                <path d="M 117 234.5 L 117 285.63" fill="none" stroke="rgb(0, 0, 0)" stroke-miterlimit="10"
                  stroke-dasharray="3 3" pointer-events="stroke" />
                <path d="M 117 290.88 L 113.5 283.88 L 117 285.63 L 120.5 283.88 Z" fill="rgb(0, 0, 0)"
                  stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all" />
                <rect x="57" y="194.5" width="120" height="40" rx="6" ry="6" fill="rgb(255, 255, 255)"
                  stroke="rgb(0, 0, 0)" stroke-dasharray="3 3" pointer-events="all" />
                <g transform="translate(-0.5 -0.5)">
                  <switch>
                    <foreignObject pointer-events="none" width="100%" height="100%"
                      requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                      style="overflow: visible; text-align: left;">
                      <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 118px; height: 1px; padding-top: 215px; margin-left: 58px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                          style="box-sizing: border-box; font-size: 0px; text-align: center;">
                          <div
                            style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">
                            {{ gettext("Public accounting grants credits") }}
                          </div>
                        </div>
                      </div>
                    </foreignObject><text x="117" y="218" fill="rgb(0, 0, 0)" font-family="Helvetica"
                      font-size="12px" text-anchor="middle">...</text>
                  </switch>
                </g>
                <rect x="57" y="292" width="120" height="40" rx="6" ry="6" fill="rgb(255, 255, 255)"
                  stroke="rgb(0, 0, 0)" pointer-events="all" />
                <g transform="translate(-0.5 -0.5)">
                  <switch>
                    <foreignObject pointer-events="none" width="100%" height="100%"
                      requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                      style="overflow: visible; text-align: left;">
                      <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 118px; height: 1px; padding-top: 312px; margin-left: 58px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                          style="box-sizing: border-box; font-size: 0px; text-align: center;">
                          <div
                            style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">
                            {{ gettext("Pay means of production") }}
                          </div>
                        </div>
                      </div>
                    </foreignObject><text x="117" y="316" fill="rgb(0, 0, 0)" font-family="Helvetica"
                      font-size="12px" text-anchor="middle">...</text>
                  </switch>
                </g>
                <path d="M 117 372 L 117 435.63" fill="none" stroke="rgb(0, 0, 0)" stroke-miterlimit="10"
                  pointer-events="stroke" />
                <path d="M 117 440.88 L 113.5 433.88 L 117 435.63 L 120.5 433.88 Z" fill="rgb(0, 0, 0)"
                  stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all" />
                <rect x="57" y="332" width="120" height="40" rx="6" ry="6" fill="rgb(255, 255, 255)"
                  stroke="rgb(0, 0, 0)" pointer-events="all" />
                <g transform="translate(-0.5 -0.5)">
                  <switch>
                    <foreignObject pointer-events="none" width="100%" height="100%"
                      requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                      style="overflow: visible; text-align: left;">
                      <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 118px; height: 1px; padding-top: 352px; margin-left: 58px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                          style="box-sizing: border-box; font-size: 0px; text-align: center;">
                          <div
                            style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">
                            {{ gettext("Send work certificates to workers") }}
                          </div>
                        </div>
                      </div>
                    </foreignObject><text x="117" y="356" fill="rgb(0, 0, 0)" font-family="Helvetica"
                      font-size="12px" text-anchor="middle">...</text>
                  </switch>
                </g>
                <path d="M 57 462 L 7 462 L 7 7 L 117 7 L 117 20.63" fill="none" stroke="rgb(0, 0, 0)"
                  stroke-miterlimit="10" pointer-events="stroke" />
                <path d="M 117 25.88 L 113.5 18.88 L 117 20.63 L 120.5 18.88 Z" fill="rgb(0, 0, 0)"
                  stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all" />
                <rect x="57" y="442" width="120" height="40" rx="6" ry="6" fill="rgb(255, 255, 255)"
                  stroke="rgb(0, 0, 0)" pointer-events="all" />
                <g transform="translate(-0.5 -0.5)">
                  <switch>
                    <foreignObject pointer-events="none" width="100%" height="100%"
                      requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                      style="overflow: visible; text-align: left;">
                      <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 118px; height: 1px; padding-top: 462px; margin-left: 58px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                          style="box-sizing: border-box; font-size: 0px; text-align: center;">
                          <div
                            style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">
                            {{ gettext("Produce and sell") }}
                          </div>
                        </div>
                      </div>
                    </foreignObject><text x="117" y="466" fill="rgb(0, 0, 0)" font-family="Helvetica"
                      font-size="12px" text-anchor="middle">...</text>
                  </switch>
                </g>
                <rect x="197" y="42" width="90" height="45" fill="#f8cecc" stroke="#b85450"
                  pointer-events="all" />
                <g transform="translate(-0.5 -0.5)">
                  <switch>
                    <foreignObject pointer-events="none" width="100%" height="100%"
                      requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                      style="overflow: visible; text-align: left;">
                      <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 88px; height: 1px; padding-top: 65px; margin-left: 198px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                          style="box-sizing: border-box; font-size: 0px; text-align: center;">
                          <div
                            style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">
                            {{ gettext("Planning") }}
                          </div>
                        </div>
                      </div>
                    </foreignObject><text x="242" y="68" fill="rgb(0, 0, 0)" font-family="Helvetica"
                      font-size="12px" text-anchor="middle">...</text>
                  </switch>
                </g>
                <rect x="197" y="172" width="90" height="45" fill="#f8cecc" stroke="#b85450"
                  pointer-events="all" />
                <g transform="translate(-0.5 -0.5)">
                  <switch>
                    <foreignObject pointer-events="none" width="100%" height="100%"
                      requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                      style="overflow: visible; text-align: left;">
                      <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 88px; height: 1px; padding-top: 195px; margin-left: 198px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                          style="box-sizing: border-box; font-size: 0px; text-align: center;">
                          <div
                            style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">
                            {{ gettext("Approval") }}
                          </div>
                        </div>
                      </div>
                    </foreignObject><text x="242" y="198" fill="rgb(0, 0, 0)" font-family="Helvetica"
                      font-size="12px" text-anchor="middle">{...</text>
                  </switch>
                </g>
                <rect x="197" y="312" width="90" height="45" fill="#f8cecc" stroke="#b85450"
                  pointer-events="all" />
                <g transform="translate(-0.5 -0.5)">
                  <switch>
                    <foreignObject pointer-events="none" width="100%" height="100%"
                      requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                      style="overflow: visible; text-align: left;">
                      <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 88px; height: 1px; padding-top: 335px; margin-left: 198px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                          style="box-sizing: border-box; font-size: 0px; text-align: center;">
                          <div
                            style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">
                            {{ gettext("Payments") }}
                          </div>
                        </div>
                      </div>
                    </foreignObject><text x="242" y="338" fill="rgb(0, 0, 0)" font-family="Helvetica"
                      font-size="12px" text-anchor="middle">...</text>
                  </switch>
                </g>
                <rect x="197" y="432" width="90" height="45" fill="#f8cecc" stroke="#b85450"
                  pointer-events="all" />
                <g transform="translate(-0.5 -0.5)">
                  <switch>
                    <foreignObject pointer-events="none" width="100%" height="100%"
                      requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                      style="overflow: visible; text-align: left;">
                      <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 88px; height: 1px; padding-top: 455px; margin-left: 198px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                          style="box-sizing: border-box; font-size: 0px; text-align: center;">
                          <div
                            style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">
                            {{ gettext("Production") }}</div>
                        </div>
                      </div>
                    </foreignObject><text x="242" y="458" fill="rgb(0, 0, 0)" font-family="Helvetica"
                      font-size="12px" text-anchor="middle">Production</text>
                  </switch>
                </g>
              </g>
              <switch>
                <g requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" /><a
                  transform="translate(0,-5)"
                  xlink:href="https://www.diagrams.net/doc/faq/svg-export-text-problems" target="_blank"><text
                    text-anchor="middle" font-size="10px" x="50%" y="100%">Text is not SVG - cannot
                    display</text></a>
              </switch>
            </svg>
          </div>
        </section>
  
        <section class="section" id="contact">
          <h2 class="title is-2">Kontakt</h2>
          
          <div class="content has-text-justified">
            Bei offenen Fragen schreibt uns eine Mail an:
            <a
              href="mailto:community-arbeitszeitapp@systemli.org">community-arbeitszeitapp@systemli.org
            </a>
          </div>
        </section>
      </div>

    </div>

</section>
{% endmacro %}
