{% macro statistics(view_model) %}

<div class="section">
    <div class="has-text-centered">
        <h1 class="title">{{ gettext("Global statistics") }}</h1>
    </div>
    <div class="block py-2"></div>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="tile is-child box">
                <h1 class="title">{{ view_model.registered_companies_count }}</h1>
                <div class="subtitle">{{ gettext("Companies") }}</div>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box">
                <h1 class="title">{{ view_model.registered_members_count }}</h1>
                <div class="subtitle">{{ gettext("Workers") }}</div>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box">
                <h1 class="title">{{ view_model.active_plans_count }}</h1>
                <div class="subtitle">{{ gettext("Plans") }}</div>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box">
                <h1 class="title">{{ view_model.cooperations_count }}</h1>
                <div class="subtitle">{{ gettext("Cooperations") }}</div>
            </div>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="tile is-child box">
                <h1 class="title is-4">{{ gettext("Plans") }}</h1>
                <p>{{ gettext("Active plans") }}: {{ view_model.active_plans_count }}</p>
                <p>{{ gettext("Public active plans") }}: {{ view_model.active_plans_public_count }}</p>
                <p>{{ gettext("Average plan duration") }}: {{ view_model.average_timeframe_days }}</p>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box">
                <h1 class="title is-4">{{ gettext("Means of production") }}</h1>
                <p>{{ gettext("Currently planned fixed means") }}: {{ view_model.planned_means_hours }}</p>
                <p>{{ gettext("Currently planned liquid means") }}: {{ view_model.planned_resources_hours }}</p>
                <p>{{ gettext("Currently planned work") }}: {{ view_model.planned_work_hours }}</p>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box">
                <h1 class="title is-4">{{ gettext("Certificates vs Product") }}</h1>
                <p>{{ gettext("Work certificates") }}: {{ view_model.certificates_count }}</p>
                <p>{{ gettext("Available product (no public products)") }}: {{ view_model.available_product }}</p>
            </div>
        </div>
    </div>
</div>

{% endmacro %}