{% macro info_tooltip(id, text) %}
<div class="dropdown is-right">
    <button
        type="button"
        aria-haspopup="true"
        aria-controls="{{ id }}"
        aria-describedby="{{ id }}"
        role="tooltip"
        >
        <span class="icon">
            {{ "info-circle"|icon(attrs={"width": "16px", "height": "16px"}) }}
        </span>
    </button>
    <div class="dropdown-menu" id="{{ id }}" role="menu">
        <div class="dropdown-content">
            <p class="dropdown-item has-text-left is-size-6">
                {{ text }}
            </p>
        </div>
    </div>
</div>
{% endmacro %}
