{% macro transfer_with_party(date, type, volume, is_debit_transfer, party_icon, party_name) %}
<article class="media">
    <div class="media-left">
        <p class="pt-1">
            <small class="has-text-weight-semibold">{{ date }}</small><br>
        </p>
    </div>
    <div class="media-content">
        <div class="content">
            <p>
                <strong class="is-size-5">
                    {{ type }}
                </strong>
                {% if party_name %}
                <br>
                <span class="icon">{{ party_icon|icon }}</span>&nbsp;<span>{{ party_name }}</span>
                {% endif %}
            </p>
        </div>
    </div>
    <div class="media-right">
        <p class="is-size-5 pt-1 {{ 'has-text-danger' if is_debit_transfer else 'has-text-success' }}">
            {{ volume }}
        </p>
    </div>
</article>
{% endmacro %}
