<!--Used in company's p, r, a accounts-->
{% macro basic_transfer(date, type, purpose, volume) %}
<article class="media">
    <div class="media-left">
        <p class="pt-1">
            <small class="has-text-weight-semibold">{{ date }}</small><br>
        </p>
    </div>
    <div class="media-content">
        <div class="content">
            <p>
                <strong class="is-size-5">
                    {{ type }}
                </strong>
                {% if purpose is defined and purpose %}
                <br>
                <small>{{ purpose }}</small>
                {% endif %}
            </p>
        </div>
    </div>
    <div class="media-right">
        <p class="is-size-5 pt-1 {{ 'has-text-success' if volume|float >= 0 else 'has-text-danger' }}">
            {{ volume }}
        </p>
    </div>
</article>
{% endmacro %}

<!--Used in company's prd account-->
{% macro transfer_with_peer(date, type, volume, peer_name, peer_type_icon) %}
<article class="media">
    <div class="media-left">
        <p class="pt-1">
            <small class="has-text-weight-semibold">{{ date }}</small><br>
        </p>
    </div>
    <div class="media-content">
        <div class="content">
            <p>
                <strong class="is-size-5">
                    {{ type }}
                </strong><span class="icon">{{ peer_type_icon|icon }}</span>&nbsp;<span>{{ peer_name }}</span>
            </p>
        </div>
    </div>
    <div class="media-right">
        <p class="is-size-5 pt-1 {{ 'has-text-success' if volume|float >= 0 else 'has-text-danger' }}">
            {{ volume }}
        </p>
    </div>
</article>
{% endmacro %}

<!--Used in member account-->
{% macro member_transfer(date, type, user_name, volume, is_volume_positive) %}
<article class="media">
    <div class="media-left">
        <p class="pt-1">
            <small class="has-text-weight-semibold">{{ date }}</small><br>
        </p>
    </div>
    <div class="media-content">
        <div class="content">
            <p>
                <strong class="is-size-5">
                    {{ type }}
                </strong>
                <br>
                <small>{{ user_name }}</small>
            </p>
        </div>
    </div>
    <div class="media-right">
        <p class="is-size-5 pt-1 {{ 'has-text-success' if is_volume_positive else 'has-text-danger' }}">
            {{ volume }}
        </p>
    </div>
</article>
{% endmacro %}
