{% from 'macros/accountant_navigation.html' import accountant_navigation with context %}
{% from 'macros/company_navigation.html' import company_navigation with context %}
{% from 'macros/member_navigation.html' import member_navigation with context %}
{% from 'macros/anonymous_navigation.html' import anonymous_navigation with context%}
{% from 'macros/show_notifications.html' import show_notifications %}

<!DOCTYPE html>
<html class="theme-light">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- do not translate -->
  <title>Arbeitszeit</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='colors.css') }}">
  {% block style %}
  {% endblock %}
  <script src="{{ url_for('static', filename='main.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='main.module.js') }}"></script>
</head>

<body>
  {% if session['user_type'] is defined and (session['user_type'] == 'company') %}
  {% set user_navigation = company_navigation %}

  {% elif session['user_type'] is defined and (session['user_type'] == 'member') %}
  {% set user_navigation = member_navigation %}

  {% elif session['user_type'] is defined and (session['user_type'] == 'accountant') %}
  {% set user_navigation = accountant_navigation %}

  {% else %}
  {% set user_navigation = anonymous_navigation %}

  {% endif %}

  {% call user_navigation() %}
  {% block navbar_start %}
  {% endblock navbar_start %}
  {% endcall %}

  {{ show_notifications() }}

  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>
</body>

</html>
