{% extends "base.html" %}

{% block navigation %}
<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" onclick="expandMenu()" aria-label="menu" aria-expanded="false"
      data-target="navbarOnTop">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarOnTop" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
	<a class="navbar-link">
	  {{ gettext('Language') }}
	</a>
	<div class="navbar-dropdown">
	  {% if languages.show_language_listing %}
	  {% for language in languages.languages_listing %}
	  <a href="{{ language.change_url }}" class="navbar-item">
	    {{ language.label }}
	  </a>
	  {% endfor %}
	  {% endif %}
	</div>
      </div>
      {% block navigation_items %}
      <div class="navbar-item">
	<a class="button is-primary" href="{{ url_for('auth.help') }}">
	  {{ gettext('Help') }}
	</a>
      </div>
      {% endblock %}
    </div>
  </div>
</nav>
{% endblock %}
