{% extends "base.html" %}
{% from 'macros/show_notifications.html' import show_notifications %}

{% block body %}
<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item has-background-primary	has-text-white">
      {{ gettext("Company view") }}
    </div>

    <a role="button" class="navbar-burger" onclick="expandMenu()" aria-label="menu" aria-expanded="false"
      data-target="navbarOnTop">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarOnTop" class="navbar-menu">
    <div class="navbar-start">
      {% if current_user.is_authenticated %}
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Mein Bereich
        </a>
        <div class="navbar-dropdown">
          <a href="{{ url_for('main_company.profile') }}" class="navbar-item">
            <p><span class="icon"><i class="fas fa-industry"></i></span> Betrieb</p>
          </a>
          <a href="{{ url_for('main_company.my_plans') }}" class="navbar-item">
            <p><span class="icon"><i class="fas fa-file"></i></span> Pläne</p>
          </a>
          <a href="{{ url_for('main_company.my_accounts') }}" class="navbar-item">
            <p><span class="icon"><i class="fas fa-chart-line"></i></span> Konten</p>
          </a>
          <a href="{{ url_for('main_company.my_drafts') }}" class="navbar-item">
            <p>Planentwürfe</p>
          </a>
          <a href="{{ url_for('main_company.my_cooperations') }}" class="navbar-item">
            <p><span class="icon"><i class="fas fa-hands-helping"></i></span> Kooperationen</p>
          </a>
          <a href="{{ url_for('main_company.my_purchases') }}" class="navbar-item">
            <p><span class="icon"><i class="fa-solid fa-basket-shopping"></i></span> Käufe</p>
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Aktionen
        </a>
        <div class="navbar-dropdown">
          <a href="{{ url_for('main_company.transfer_to_worker') }}" class="navbar-item">
            <p><span class="icon"><i class="fa-regular fa-credit-card"></i></span>
              Arbeiter*innen bezahlen</p>
          </a>
          <a href="{{ url_for('main_company.transfer_to_company') }}" class="navbar-item">
            <p><span class="icon"><i class="fa-regular fa-credit-card"></i></span>
              Produktionsmittel bezahlen</p>
          </a>
          <a href="{{ url_for('main_company.create_draft') }}" class="navbar-item">
            <p><span class="icon"><i class="fa-solid fa-file-circle-plus"></i></span> Neuen Plan
              erstellen</p>
          </a>
          <a href="{{ url_for('main_company.create_cooperation') }}" class="navbar-item">
            <p><span class="icon"><i class="fas fa-hands-helping"></i></span> Neue Kooperation
              erstellen</p>
          </a>
          <a href="{{ url_for('main_company.request_cooperation') }}" class="navbar-item">
            <p><span class="icon"><i class="fas fa-hands-helping"></i></span> Kooperation
              beitreten</p>
          </a>
          <a href="{{ url_for('main_company.invite_worker_to_company') }}" class="navbar-item">
            <p><span class="icon"><i class="fa-solid fa-users"></i></span> Arbeiter*innen
              einladen</p>
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Global
        </a>

        <div class="navbar-dropdown">
          <a href="{{ url_for('main_company.statistics') }}" class="navbar-item">
            <p><span class="icon"><i class="fa-solid fa-chart-pie"></i></span> Statistiken</p>
          </a>
          <a href="{{ url_for('main_company.query_companies') }}" class="navbar-item">
            <p><span class="icon"><i class="fas fa-industry"></i></span> Alle Betriebe</p>
          </a>
          <a href="{{ url_for('main_company.query_plans') }}" class="navbar-item">
            <p><span class="icon"><i class="fas fa-file"></i></span> Alle Pläne</p>
          </a>
          <a href="{{ url_for('main_company.list_all_cooperations') }}" class="navbar-item">
            <p><span class="icon"><i class="fas fa-hands-helping"></i></span> Alle Kooperationen</p>
          </a>
        </div>
      </div>
      <a href="{{ url_for('main_company.list_messages') }}"
        class="navbar-item {% if message_indicator is defined %}{% if message_indicator.show_unread_messages_indicator %}unread-messages-indicator{% endif %}{% endif %}">
        {{ gettext("Messages") }}
      </a>
      <a href="{{ url_for('main_company.dashboard') }}" class="navbar-item">
        {{ gettext("Dashboard") }}
      </a>
      {% endif %}
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {% if not current_user.is_authenticated %}
          <a class="button" href="{{ url_for('auth.login_company') }}">
            {{ gettext("Sign in") }}
          </a>
          <a class="button" href="{{ url_for('auth.signup_company') }}">
            {{ gettext("Sign up") }}
          </a>
          <a class="button" href="{{ url_for('auth.zurueck') }}">
            {{ gettext("Back") }}
          </a>
          {% else %}
          <a class="button" href="{{ url_for('auth.logout') }}">
            {{ gettext("Sign out") }}
          </a>
          <a class="button" href="{{ url_for('main_company.hilfe') }}">
            {{ gettext("?") }}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>

{{ show_notifications() }}

{% block company %}
{% endblock %}

{% endblock %}