{% extends "base.html" %}
{% from 'macros/show_notifications.html' import show_notifications %}

{% block navigation %}
<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item has-background-primary has-text-white">
      {% if current_user.is_authenticated %}
      <span class="icon"><i class="fas fa-user"></i></span>&nbsp;
      {{ current_user.name|truncate(20, True) }}
      {% else %}
      <span class="icon"><i class="fas fa-user"></i></span>&nbsp;
      {{ gettext("Member view") }}
      {% endif %}
    </div>

    <a role="button" class="navbar-burger" onclick="expandMenu()" aria-label="menu" aria-expanded="false"
      data-target="navbarOnTop">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarOnTop" class="navbar-menu">
    <div class="navbar-start">
      {% if current_user.is_authenticated %}
      <a href="{{ url_for('main_member.dashboard') }}" class="navbar-item">
        {{ gettext("Dashboard") }}
      </a>
      {% block navbar_start %}
      {% endblock %}
      {% endif %}
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {% if not current_user.is_authenticated %}
          <a class="button" href="{{ url_for('auth.login_member') }}">
            {{ gettext("Sign in")}}
          </a>
          <a class="button" href="{{ url_for('auth.signup_member') }}">
            {{ gettext("Sign up")}}
          </a>
          <a class="button" href="{{ url_for('auth.zurueck') }}">
            {{ gettext("Back")}}
          </a>
          {% endif %}
          {% if current_user.is_authenticated %}
          <a class="button" href="{{ url_for('auth.logout') }}">
            {{ gettext("Sign out")}}
          </a>
          <a class="button" href="{{ url_for('main_member.hilfe') }}">
            ?
          </a>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</nav>
{% endblock %}