{% macro company_summary(view_model) %}

<div class="columns is-centered">
    <div class="column is-two-thirds">
        <div class="content">
            <h1 class="title">
                Company
            </h1>
        </div>
        <br>
        <div class="table-container">
            <table class="table is-fullwidth">
                <tbody>
                    <tr>
                        <td class="has-text-left has-text-weight-semibold">Name</td>
                        <td class="has-text-left">{{ view_model.name }}</td>
                    </tr>
                    <tr>
                        <td class="has-text-left has-text-weight-semibold">Email</td>
                        <td class="has-text-left">{{ view_model.email }}</td>
                    </tr>
                    <tr>
                        <td class="has-text-left has-text-weight-semibold">Registered since</td>
                        <td class="has-text-left">{{ view_model.registered_on | format_datetime(zone='Europe/Berlin',
                            fmt='%d.%m.%Y %H:%M') }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-container">
            <h1 class="title is-4">
                Active plans
            </h1>
            <table class="table is-fullwidth has-text-left">
                <thead>
                    <tr>
                        <th>Plan id</th>
                        <th>Product name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for plan in view_model.active_plans %}
                    <tr>
                        <td>{{ plan.id }}</td>
                        <td>{{ plan.name }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endmacro %}