{% extends "base.html" %}

{% block navbar_start %}
<a class="navbar-item" href="{{ url_for('main_company.my_accounts') }}">{{ gettext("Accounts") }}</a>
<div class="navbar-item">{{ gettext("Account a") }}</div>
{% endblock %}

{% block content %}
{% from 'macros/transactions.html' import basic_transaction %}

<section class="section columns has-text-centered">
    <div class="column"></div>
    <div class="column is-two-thirds">
        <div class="pb-5">
            <h1 class="title">
                {{ gettext("Account a") }}
            </h1>
        </div>
        <div class="box has-background-info-light has-text-info-dark">
            <div class="icon"><i class="fas fa-info-circle"></i></div>
            <p>{{ gettext("The account for work certificates") }}</p>
        </div>
        <p>{{ gettext("Balance:") }}</p>
        <p
            class="has-text-weight-bold {{ 'has-text-primary' if view_model.account_balance | float >= 0 else 'has-text-danger' }}">
            {{ view_model.account_balance }}
        </p>
        <div>
            <img src="{{ view_model.plot_url }}" alt="plot of a account">
        </div>
        <div class="section has-text-left">
            {% if view_model.transactions is defined and view_model.transactions|length %}
            {% for trans_info in view_model.transactions %}
            {{ basic_transaction(trans_info.date, trans_info.transaction_type, trans_info.purpose, trans_info.transaction_volume) }}
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="column"></div>
</section>
{% endblock %}