{% extends "base_company.html" %}

{% block navbar_start %}
<a class="navbar-item" href="{{ url_for('main_company.my_accounts') }}">{{ gettext("Accounts") }}</a>
<div class="navbar-item">{{ gettext("Account r") }}</div>
{% endblock %}

{% block content %}
{% from 'macros/transactions.html' import basic_transaction %}

<div class="mt-3 has-text-centered">
    <h1 class="title">
        {{ gettext("Account r") }}
    </h1>
</div>
<div class="mt-5 has-text-centered">
    <div class="columns is-centered">
        <div class="column is-two-thirds">
            <div class="box has-background-info-light has-text-info-dark">
                <div class="icon"><i class="fas fa-info-circle"></i></div>
                <p>{{ gettext("Your account for liquid means of production") }}</p>
            </div>
            <p>{{ gettext("Balance:") }}</p>
            <p
                class="has-text-weight-bold {{ 'has-text-primary' if view_model.account_balance | float >= 0 else 'has-text-danger' }}">
                {{ view_model.account_balance }}
            </p>
        </div>
    </div>
</div>
<div class="has-text-centered">
    <div>
        <img src="{{ view_model.plot_url }}" alt="plot of r account">
    </div>
</div>
<div class="section">
    <div class="columns is-centered">
        <div class="column is-two-thirds">
            {% if view_model.transactions is defined and view_model.transactions|length %}
            {% for trans_info in view_model.transactions %}
            {{ basic_transaction(trans_info.date, trans_info.transaction_type, trans_info.plan, trans_info.transaction_volume) }}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}