{% extends "base_company.html" %}

{% from 'macros/draft_form.html' import draft_form %}

{% block navbar_start %}
<div class="navbar-item">{{ gettext("Create plan") }}</div>
{% endblock %}

{% block content %}
<div class="section has-text-centered">
  <h1 class="title">
    {{ gettext("Create plan") }}
  </h1>
  <div class="columns is-centered">
    <div class="column is-three-fifths">
      <p class="pb-5 has-text-right">
        <a class="" href="{{ url_for('main_company.draft_list') }}">
          <span class="icon"><i class="fa-regular fa-floppy-disk"></i></span>
          {{ gettext("Load a draft") }}</a>
      </p>
      <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        {{ draft_form(form) }}
        <div class="block py-2"></div>
        <div class="has-text-danger-dark">
          {{ gettext("Plans cannot be changed after submission!")}}
        </div>
        <div class="field is-grouped is-grouped-centered">
          <div class="control">
            <button class="button is-danger is-light"
                    name="action"
                    value="file_draft"
                    type="submit"
                    formaction="{{ view_model.self_approve_plan_url }}">
              {{ gettext("Submit plan")}}
            </button>
          </div>
          <div class="control">
            <button class="button is-primary is-light"
                    name="action"
                    value="save_draft"
                    type="submit"
                    formaction="{{ view_model.save_draft_url }}">
              {{ gettext("Save as draft")}}
            </button>
          </div>
          <div class="control">
            <button class="button is-light"
                    name="action"
                    value="cancel"
                    type="submit"
                    formaction="{{ view_model.cancel_url }}"
                    formnovalidate>
              {{ gettext("Cancel")}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
