{% extends "base.html" %}

{% block navbar_start %}
<a class="navbar-item" href="{{ url_for('main_company.my_cooperations') }}">{{ gettext("My cooperations") }}</a>
<div class="navbar-item">{{ gettext("Create Cooperation") }}</div>
{% endblock %}

{% block content %}
<div class="section has-text-centered">
    <h1 class="title">
        {{ gettext("Create Cooperation") }}
    </h1>
    <div class="columns is-centered">
        <div class="column is-three-fifths">
            <div class="box has-background-info-light has-text-info-dark">
                <div class="icon">{{ "info-circle"|icon }}</div>
                <p>
                    {{ gettext("Here you can create a new cooperation.") }}
                    <br><br>
                    {{ gettext("A cooperation contains similar products.  The prices for all products in a cooperation are averaged to reduce price competition.  All producers still receive the credits on sale corresponding to how they planned production.") }}
                </p>
            </div>
            <div class="content">
                <form method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="field">
                        <label class="label">{{ gettext("Cooperation name") }}</label>
                        <div class="control">
                            {{ form.name(class_="input is-large") }}
                        </div>
                    </div>
                    <div class="block"></div>

                    <div class="field">
                        <label class="label">{{ gettext("Definition of the cooperation") }}</label>
                        <div class="control">
                            {{ form.definition(class_="textarea is-large") }}
                        </div>
                    </div>
                    <div class="block"></div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" name="create" value="create" type="submit">
                                {{ gettext("Create cooperation") }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
