{% extends "base_company.html" %}

{% block content %}

<div class="section">
    <div class="has-text-centered pb-5">
        <h1 class="title is-2">{{ gettext("Welcome, %(name)s!", name= current_user.name) }}</h1>
        <div class="columns">
            <div class="column"></div>
            <div class="column is-one-third">
                <div class="box">
                    <p class="has-text-weight-semibold">{{ gettext("Your ID") }}:</p>
                    <p>{{ current_user.id }}</p>
                    <p class="has-text-weight-semibold">{{ gettext("Your email") }}:</p>
                    <p>{{ current_user.email }}</p>
                    <div class="content">
                        {% if having_workers is sameas false %}
                        <div class="block pt-3">
                            <span class="icon"><i class="fas fa-exclamation-triangle"></i></span><br>
                            <a href="{{ url_for('main_company.invite_worker_to_company') }}">
                                {{ gettext("No workers are registered with your company. Click here to add some.")
                                }}
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="column"></div>
        </div>
        <div class="has-text-centered py-5">
            <h1 class="title is-3">{{ gettext("Frequent actions") }}</h1>
        </div>
        <div class="tile is-ancestor">
            <a class="tile is-parent" href="{{ url_for('main_company.create_draft') }}">
                <div class="tile is-child box has-background-danger-light">
                    <h1 class="title is-5"><span class="icon"><i class="fa-solid fa-file-circle-plus"></i></span> {{
                        gettext("Create new plan") }}</h1>
                    <div class="subtitle"></div>
                </div>
            </a>
            <a class="tile is-parent" href="{{ url_for('main_company.transfer_to_company') }}">
                <div class="tile is-child box has-background-danger-light">
                    <h1 class="title is-5"><span class="icon"><i class="fa-regular fa-credit-card"></i></span>
                        {{ gettext("Pay production means") }}</h1>
                    <div class="subtitle"></div>
                </div>
            </a>
            <a class="tile is-parent" href="{{ url_for('main_company.transfer_to_worker') }}">
                <div class="tile is-child box has-background-danger-light">
                    <h1 class="title is-5"><span class="icon"><i class="fa-regular fa-credit-card"></i></span>
                        {{ gettext("Pay workers") }}</h1>
                    <div class="subtitle"></div>
                </div>
            </a>
        </div>
        <div class="has-text-centered py-5">
            <h1 class="title is-3">{{ gettext("Company accounting") }}</h1>
        </div>
        <div class="tile is-ancestor">
            <a class="tile is-parent" href="{{ url_for('main_company.company_summary', company_id=current_user.id) }}">
                <div class="tile is-child box has-background-primary-light">
                    <h1 class="title is-5"><span class="icon"><i class="fas fa-industry"></i></span> {{
                        gettext("Company") }}
                    </h1>
                    <div class="subtitle is-6">{{ gettext("Your company") }} "{{ current_user.name }}"</div>
                </div>
            </a>
            <a class="tile is-parent" href="{{ url_for('main_company.my_plans') }}">
                <div class="tile is-child box has-background-primary-light">
                    <h1 class="title is-5"><span class="icon"><i class="fas fa-file"></i></span> {{ gettext("Plans")
                        }}
                    </h1>
                    <div class="subtitle is-6">{{ gettext("Your plans") }}</div>
                </div>
            </a>
            <a class="tile is-parent" href="{{ url_for('main_company.my_accounts') }}">
                <div class="tile is-child box has-background-primary-light">
                    <h1 class="title is-5"><span class="icon"><i class="fas fa-chart-line"></i></span> {{
                        gettext("Accounts") }}</h1>
                    <div class="subtitle is-6">{{ gettext("You have four accounts") }}</div>
                </div>
            </a>
        </div>
        <div class="tile is-ancestor">
            <a class="tile is-parent" href="{{ url_for('main_company.my_cooperations') }}">
                <div class="tile is-child box has-background-primary-light">
                    <h1 class="title is-5"><span class="icon"><i class="fas fa-hands-helping"></i></span> {{
                        gettext("Cooperations") }}
                    </h1>
                    <div class="subtitle is-6">{{ gettext("Your cooperations") }}</div>
                </div>
            </a>
            <a class="tile is-parent" href="{{ url_for('main_company.my_purchases') }}">
                <div class="tile is-child box has-background-primary-light">
                    <h1 class="title is-5"><span class="icon"><i class="fa-solid fa-basket-shopping"></i></span> {{
                        gettext("Purchases") }}
                    </h1>
                    <div class="subtitle is-6">{{ gettext("Your purchases") }}</div>
                </div>
            </a>
            <a class="tile is-parent" href="{{ url_for('main_company.invite_worker_to_company') }}">
                <div class="tile is-child box has-background-primary-light">
                    <h1 class="title is-5"><span class="icon"><i class="fa-solid fa-users"></i></span> {{
                        gettext("Workers") }}</h1>
                    <div class="subtitle is-6">{{ gettext("Members of your collective") }}</div>
                </div>
            </a>
        </div>
        <div class="has-text-centered py-5">
            <h1 class="title is-3">{{ gettext("Public accounting") }}</h1>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent"></div>
            <div class="tile is-parent">
                <div class="tile is-child">
                    <nav class="panel">
                        <p class="panel-heading is-italic has-background-warning-light">{{ gettext("Latest plans") }}
                        </p>
                        {% if view_model.has_latest_plans %}
                        {% for plan in view_model.latest_plans %}
                        <a class="panel-block" href="{{ plan.plan_summary_url }}">
                            <span class="has-text-weight-semibold">{{ plan.activation_date }}
                            </span>&nbsp;{{ plan.prd_name }}
                        </a>
                        {% endfor %}
                        {% endif %}
                    </nav>
                </div>
            </div>
            <div class="tile is-parent"></div>
        </div>
        <div class="tile is-ancestor">
            <a class="tile is-parent" href="{{ url_for('main_company.statistics') }}">
                <div class="tile is-child box has-background-warning-light">
                    <h1 class="title is-5"><span class="icon"><i class="fa-solid fa-chart-pie"></i></span> {{
                        gettext("Global statistics") }}
                    </h1>
                    <div class="subtitle"></div>
                </div>
            </a>
            <a class="tile is-parent" href="{{ url_for('main_company.query_companies') }}">
                <div class="tile is-child box has-background-warning-light">
                    <h1 class="title is-5"><span class="icon"><i class="fas fa-industry"></i></span>
                        {{ gettext("All companies") }}</h1>
                    <div class="subtitle"></div>
                </div>
            </a>
            <a class="tile is-parent" href="{{ url_for('main_company.query_plans') }}">
                <div class="tile is-child box has-background-warning-light">
                    <h1 class="title is-5"><span class="icon"><i class="fas fa-file"></i></span>
                        {{ gettext("All plans") }}</h1>
                    <div class="subtitle"></div>
                </div>
            </a>
        </div>
        <div class="tile is-ancestor">
            <a class="tile is-parent" href="{{ url_for('main_company.list_all_cooperations') }}">
                <div class="tile is-child box has-background-warning-light">
                    <h1 class="title is-5"><span class="icon"><i class="fas fa-hands-helping"></i></span> {{
                        gettext("All cooperations") }}
                    </h1>
                    <div class="subtitle"></div>
                </div>
            </a>
            <div class="tile is-parent"></div>
            <div class="tile is-parent"></div>
        </div>
    </div>

    {% endblock %}