{% extends "base.html" %}

{% from 'macros/draft_form.html' import draft_form %}

{% block navbar_start %}
<div class="navbar-item">{{ gettext("Edit draft") }}</div>
{% endblock %}

{% block content %}
<div class="section has-text-centered">
  <h1 class="title">
    {{ gettext("Edit draft") }}
  </h1>
  <div class="columns is-centered">
    <div class="column is-three-fifths">
      <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        {{ draft_form(form) }}
        <div class="block py-2"></div>
        <div class="field is-grouped is-grouped-centered">
          <div class="control">
            <button class="button is-primary is-light" type="submit">
              {{ gettext("Save draft")}}
            </button>
          </div>
          <div class="control">
            <div class="control">
              <a class="button is-light" href="{{ cancel_url }}">
                {{ gettext("Cancel")}}
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
