{% extends "base_company.html" %}

{% block company %}

<div class="section has-text-centered">
    <h1 class="title">
        Alle Kooperationen
    </h1>
    <div class="columns">
        <div class="column"></div>
        <div class="column is-10">
            {% if view_model.show_results %}
            <div class="table-container">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Anzahl Pläne</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for coop in view_model.cooperations %}
                        <tr>
                            <td><a href="{{ coop.coop_summary_url }}">{{ coop.name }}</a>
                            </td>
                            <td>{{ coop.plan_count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p>(Keine Kooperationen vorhanden.)</p>
            {% endif %}

        </div>
        <div class="column"></div>

    </div>

</div>
{% endblock %}