{% extends "base.html" %}

{% block navbar_start %}
{% from 'macros/navbar.html' import navbar %}
{{ navbar(view_model.navbar_items) }}
{% endblock %}

{% block content %}
{% from 'macros/transactions.html' import transaction_with_account %}

<section class="section columns has-text-centered">
    <div class="column"></div>
    <div class="column is-two-thirds">
        <h1 class="title">
            {{ gettext("All transactions")
            }}
        </h1>
        <div class="box has-background-info-light has-text-info-dark">
            <div class="icon"><i class="fas fa-info-circle"></i></div>
            <p>{{ gettext("All transactions made or received so far.") }}</p>
        </div>
        <div class="section has-text-left">
            {% if view_model.transactions is defined and view_model.transactions|length %}
            {% for transaction in view_model.transactions %}
            {{ transaction_with_account(transaction.date, transaction.transaction_type, transaction.purpose, transaction.transaction_volume, transaction.account) }}
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="column"></div>
</section>
{% endblock %}