{% extends "base.html" %}

{% block navbar_start %}
<div class="navbar-item">{{ gettext("My cooperations") }}</div>
{% endblock %}

{% block content %}
<div class="section has-text-centered">
  <h1 class="title">
      {{ gettext("My cooperations") }}
   </h1>  
</div>

<div class="section has-text-centered">
    <div class="column is-offset-4 is-4">
            <a href="{{ url_for('main_company.create_cooperation') }}">
                <div class="box has-background-primary-light">
                    <h1 class="title is-5"><span class="icon">{{ "hands-helping"|icon }}</span>
                        {{ gettext("Create cooperation ") }}</h1>
                    <div class="subtitle"></div>
                </div>
            </a>
    </div>
</div>
<div class="section has-text-centered">
    <h1 class="title is-4">
        {{ gettext("Cooperations that I coordinate") }}
    </h1>

    <div class="column is-offset-4 is-4 has-text-left">
    {% if list_of_coordinations.rows %}
    {% for coop in list_of_coordinations.rows %}
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong class="is-size-5">
                <a href="{{ coop.coop_summary_url }}">{{ coop.coop_name }}</a>
              </strong>
              <br>
              <small><span>{{ gettext("Number of plans") }}</span>&nbsp;{{ coop.count_plans_in_coop }}</small>
            </p>
          </div>
        </div>
      </article>  
    {% endfor %}
    {% else %}
    <p class="has-text-centered">{{ gettext("You do not coordinate any cooperation") }}</p>
    {% endif %}
    </div>
</div>

<div class="section has-text-centered">
    <div class="content">
        <h1 class="title is-4">
            {{ gettext("Incoming cooperation request (by others)") }}
        </h1>
    </div>

    <div class="column is-offset-4 is-4 has-text-left">
    {% if list_of_inbound_coop_requests.rows %}
    {% for req in list_of_inbound_coop_requests.rows %}
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                    <small>
                        <span>{{ gettext("Company") }}:</span>&nbsp;
                        <strong><a href="{{ req.planner_url }}">{{ req.planner_name }}</a></strong>
                    </small>
                    <br>
                    <small>
                        <span>{{ gettext("Plan") }}:</span>&nbsp;
                        <strong><a href="{{ req.plan_url }}">{{ req.plan_name }}</a></strong>
                    </small>
                    <br>
                    <small><span>{{ gettext("My cooperation") }}:</span>&nbsp;{{ req.coop_name }}</small>
                    </p>
                </div>
            </div>
            <div class="media-right">
              <form action="/company/accept_cooperation_request" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="plan_id" value="{{ req.plan_id }}">
                <input type="hidden" name="cooperation_id" value="{{ req.coop_id }}">
                <button class="button large-button is-primary"
                        type="submit"
                        title="{{ gettext('Accept') }}">
                        {{ "check"|icon }}
                </button>
              </form>
              <form action="/company/deny_cooperation_request" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="plan_id" value="{{ req.plan_id }}">
                <input type="hidden" name="cooperation_id" value="{{ req.coop_id }}">
                <button class="button large-button is-danger"
                        type="submit"
                        title="{{ gettext('Decline') }}">
                        {{ "times"|icon }}
                </button>
              </form>                
            </div>
        </article>  
    
    {% endfor %}
    </div>
    
    {% else %}
    <p class="has-text-centered">{{ gettext("You don't have open requests") }}</p>
    {% endif %}

</div>
<div class="section has-text-centered">
    <div class="content">
        <h1 class="title is-4">
            {{ gettext("Outgoing cooperation requests (own requests)") }}
        </h1>
    </div>

    <div class="column is-offset-4 is-4 has-text-left">
        {% if list_of_outbound_coop_requests.rows %}
        {% for req in list_of_outbound_coop_requests.rows %}
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                    <small>
                        <span>{{ gettext("Plan") }}:</span>&nbsp;
                        <strong><a href="{{ req.plan_url }}">{{ req.plan_name }}</a></strong>
                    </small>
                    <br>
                    <small><span>{{ gettext("Cooperation") }}:</span>&nbsp;{{ req.coop_name }}</small>
                    </p>
                </div>
            </div>
            <div class="media-right">
                <form action="/company/cancel_cooperation_request" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="plan_id" value="{{ req.plan_id }}">
                    <button class="button large-button is-danger"
                            type="submit"
                            title="{{ gettext('Cancel') }}">
                        {{ "times"|icon }}
                    </button>
                </form>
            </div>
        </article>
        {% endfor %}
        {% else %}
        <p class="has-text-centered">{{ gettext("You haven't requested any cooperation")}}</p>
        {% endif %}
    </div>
</div>

<div class="section has-text-centered">
    <div class="content">
        <h1 class="title is-4">
            {{ gettext("My cooperating plans") }}
        </h1>
    </div>

    <div class="column is-offset-4 is-4 has-text-left">
        {% if list_of_my_cooperating_plans.rows %}
        {% for plan in list_of_my_cooperating_plans.rows %}
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong class="is-size-5">
                            <a href="{{ plan.plan_url }}">{{ plan.plan_name }}</a>
                        </strong>
                        <br>
                        <small>{{ gettext("Cooperation") }}: <strong><a href="{{ plan.coop_url }}">{{ plan.coop_name }}</a></strong></small>
                    </p>
                </div>
            </div>
        </article>
        {% endfor %}
        {% else %}
        <p class="has-text-centered">{{ gettext("You don't have any cooperating plans.")}}</p>
        {% endif %}
    </div>

</div>
{% endblock %}
