{% extends "base_company.html" %}

{% block navbar_start %}
<div class="navbar-item">{{ gettext("Plan drafts") }}</div>
{% endblock %}

{% block content %}
<div class="section has-text-centered">
    <div class="content">
        <h1 class="title">
            {{ gettext("Plan drafts") }}
        </h1>
        <div class="box has-background-info-light has-text-info-dark has-text-centered">
            <div class="icon"><i class="fas fa-info-circle"></i></div>
            <p>
                {{ gettext("You can further edit your drafts, file or delete them.")}}<br>
            </p>
        </div>
    </div>

    <div class="table-container">
        {% if show_results %}
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>{{ gettext("Date") }}</th>
                    <th>{{ gettext("Name") }}</th>
                    <th>{{ gettext("Description") }}</th>
                    <th>{{ gettext("Edit") }}</th>
                    <th>{{ gettext("Delete") }}</th>
                </tr>
            </thead>
            <tbody>
                {% for row in results.rows %}
                <tr>
                    <td>{{ row.creation_date }}</td>
                    <td>{{ row.product_name }}</td>
                    <td>{% for paragraph in row.description %}{{ paragraph }}<br>{% endfor %}</td>
                    <td>
                        <a href="{{ url_for('main_company.create_draft', saved_draft_id=row.id) }}"><i
                                class="fas fa-edit"></i></a>
                    </td>
                    <td>X</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div>{{ gettext("You don't have any drafts") }}</div>
        {% endif %}
    </div>
</div>

{% endblock %}