{% extends "base_company.html" %}

{% block navbar_start %}
<div class="navbar-item">{{ gettext("My plans") }}</div>
{% endblock %}

{% block content %}
<div class="section has-text-centered">
  <div class="content">
    <h1>{{ gettext("My plans") }}</h1>
  </div>
  <h1 class="title is-4">{{ gettext("Active")}}</h1>
  {% if show_active_plans %}
  {% for plan in active_plans.rows %}
  <div class="columns is-centered has-text-left">
    <div class="column is-one-third">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong class="is-size-5">
                <a href="{{ plan.plan_summary_url }}">{{ plan.prd_name }}</a>
              </strong>
              <br>
              <small><i class="fa-solid fa-calendar"></i>&nbsp;{{ plan.activation_date }}</small>
              <small><i class="fa-solid fa-hourglass"></i>&nbsp;{{ plan.expiration_relative }}</small>
            </p>
          </div>
          <div>
            {% if not plan.is_available %}
            <span class="tag is-danger">{{ gettext("Product not available") }}</span>
            {% endif %}
            {% if plan.is_cooperating %}
            <span class="tag is-primary">{{ gettext("Cooperating plan") }}</span>
            {% endif %}
            {% if plan.is_public_service %}
            <span class="tag is-warning">{{ gettext("Public") }}</span>
            {% endif %}
          </div>
        </div>
        <div class="media-right">
          <p class="is-size-5">
            {{ plan.price_per_unit }}
          </p>
        </div>
      </article>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <p>{{ gettext("You don't have active plans.")}}</p>
  {% endif %}

  <h1 class="title is-4">{{ gettext("Waiting")}}</h1>

  <div class="table-container">
    {% if show_non_active_plans %}
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th></th>
          <th>{{ gettext("Costs")}}</th>
          <th>{{ gettext("Type")}}</th>
          <th>{{ gettext("Plan created")}}</th>
        </tr>
      </thead>
      <tbody>
        {% for plan in non_active_plans.rows %}
        <tr>
          <td><a href="{{ plan.plan_summary_url }}">{{ plan.prd_name }}</a></td>
          <td>{{ plan.price_per_unit }}</td>
          <td>{{ plan.type_of_plan }}</td>
          <td>{{ plan.plan_creation_date }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>{{ gettext("You don't have plans waiting for activation.")}}</p>
    {% endif %}
  </div>

  <h1 class="title is-4">{{ gettext("Expired")}}</h1>

  <div class="table-container">
    {% if show_expired_plans %}
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th></th>
          <th>{{ gettext("Type") }}</th>
          <th>{{ gettext("Plan created") }}</th>
          <th>{{ gettext("Renew plan") }}</th>
          <th>{{ gettext("Hide plan")}}</th>
        </tr>
      </thead>
      <tbody>
        {% for plan in expired_plans.rows %}
        <tr>
          <td><a href="{{ plan.plan_summary_url }}">{{ plan.prd_name }}</a></td>
          <td>{{ plan.type_of_plan }}</td>
          <td>{{ plan.plan_creation_date }}</td>
          <td>
            <a href="{{ plan.renew_plan_url }}"><i class="{{ 'fas fa-redo' }}"></i></a>
          </td>
          <td>
            <a href="{{ plan.hide_plan_url }}"><i class="fas fa-trash"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>{{ gettext("You don't have expired plans.") }}</p>
    {% endif %}
  </div>
</div>
{% endblock %}