{% extends "base.html" %}

{% block navbar_start %}
<div class="navbar-item">{{ gettext("Plan information") }}</div>
{% endblock %}

{% block content %}

{% from 'macros/plan_details.html' import plan_details %}
{{ plan_details(view_model) }}

<div class="section has-text-centered">
    {% if view_model.show_productive_consumption_url %}
    <h1 class="title">
        {{ gettext("Actions") }}
    </h1>
    <div class="column is-offset-2 is-8">
        <div class="box">
            <div class="tile is-ancestor">
                <div class="tile is-vertical">
                    <div class="tile is-parent" href="">
                        <div class="tile is-child box has-background-danger-light">
                            <h1 class="title is-4">{{ gettext("Register consumption") }}</h1>
                            <a class="button is-primary" href="{{ view_model.productive_consumption_url }}">
                                <span>{{ gettext("Register consumption") }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if view_model.show_own_plan_action_section %}
    <h1 class="title">
        {{ gettext("Actions") }}
    </h1>
    <div class="column is-offset-2 is-8">
        <div class="box">
            <div class="tile is-ancestor">
                <div class="tile is-vertical">
                    <div class="tile is-parent">
                        <div class="tile is-child box has-background-danger-light">
                            <h1 class="title is-4">{{ gettext("Change availability:") }}</h1>
                            <div
                                class="icon is-large {{ 'has-text-success' if view_model.own_plan_action.is_available_bool else 'has-text-danger' }}">
                                <a style="text-decoration: none; color: inherit;"
                                    href="{{ view_model.own_plan_action.toggle_availability_url }}"><i
                                        class="{{ 'fas fa-lg fa-toggle-on' if view_model.own_plan_action.is_available_bool else 'fas fa-lg fa-toggle-off' }}"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-parent" href="">
                        <div class="tile is-child box has-background-danger-light">
                            {% if view_model.own_plan_action.is_cooperating %}
                            <h1 class="title is-4">{{ gettext("End cooperation:") }}</h1>
                            <a class="button is-danger" href="{{ view_model.own_plan_action.end_coop_url }}">
                                <span>{{ gettext("End") }}</span>
                            </a>
                            {% else %}
                            <h1 class="title is-4">{{ gettext("Join a cooperation") }} </h1>
                            <a class="button is-primary" href="{{ view_model.own_plan_action.request_coop_url }}">
                                <span>{{ gettext("Join") }}</span>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}