{% extends "base.html" %}

{% block navbar_start %}
<div class="navbar-item">{{ gettext("Plan information") }}</div>
{% endblock %}

{% block content %}

{% from 'macros/plan_details.html' import plan_details %}
{{ plan_details(view_model) }}

<div class="section has-text-centered">
    {% if view_model.show_productive_consumption_url %}
    <h1 class="title">
        {{ gettext("Actions") }}
    </h1>
    <div class="column is-offset-2 is-8">
        <div class="box">
            <div class="box has-background-danger-light">
                <h1 class="title is-4">{{ gettext("Register consumption") }}</h1>
                <a class="button is-primary" href="{{ view_model.productive_consumption_url }}">
                    <span>{{ gettext("Register consumption") }}</span>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    {% if view_model.show_own_plan_action_section %}
    <h1 class="title">
        {{ gettext("Actions") }}
    </h1>
    <div class="column is-offset-2 is-8">
        <div class="box">
            <div class="box has-background-danger-light">
                {% if view_model.own_plan_action.is_cooperating %}
                <h1 class="title is-4">{{ gettext("End cooperation:") }}</h1>
                <form method="post" action="{{ url_for('.end_cooperation') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="plan_id" value="{{ view_model.own_plan_action.plan_id }}">
                    <input type="hidden" name="cooperation_id" value="{{ view_model.own_plan_action.cooperation_id }}">
                    <button class="button is-danger" type="submit">
                        <span>{{ gettext("End") }}</span>
                    </button>
                </form>
                {% else %}
                <h1 class="title is-4">{{ gettext("Join a cooperation") }} </h1>
                <a class="button is-primary" href="{{ view_model.own_plan_action.request_coop_url }}">
                    <span>{{ gettext("Join") }}</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
