{% extends "base.html" %}

{% block navbar_start %}
<div class="navbar-item">{{ gettext("Registration of productive consumption") }}</div>
{% endblock %}

{% block content %}
<div class="section is-medium has-text-centered">
    <div class="columns">
        <div class="column"></div>
        <div class="column is-6">
            <div class="content">
                <h1 class="title">
                    {{ gettext("Registration of productive consumption") }}
                </h1>
            </div>
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
            <div class="notification is-danger">
                {{ form[field_name].label }}: {{ error }}
            </div>
            {% endfor %}
            {% endfor %}
            {% if view_model.valid_plan_selected is defined and view_model.valid_plan_selected %}
            <form method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            {% else %}
            <form method="get">
            {% endif %}
                <div class="field">
                    <label class="label">{{ gettext("Plan ID") }}</label>
                    <div class="control">
                        {% if view_model.valid_plan_selected is defined and view_model.valid_plan_selected %}
                        {{ form.plan_id(class_="input", readonly=true) }}
                        {% else %}
                        {{ form.plan_id(class_="input") }}
                        {% endif %}
                    </div>
                </div>
                {% if view_model.valid_plan_selected is defined and view_model.valid_plan_selected %}
                <div class="notification is-info">
                    <p>
                        {{ gettext("Plan ID") }}: {{ view_model.plan_id }}
                    </p>
                    <p>
                        {{ gettext("Plan name") }}: {{ view_model.plan_name }}
                    </p>
                    <p>
                        {{ gettext("Plan description") }}: {{ view_model.plan_description }}
                    </p>
                </div>
                {% endif %}
                <div class="field">
                    <label class="label">{{ gettext("Amount") }}</label>
                    <div class="control">
                        {{ form.amount(class_="input") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.type_of_consumption.label }}</label>
                    <div class="control">
                        <div class="select">
                            <select name="type_of_consumption" required>
                                {% for option in form.type_of_consumption %}
                                {{ option }}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        {% if view_model.valid_plan_selected is defined and view_model.valid_plan_selected %}
                        <button class="button is-primary" type="submit">{{ gettext("Register") }}</button>
                        <a class="button is-light" href="{{ url_for('main_company.register_productive_consumption') }}">{{ gettext("Cancel") }}</a>
                        {% else %}
                        <button class="button is-primary" type="submit">{{ gettext("Select") }}</button>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
        <div class="column"></div>
    </div>
</div>
{% endblock %}
