{% extends "base.html" %}

{% block navbar_start %}
<div class="navbar-item">{{ gettext("Registration of productive consumption") }}</div>
{% endblock %}

{% block content %}
<div class="section is-medium has-text-centered">
    <div class="columns">
        <div class="column"></div>
        <div class="column is-6">
            <div class="content">
                <h1 class="title">
                    {{ gettext("Registration of productive consumption") }}
                </h1>
            </div>
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
            <div class="notification is-danger">
                {{ form[field_name].label }}: {{ error }}
            </div>
            {% endfor %}
            {% endfor %}
        </div>
        <div class="column"></div>
    </div>
</div>
{% endblock %}
