{% extends "base_company.html" %}

{% block company %}
<div class="section is-medium has-text-centered">
    <h1 class="title">
        Kooperation anfragen
    </h1>

    <div class="box has-background-info-light has-text-info-dark">
        <div class="icon"><i class="fas fa-info-circle"></i></div>
        <p>
            Frage hier eine Kooperation an. <br><br>
            Der "Koordinator" der Kooperation entscheidet dann darüber, ob er deinen
            Plan zur Kooperation hinzufügt.<br>
            Alle Pläne in einer Kooperation sollten das gleiche oder ein ähnliches Produkt anbieten.
        </p>
    </div>
    <div class="columns is-centered">
        <div class="column"></div>
        <div class="column is-8 has-text-centered">
            {% if view_model %}
            <div class="box">
                {% for notification in view_model.notifications %}
                <div {% if view_model.is_error %}class="notification is-danger" {% else
                    %}class="notification is-primary" {% endif %}>{{ notification }}</div>
                {% endfor %}
            </div>
            {% endif %}

            {% if form %}
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
            <div class="notification is-danger">
                {{ error }}
            </div>
            {% endfor %}
            {% endfor %}
            {% endif %}

            <div class="content">
                {% if list_plans_view_model is defined and list_plans_view_model.show_plan_listing %}
                <form method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="field has-addons has-addons-centered">
                        <div class="control has-icons-left">
                            <div class="select has-icons-left">
                                <select name="plan_id" required>
                                    <option>Mein Plan...</option>
                                    {% for plan in list_plans_view_model.plans %}
                                    <option value="{{ plan.id }}">{{ plan.prd_name_truncated }} ({{
                                        plan.id_truncated
                                        }})
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <span class="icon is-left">
                                <i class="far fa-file"></i>
                            </span>
                        </div>
                        <div class="control">
                            <input class="input" type="text" placeholder="Kooperation-ID" , name="cooperation_id"
                                required>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary" name="request_coop" value="request_coop"
                                    type="submit">Kooperation anfragen</button>
                            </div>
                        </div>
                    </div>
                </form>
                {% else %}
                <p>(Noch keine Pläne.)</p>
                {% endif %}
            </div>
        </div>
        <div class="column"></div>
    </div>
</div>

{% endblock %}