{% extends "base_company.html" %}

{% from 'macros/show_notifications.html' import show_notifications %}

{% block content2 %}
<div class="columns has-text-left">
    <div class="column is-two-third">
        <div class="content">
            <h1 class="title">
                Bezahlung Produktionsmittel und Rohstoffe
            </h1>
        </div>
        <div class="content">
            <form method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="field has-addons">
                    <div class="control">
                        {{ form.plan_id(class_="input") }}
                    </div>
                    <div class="control">
                        {{ form.amount(class_="input") }}
                    </div>
                    <div class="control">
                        {{ form.category(class_="select") }}
                    </div>
                    <div class="control">
                        <button class="button is-primary" name="transfer_type" value="transfer_to_company"
                            type="submit">Überweisen</button>
                    </div>
                </div>
            </form>
        </div>
        {{ show_notifications() }}
    </div>
</div>
{% endblock %}