{% extends "base_company.html" %}

{% block content2 %}
<div class="columns is-centered">
  <div class="column is-half">
    <h1 class="title">
      Mitarbeiter
    </h1>


    <div class="table-container">
      {% if workers_list is defined and workers_list|length %}
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Mitglieder-ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {% for worker in workers_list %}
          <tr>
            <td>{{ worker.id }}</td>
            <td>{{ worker.name }}</td>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>(Noch keine Mitarbeiter.)</p>
      {% endif %}
    </div>


    <div class="content">
      <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="field has-addons">
          <div class="control is-expanded">
            <input class="input" type="text" placeholder="Mitglieder-ID" , name="member" required>
          </div>
          <div class="control">
            <button class="button is-primary" type="submit">MitarbeiterIn hinzufügen</button>
          </div>
        </div>
        <p class="help">Mitarbeiter finden ihre Mitglieder-Id unter "Meine Daten".</p>
      </form>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="block"></div>
    <div class="notification is-danger">
      {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}


    <hr>
    <br>


  </div>
</div>


{% endblock %}