{% extends "base_member.html" %}

{% block content2 %}


<h1 class="title">
    Mein Konto
</h1>
<div class="box has-background-info-light has-text-info-dark">
    <div class="icon"><i class="fas fa-info-circle"></i></div>
    <p>Hier sind deine Umsätze. In der ersten Zeile siehst du deinen Kontostand.
    </p>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="notification is-danger is-light">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="table-container">
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Von</th>
                <th>An</th>
                <th>Wert</th>
                <th>Verw.zweck</th>
            </tr>
        </thead>
        <tbody>
            {% if my_balance is defined %}
            <tr class="is-selected">
                <td></td>
                <td></td>
                <td></td>
                <td><b>{{ my_balance }}</b></td>
                <td></td>
            </tr>
            {% endif %}

            {% if all_transactions_info is defined and all_transactions_info|length %}
            {% for trans_info in all_transactions_info %}
            <tr>
                <td>{{ trans_info.date.strftime("%c") }}</td>
                <td>{{ trans_info.sender_name }}</td>
                <td>{{ trans_info.receiver_name }}</td>
                <td>{{ trans_info.transaction_volumes["member"] }}</td>
                <td>{{ trans_info.purpose }}</td>
            </tr>
            {% endfor %}
            {% endif %}

        </tbody>
    </table>
</div>

{% endblock %}