{% extends "base_member.html" %}

{% block content2 %}


<h1 class="title">
    Meine Konten
</h1>
<div class="box has-background-info-light has-text-info-dark">
    <div class="icon"><i class="fas fa-info-circle"></i></div>
    <p>Hier sind deine Umsätze. In der ersten Zeile siehst du deinen Kontostand.
    </p>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="notification is-danger is-light">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="table-container">
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Sender</th>
                <th>Empfänger</th>
                <th>Ein-/Ausgänge</th>
                <th>Verw.zweck</th>
            </tr>
        </thead>
        <tbody>
            {% if my_balance is defined %}
            <tr class="is-selected">
                <td></td>
                <td></td>
                <td></td>
                <td><b>{{ my_balance }}</b></td>
                <td></td>
            </tr>
            {% endif %}

            {% if all_transactions is defined and all_transactions|length %}
            {% for transaction in all_transactions %}
            <tr>
                <td>{{ transaction[0].strftime("%c") }}</td>
                <td>{{ transaction[1] }}</td>
                <td>{{ transaction[2] }}</td>
                <td>{{ transaction[3] }}</td>
                <td>{{ transaction[4] }}</td>
            </tr>
            {% endfor %}
            {% endif %}

        </tbody>
    </table>
</div>

{% endblock %}