{% extends "base_betriebe.html" %}

{% block content2 %}
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        <h1 class="title">Angebot verkaufen</h1>
        <div class="block">
          <p>"{{ angebot.name }}" kostet {{ angebot.preis|round(2) }} Stunden.</p>
          <p>Um den Kauf abzuwickeln gib hier den Code ein, den du vom Käufer erhalten hast:</p>
        </div>
        <div class="block">
          <form method="post">
            <div class="field">
              <div class="control">
                <input class="input" type="text" name="code" placeholder="Code im Wert von {{ angebot.preis|round(2) }} Stunden">
              </div>
            </div>
          <div class="field">
            <div class="control">
              <div class="field is-grouped is-grouped-centered">
                <input class="button is-primary" type="submit" value="Verkaufen">
                <a class="button is-light" href="{{  url_for('main_betriebe.meine_angebote') }}">
                  Abbrechen
                </a>
              </div>
            </div>
          </div>
        </form>
        </div>
        <div class="block">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                <div class="notification is-danger is-light">{{ message }}</div>
              {% endfor %}

          {% endif %}
        {% endwith %}
        </div>
      </div>
    </div>

{% endblock %}
