{% extends "base.html" %}
{% block content1 %}
<section class="hero is-fullheight">
      <div class="hero-head">

        <nav class="navbar is-light" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <div class="navbar-item has-background-primary	has-text-white">
              Betriebs-Ansicht
            </div>

            <a role="button" class="navbar-burger" onclick="expandMenu()" aria-label="menu" aria-expanded="false" data-target="navbarOnTop">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarOnTop" class="navbar-menu">
            <div class="navbar-start">
                {% if current_user.is_authenticated %}
                <div class="navbar-item has-dropdown is-hoverable">
                      <a class="navbar-link">
                        Angebote
                      </a>

                      <div class="navbar-dropdown">
                          <a href="{{ url_for('main_betriebe.suchen') }}" class="navbar-item">
                              Angebote suchen
                          </a>
                          <a href="{{ url_for('main_betriebe.anbieten_info') }}" class="navbar-item">
                            Neues Angebot erstellen
                          </a>
                          <a href="{{ url_for('main_betriebe.meine_angebote') }}" class="navbar-item">
                            Meine Angebote
                          </a>
                      </div>
                </div>


                <a href="{{ url_for('main_betriebe.produktionsmittel') }}" class="navbar-item">
                    Produktionsmittel
                </a>

                <a href="{{ url_for('main_betriebe.arbeit') }}" class="navbar-item">
                    Arbeit
                </a>

                <a href="{{ url_for('main_betriebe.profile') }}" class="navbar-item">
                    Meine Daten
                </a>
                {% endif %}

            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    {% if not current_user.is_authenticated %}
                    <a class="button" href="{{ url_for('auth.login_betriebe') }}">
                        Anmelden
                    </a>
                    <a class="button" href="{{ url_for('auth.signup_betriebe') }}">
                        Registrieren
                    </a>
                    <a class="button" href="{{ url_for('auth.zurueck') }}">
                        Zurück
                    </a>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <a class="button" href="{{ url_for('auth.logout') }}">
                        Logout
                    </a>
                    <a class="button" href="{{ url_for('main_betriebe.hilfe') }}">
                        ?
                    </a>
                    {% endif %}

                  </div>
                </div>
            </div>

          </div>
        </nav>
      </div>

      <div class="hero-body">
             {% block content2 %}
             {% endblock %}
      </div>

      
</section>
{% endblock %}
