{% extends "base_betriebe.html" %}

{% block content2 %}

<div class="section">

<div class="container">
    <h1 class="subtitle">PREISZUSAMMENSETZUNG</h1>
    <div class="table-container">
        <figure class="image">
          {{ piped|safe }}
        </figure>
    </div>

    <h1 class="subtitle">DETAILS PREISZUSAMMENSETZUNG</h1>
    <div class="table-container">
        <div class="content">
          {{ table_preiszus }}
        </div>
    </div>

    <form method="post">
        <a class="button is-primary" href="{{  url_for('main_betriebe.suchen') }}">
          Zurück
        </a>
    </form>
</div>

</div>

{% endblock %}
