{% extends "base_betriebe.html" %}

{% block content2 %}
<div class="columns is-centered">
    <div class="column is-three-fifths">
      <div class="box has-background-info-light has-text-info-dark">
        <div class="icon"><i class="fas fa-info-circle"></i></div>
        <p>
          Wenn ein anderer Betrieb das gleiche Produkt anbietet wie du, könnt ihr kooperieren. Das
          heißt zunächst nichts anderes, als dass ihr eure Produkte zu einem
          Durchschnittspreis anbietet.<br>
          Du kannst dein Produkt problemlos von einem kooperativen Zusammenhang in einen anderen verschieben.
        </p>
      </div>


        <h1 class="title">
          Meine Kooperationen
        </h1>


          {% if meine_kooperationen is defined and meine_kooperationen|length %}
            <div class="table-container">
              <table class="table is-bordered is-fullwidth">
                <thead>
                  <tr>
                    <th>Angebot Name</th>
                    <th>Kooperation</th>
                  </tr>
                </thead>
                  <tbody>
                    {% for koop in meine_kooperationen %}
                      <tr>
                        <td>{{ koop.name }}</td>
                        <td>{{ koop.kooperation }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
          {% else %}
            <div class="block">
                Noch keine Kooperationen
            </div>
          {% endif %}



        <h1 class="title">
          Neue Kooperation starten
        </h1>


        <div class="content">
          <form method="post">
            <div class="field">
              <div class="control">
                <label for="angebot_id">Eigenes Produkt</label>
                <input class="input" type="text" placeholder="Angebot-ID (Eigenes Produkt)", name="angebot_id_eigenes" value="{{ prefilled if prefilled else '' }}" required>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label for="angebot_id">Produkt des Kooperationspartners</label>
                <input class="input" type="text" placeholder="Angebot-ID (Kooperationspartner)", name="angebot_id_externes" required>
              </div>
            </div>

            <div class="field is-grouped is-grouped-centered">
              <div class="control">
                <button class="button is-primary">
                  Kooperation starten
                </button>
              </div>
            </div>
          </form>
        </div>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="notification is-danger">{{ message }}  </div>
            {% endfor %}
          {% endif %}
        {% endwith %}


    </div>
</div>

{% endblock %}
