{% extends "base_betriebe.html" %}

{% block content2 %}


  <h1 class="title">
    Meine Angebote
  </h1>
  <div class="content">
    <div class="icon"><i class="fas fa-info-circle"></i></div>
    <p>Hier sind deine aktuellen Angebote.<br>
      Bei Bedarf kannst du sie löschen, mit einem Code verkaufen oder eine Kooperation starten.</p>
  </div>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="notification is-danger is-light">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="table-container">


    {% if aktuelle_angebote is defined and aktuelle_angebote|length %}
    <table class="table is-bordered is-fullwidth">
      <thead>
        <tr>
          <th>Angebot-ID</th><th>Produktname</th><th>Beschreibung</th><th>Kategorie</th>
          <th>Kosten p</th><th>Kosten v</th><th>Preis</th> <th>Koop</th>
          <th>Koop-Preis</th><th>Vorhanden</th><th>Kooperieren</th><th>Löschen</th><th>Offline-Verkauf</th>
        </tr>
      </thead>
      <tbody>
        {% for res in aktuelle_angebote %}
          <tr>
            <td>{{ res.id }}</td>
            <td>{{ res.angebot_name }}</td>
            <td>{{ res.beschreibung }}</td>
            <td>{{ res.kategorie }}</td>
            <td>{{ res.p_kosten|round(2) }}</td>
            <td>{{ res.v_kosten|round(2) }}</td>
            <td>{{ res.preis|round(2) }} Std.</td>
            <td>{{ res.kooperation if res.kooperation else '-' }}</td>
            <td>{{ res.koop_preis|round(2) }} Std.</td>
            <td>{{ res.vorhanden }}</td>
            <td><a href="{{ url_for('main_betriebe.kooperieren', id=res.id) }}"><u>Kooperieren</u></a></td>
            <td><a href="{{ url_for('main_betriebe.angebot_loeschen', id=res.id) }}"><u>Löschen</u></a></td>
            <td><a href="{{ url_for('main_betriebe.angebot_verkaufen', id=res.id) }}"><u>Offline-Verkauf</u></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>(Du hast keine aktuellen Angebote.)</p>
    {% endif %}
  </div>

  <h1 class="title">
    Meine vergangenen Angebote
  </h1>
  <div class="table-container">
    {% if vergangene_angebote is defined and vergangene_angebote|length %}
    <table class="table is-bordered is-fullwidth">
      <thead>
        <tr><th>Angebot-ID</th><th>Produktname</th><th>Beschreibung</th><th>Kategorie</th><th>Kosten p</th><th>Kosten v</th><th>Preis</th>
        <th>Koop</th><th>Koop-Preis</th><th>Verkauft</th></tr>
      </thead>
        <tbody>
          {% for res in vergangene_angebote %}
            <tr>
              <td>{{ res.id }}</td>
              <td>{{ res.angebot_name }}</td>
              <td>{{ res.beschreibung }}</td>
              <td>{{ res.kategorie }}</td>
              <td>{{ res.p_kosten|round(2) }}</td>
              <td>{{ res.v_kosten|round(2) }}</td>
              <td>{{ res.preis|round(2) }} Std.</td>
              <td>{{ res.kooperation if res.kooperation else '-' }}</td>
              <td>{{ res.koop_preis|round(2) }} Std.</td>
              <td>{{ res.vorhanden }}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>(Keine vergangenen Angebote vorhanden.)</p>

    {% endif %}
  </div>

{% endblock %}
