{% extends "base_betriebe.html" %}

{% block content2 %}

<div class="content">
  <h1 class="title">
    Meine Angebote
  </h1>
  <div class="icon"><i class="fas fa-info-circle"></i></div>
  <p>Hier siehts du deine aktuellen Angebote. Bei Bedarf kannst du sie löschen.</p>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="notification is-danger">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% if aktuelle_angebote is defined and aktuelle_angebote|length %}
  <table class="table is-bordered is-fullwidth">
    <thead><tr><th>Angebot-ID</th><th>Produktname</th><th>Beschreibung</th><th>Kategorie</th><th>Kosten p</th><th>Kosten v</th><th>Preis</th><th>Löschen</th></tr></thead>
      <tbody>
        {% for res in aktuelle_angebote %}
          <tr><td>{{ res.id }}</td><td>{{ res.name }}</td> <td>{{ res.beschreibung }}</td> <td>{{ res.kategorie }}</td><td>{{ res.p_kosten }}</td><td>{{ res.v_kosten }}</td><td>{{ res.preis }}</td><td><a href="{{ url_for('main_betriebe.angebot_loeschen', id=res.id) }}"><u>Link</u></a></td></tr>
        {% endfor %}
      </tbody>
  </table>
  {% else %}
  <p>(Du hast keine aktuellen Angebote.)</p>
  {% endif %}
</div>


<div class="content">
  <h1 class="title">
    Meine vergangenen Angebote
  </h1>
  {% if vergangene_angebote is defined and vergangene_angebote|length %}
  <table class="table is-bordered is-fullwidth">
    <thead><tr><th>Angebot-ID</th><th>Produktname</th><th>Beschreibung</th><th>Kategorie</th><th>Kosten p</th><th>Kosten v</th><th>Preis</th></tr></thead>
      <tbody>
        {% for res in vergangene_angebote %}
          <tr><td>{{ res.id }}</td><td>{{ res.name }}</td> <td>{{ res.beschreibung }}</td> <td>{{ res.kategorie }}</td><td>{{ res.p_kosten }}</td><td>{{ res.v_kosten }}</td><td>{{ res.preis }}</td></tr>
        {% endfor %}
      </tbody>
  </table>
  {% else %}
  <p>(Keine vergangenen Angebote vorhanden.)</p>

  {% endif %}
</div>

{% endblock %}
