{% extends "base_betriebe.html" %}

{% block content2 %}

<div class="section">
  <div class="container">
      <div class="columns is-centered">
          <div class="column is-two-fifths">
            <h1 class="title">
              Willkommen, {{ current_user.name }}!
            </h1>

            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <p>Dein Guthaben:</p>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <p>{{ current_user.guthaben|round(2) }} Stunden</p>
                </div>
              </div>
            </div>
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <p>Deine ID:</p>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <p>{{ current_user.id }}</p>
                </div>
              </div>
            </div>
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <p>Deine Email:</p>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <p>{{ current_user.email }}</p>
                </div>
              </div>
            </div>

<!--
            <div class="content">
              <table>
                <tr>
                  <td>Dein Guthaben:</td><td>{{ current_user.guthaben|round(2) }} Stunden</td>
                </tr>
                <tr>
                  <td>Deine ID:</td><td>{{ current_user.id }}</td>
                </tr>
                <tr>
                  <td>Deine Email:</td><td>{{ current_user.email }}</td>
                </tr>
              </table>
            </div> -->

            <div class="content">
              {% if having_workers is sameas false %}
              <div class="block">
                <p><span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
                  Du hast noch keine Mitarbeiter. Füge sie <a href="{{ url_for('main_betriebe.arbeit') }}">hier</a> hinzu.</p>
              </div>
              {% endif %}
            </div>
       </div>
    </div>
  </div>
</div>


{% endblock %}
