{% extends "base_betriebe.html" %}

{% block content2 %}
<div class="column is-4 is-offset-4">
  <h1 class="title">
    Produktsuche
  </h1>
  <div class="box">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="notification is-danger">{{ message }}  </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="post">
      <div class="field">
          <div class="control">
            <div class="select is-large is-fullwidth">
              {{ form.select }}
            </div>
          </div>
          <p class="help">Suche in Namen oder Beschreibung</p>
      </div>
      <div class="field">
        <div class="control">
            {{ form.search(class_="input is-large") }}
        </div>
        <p class="help">Suchbegriff</p>
      </div>
        <button class="button is-block is-primary is-large is-fullwidth">Suche</button>
    </form>
  </div>

</div>

  {% if results is defined and results|length %}
    <table class="table is-bordered is-fullwidth">
      <thead><tr><th>Angebot-ID</th><th>Produktname</th><th>Betrieb</th><th>Kontakt</th><th>Beschreibung</th><th>Kategorie</th><th>Preis</th><th>Details</th><th>Kaufen</th></tr></thead>
        <tbody>
          {% for res in results %}
            <tr><td>{{ res[0] }}</td><td>{{ res[1] }}</td> <td>{{ res[2] }}</td> <td>{{ res[3] }}</td><td>{{ res[4] }}</td><td>{{ res[5] }}</td><td>{{ res[6] }}</td><td><a href="{{ url_for('main_betriebe.details', id=res[0]) }}"><u>Link</u></a></td><td><a href="{{ url_for('main_betriebe.kaufen', id=res[0]) }}"><u>Link</u></a></td></tr>
          {% endfor %}
        </tbody>
    </table>
  {% endif %}



{% endblock %}
