{% extends "base.html" %}

{% block navbar_start %}
<div class="navbar-item">{{ gettext("My consumptions") }}</div>
{% endblock %}

{% block content %}

<div class="section has-text-centered">
  <div class="content">
    <h1 class="title">
      {{ gettext("My past consumptions") }}
    </h1>
    <div class="box has-background-info-light has-text-info-dark has-text-centered">
      <div class="icon">{{ "info-circle"|icon }}</div>
      <p>
        {{ gettext("Your past consumptions are shown here.") }}<br>
      </p>
    </div>
  </div>

  <div class="table-container">
    <table class="table has-text-left mx-auto">
      <thead>
        <tr>
          <th>{{ gettext("Date") }}</th>
          <th>{{ gettext("Name") }}</th>
          <th>{{ gettext("Description") }}</th>
          <th>{{ gettext("Price per unit") }}</th>
          <th>{{ gettext("Amount") }}</th>
          <th>{{ gettext("Total price") }}</th>
        </tr>
      </thead>
      <tbody>
        {% if view_model.is_consumptions_visible %}
        {% for consumption in view_model.consumptions %}
        <tr>
          <td>{{ consumption.consumption_date }}</td>
          <td>{{ consumption.product_name }}</td>
          <td>{{ consumption.product_description }}</td>
          <td>{{ consumption.price_per_unit }}</td>
          <th>{{ consumption.consumption_amount }}</th>
          <th>{{ consumption.price_total }} </th>
        </tr>
        {% endfor %}
        {% else %}
        <div>{{ gettext("You have not consumed anything yet.") }}</div>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
