{% extends "base.html" %}

{% block content %}
<div class="section">
  <div class="has-text-centered pb-5">
    <h1 class="title is-2">{{ view_model.welcome_message }}</h1>
    <div class="columns">
      <div class="column"></div>
      <div class="column is-one-third">
        <div class="box">
          <p class="has-text-weight-semibold">{{ gettext("Your ID") }}:</p>
          <p>{{ view_model.member_id }}</p>
          <p class="has-text-weight-semibold">{{ gettext("Your email") }}:</p>
          <p>{{ view_model.email }}</p>
          <p class="has-text-weight-semibold">{{ gettext("Your credit") }}:</p>
          <p>{{ view_model.account_balance }}</p>
          <p class="has-text-weight-semibold">{{ gettext("Your workplaces") }}:</p>
          {% if view_model.show_workplaces %}
          <ul>
            {% for workplace in view_model.workplaces %}
            <li><a href="{{ workplace.url}}">{{ workplace.name }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}

          {% if view_model.show_workplace_registration_info %}
          <div>
            <span class="icon">{{ "exclamation-triangle"|icon }}</span>
            <p>
              {{ gettext("You are not registered with any company. Tell your company your member ID so that they register you.") }}
            </p>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="column">
        {% if view_model.show_invites %}
        <div class="box">
          <ul>
            {% for invite in view_model.invites %}
            <li>
              <p><a href="{{ invite.invite_details_url }}">{{ invite.invite_message }}</a></p>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>


    <div class="has-text-centered py-5">
      <h1 class="title is-3">{{ gettext("My area") }}</h1>
    </div>
    <div class="fixed-grid has-3-cols has-1-cols-mobile">
      <ul class="grid">
        <li class="cell box has-background-primary-light mb-0">
          <a href="{{ url_for('main_member.register_private_consumption') }}">
            <h1 class="title is-5"><span class="icon">{{ "file-circle-plus"|icon }}</span> {{
              gettext("Private consumption") }}</h1>
            <div class="subtitle"></div>
          </a>
        </li>
        <li class="cell box has-background-primary-light mb-0">
          <a href="{{ url_for('main_member.my_account') }}">
            <h1 class="title is-5"><span class="icon">{{ "industry"|icon }}</span> {{
              gettext("My account") }}
            </h1>
          </a>
        </li>
        <li class="cell box has-background-primary-light mb-0">
          <a href="{{ url_for('main_member.consumptions') }}">
            <h1 class="title is-5"><span class="icon">{{ "file"|icon }}</span>
              {{ gettext("My consumptions") }}
            </h1>
          </a>
        </li>
      </ul>   
    </div>
    <div class="has-text-centered py-5">
      <h1 class="title is-3">{{ gettext("Public accounting") }}</h1>
    </div>
    <div class="fixed-grid has-3-cols has-1-cols-mobile">
      <div class="grid">
        <div class="cell is-col-start-2 is-col-start-1-mobile">
          <ul class="panel">
            <p class="panel-heading is-italic has-background-warning-light">{{ gettext("Latest plans") }}
            </p>
            {% if view_model.has_latest_plans %}
            {% for plan in view_model.three_latest_plans %}
            <li>
              <a class="panel-block" href="{{ plan.plan_details_url }}">
                <span class="has-text-weight-semibold">{{ plan.approval_date }}
                </span>&nbsp;{{ plan.prd_name }}
              </a>
            </li>
            {% endfor %}
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="fixed-grid has-3-cols has-1-cols-mobile">
      <ul class="grid">
        <li class="cell box has-background-warning-light mb-0">
          <a href="{{ url_for('main_user.statistics') }}">
            <h1 class="title is-5"><span class="icon">{{ "chart-pie"|icon }}</span> {{
              gettext("Global statistics") }}
            </h1>
            <div class="subtitle"></div>
          </a>  
        </li>
        <li class="cell box has-background-warning-light mb-0">
          <a href="{{ url_for('main_user.query_plans') }}">
            <h1 class="title is-5"><span class="icon">{{ "file"|icon }}</span>
              {{ gettext("All plans") }}</h1>
            <div class="subtitle"></div>
          </a>  
        </li>
        <li class="cell box has-background-warning-light mb-0">
          <a href="{{ url_for('main_user.list_transfers') }}">
            <h1 class="title is-5"><span class="icon">{{ "list"|icon }}</span>
              {{ gettext("All transfers") }}</h1>
            <div class="subtitle"></div>
          </a>
        </li>
        <li class="cell box has-background-warning-light mb-0">
          <a href="{{ url_for('main_user.query_companies') }}">
            <h1 class="title is-5"><span class="icon">{{ "industry"|icon }}</span>
              {{ gettext("All companies") }}</h1>
            <div class="subtitle"></div>
          </a>
        </li>
      </ul>
    </div>
  </div>


  {% endblock %}
