{% extends "base_member.html" %}

{% block navbar_start %}
<div class="navbar-item">{{ gettext("My account") }}</div>
{% endblock %}

{% block content %}

<div class="section has-text-centered">
    <h1 class="title">
        {{ gettext("My Account") }}
    </h1>
    <div>
        <p>{{ gettext("Current balance") }}:</p>
        <p
            class="py-2 has-text-weight-bold {{ 'has-text-primary' if view_model.is_balance_positive else 'has-text-danger' }}">
            {{ view_model.balance }}
        </p>
    </div>
    <div class="table-container">
        <table class="table has-text-left mx-auto">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if view_model.transactions is defined and view_model.transactions|length %}
                {% for transaction in view_model.transactions %}
                <tr>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.user_name }}</td>
                    <td>{{ transaction.purpose }}</td>
                    <td
                        class="has-text-right has-text-weight-bold {{ 'has-text-success' if transaction.is_volume_positive else 'has-text-danger' }}">
                        {{ transaction.volume }}
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
</div>
{% endblock %}