{% extends "base.html" %}

{% block navbar_start %}
<div class="navbar-item">{{ gettext("My account") }}</div>
{% endblock %}

{% block content %}
{% from 'macros/transfers.html' import transfer_with_party %}
<div class="section has-text-centered">
    <h1 class="title">
        {{ gettext("My Account") }}
    </h1>
    <div>
        <p>{{ gettext("Current balance") }}:</p>
        <p
            class="py-2 has-text-weight-bold {{ 'has-text-primary' if view_model.is_balance_positive else 'has-text-danger' }}">
            {{ view_model.balance }}
        </p>
    </div>
</div>
<div class="section">
    <div class="columns is-centered">
        <div class="column is-half">
            {% if view_model.transfers is defined and view_model.transfers|length %}
            {% for transfer in view_model.transfers %}
                {{ transfer_with_party(transfer.date, transfer.transfer_type, transfer.transfer_volume, transfer.is_debit_transfer, transfer.party_icon, transfer.party_name) }}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
