{% extends "base.html" %}

{% block navbar_start %}
<div class="navbar-item">{{ gettext("My account") }}</div>
{% endblock %}

{% block content %}
<div class="section has-text-centered">
    <h1 class="title">
        {{ gettext("My Account") }}
    </h1>
    <div>
        <p>{{ gettext("Current balance") }}:</p>
        <p
            class="py-2 has-text-weight-bold {{ 'has-text-primary' if view_model.is_balance_positive else 'has-text-danger' }}">
            {{ view_model.balance }}
        </p>
    </div>
</div>
<div class="section">
    <div class="columns is-centered">
        <div class="column is-half">
            {% if view_model.transfers is defined and view_model.transfers|length %}
            {% for transfer in view_model.transfers %}
            <article class="media">
                <div class="media-left">
                    <p class="pt-1">
                        <small class="has-text-weight-semibold">{{ transfer.date }}</small><br>
                    </p>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong class="is-size-5">
                                {{ transfer.type }}
                            </strong>
                            <br>
                            <small>{{ transfer.user_name }}</small>
                        </p>
                    </div>
                </div>
                <div class="media-right">
                    <p class="is-size-5 pt-1 {{ 'has-text-danger' if transfer.is_debit_transfer else 'has-text-success' }}">
                        {{ transfer.volume }}
                    </p>
                </div>
            </article>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
