{% extends "base_member.html" %}

{% block content2 %}

{% from 'macros/show_notifications.html' import show_notifications %}
{{ show_notifications() }}

<form action="{{ view_model.answer_invite_url }}" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <button name="is_accepted" value="true" type="submit">
    Accept
  </button>
</from>
<form action="{{ view_model.answer_invite_url }}" method="post">
  <button name="is_accepted" value="false" type="submit">
    Reject
  </button>
</from>

{% endblock %}
