{% extends "base.html" %}
{% block content %}
<div class="section has-text-centered">
  <p>
    {{ view_model.explanation_text }}
  </p>
  <form action="{{ view_model.answer_invite_url }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <button name="is_accepted" value="true" type="submit" class="button primary is-success">
      {{ gettext('Accept') }}
    </button>
    <button name="is_accepted" value="false" type="submit" class="button is-danger">
      {{ gettext('Reject') }}
    </button>
  </form>
</div>
{% endblock %}