{% extends "base_member.html" %}

{% block member %}
<div class="section is-medium">
    <div class="container">
        <div class="column is-4 is-offset-4">
            <div class="box has-text-centered">
                <h3 class="title">Login member</h3>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
                {% endif %}
                {% endwith %}

                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                <div class="notification is-danger">{{ error }}</div>
                {% endfor %}
                {% endfor %}
                <form method="POST" action="/member/login">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="field">
                        <div class="control has-icons-left">
                            {{ form.email(class_="input is-large", placeholder="Email") }}
                            <span class="icon is-small is-left">
                                <i class="fas fa-at"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control has-icons-left">
                            {{ form.password(class_="input is-large", placeholder="Passwort") }}
                            <span class="icon is-small is-left">
                                <i class="fas fa-key"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        {{ form.remember }} {{ form.remember.label }}
                    </div>
                    <button class="button is-block is-primary is-large is-fullwidth">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}