{% extends "base.html" %}

{% block content %}

<div class="section">
  <div class="has-text-centered">
    <h1 class="title is-2">{{ gettext("Welcome, %(name)s!", name=view_model.name) }}</h1>
    <div class="columns">
        <div class="column"></div>
        <div class="column is-one-third">
            <div class="box">
                <p class="has-text-weight-semibold">{{ gettext("Your ID") }}:</p>
                <p>{{ view_model.accountant_id }}</p>
                <p class="has-text-weight-semibold">{{ gettext("Your email") }}:</p>
                <p>{{ view_model.email }}</p>
            </div>
        </div>
        <div class="column"></div>
    </div>


    <div class="has-text-centered py-5">
      <h1 class="title is-3">{{ gettext("Frequent actions") }}</h1>
    </div>
    <div class="fixed-grid has-3-cols has-1-cols-mobile">
      <div class="grid">
        <div class="cell">
          <a href="{{ view_model.unreviewed_plans_view_url }}">
            <div class="box has-background-danger-light">
              <h1 class="title is-5">
                {{ gettext("List unreviewed plans") }}
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
