{% extends "base.html" %}

{% block content %}
<div class="section has-text-centered">
  <h1 class="title">{{ gettext('User Account Data') }}</h1>
  <div>
    <p>
      {{ gettext("Account ID:") }} {{ view_model.user_id}}
    </p>
    <p>
      {{ gettext("Email address:") }} {{ view_model.email_address }}
    </p>
    <p>
      <a href="{{ view_model.request_email_address_change_url }}">
        {{ gettext("Change email address") }}
      </a>
    </p>
    <p>
      {{ gettext("Current time:") }} {{ view_model.current_user_time }}
    </p>
  </div>
</div>
{% endblock %}
