{% extends "base.html" %}

{% block navbar_start %}
{% from 'macros/navbar.html' import navbar %}
{{ navbar(view_model.navbar_items) }}
{% endblock %}

{% block content %}
{% from 'macros/transactions.html' import basic_transaction %}

<section class="section has-text-centered columns">
    <div class="column"></div>
    <div class="column is-two-thirds">
        <div class="pb-5">
            <h1 class="title">
                {{ gettext("Account p") }}
            </h1>
        </div>
            <div class="box has-background-info-light has-text-info-dark">
                <div class="icon"><i class="fas fa-info-circle"></i></div>
                <p>{{ gettext("The account for fixed means of production.") }}</p>
            </div>
            <p>
                {{ gettext("Sum of planned fixed means of production:") }}
                <span class="has-text-weight-bold">{{ view_model.sum_of_planned_p }}</span>
            </p>
            <p>{{ gettext("Sum of consumed fixed means of production:") }}
                <span  class="has-text-weight-bold">{{ view_model.sum_of_consumed_p }}</span>
            </p>
            <p>{{ gettext("Balance:") }}
                <span
                    class="has-text-weight-bold">
                    {{ view_model.account_balance }}
                </span>
            </p>
        <div>
            <img src="{{ view_model.plot_url }}" alt="plot of p account">
        </div>
        <div class="section has-text-left">
            {% if view_model.transactions is defined and view_model.transactions|length %}
            {% for trans_info in view_model.transactions %}
            {{ basic_transaction(trans_info.date, trans_info.transaction_type, trans_info.purpose, trans_info.transaction_volume) }}
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="column"></div>
</section>
{% endblock %}