{% extends "base.html" %}

{% block navbar_start %}
<div class="navbar-item">{{ gettext("Accounts") }}</div>
{% endblock %}

{% block content %}

<section class="section has-text-centered columns">
    <div class="column"></div>
    <div class="column is-two-thirds">
        <h1 class="title">
            {{ gettext("Accounts") }}
        </h1>
        <div class="box has-background-info-light has-text-info-dark">
            <div class="icon"><i class="fas fa-info-circle"></i></div>
            <p>{{ gettext("Each company has four accounts.") }}</p>
        </div>
        <div class="table-container has-text-left">
            <table class="table mx-auto">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="py-2"><a href="{{ view_model.url_to_account_p }}">{{
                                        gettext("Account p") }}</a>
                        </td>
                        <td><i class="fas fa-industry"></i></td>
                        <td class="is-italic">{{ gettext("Account for fixed means of production") }}
                        </td>
                        <td
                            class="py-2 has-text-right has-text-weight-bold">
                            {{ view_model.balance_fixed }}</td>
                    </tr>
                    <tr>
                        <td class="py-2"><a href="{{ view_model.url_to_account_r }}">{{
                                        gettext("Account r") }}</a>
                        </td>
                        <td><i class="fas fa-oil-can"></i></td>
                        <td class="is-italic">{{ gettext("Account for liquid means of production")}}
                        </td>
                        <td
                            class="py-2 has-text-right has-text-weight-bold">
                            {{ view_model.balance_liquid }}</td>
                    </tr>
                    <tr>
                        <td class="py-2"><a href="{{ view_model.url_to_account_a }}">{{
                                        gettext("Account a") }}</a>
                        </td>
                        <td><i class="fas fa-users"></i></td>
                        <td class="is-italic">{{ gettext("Account for work certificates (wages)") }}
                        </td>
                        <td
                            class="py-2 has-text-right has-text-weight-bold">
                            {{ view_model.balance_work }}</td>
                    </tr>
                    <tr>
                        <td class="py-2"><a href="{{ view_model.url_to_account_prd }}">{{
                                        gettext("Account prd") }}</a></td>
                        <td><i class="fas fa-exchange-alt"></i></td>
                        <td class="is-italic">{{ gettext("Account for product transfers (sales)") }}
                        </td>
                        <td
                            class="py-2 has-text-right has-text-weight-bold">
                            {{ view_model.balance_product }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p><a href="{{ view_model.url_to_all_transactions }}">{{ gettext("List all transactions") }}</a>
        </p>
    </div>
    <div class="column"></div>
</section>

{% endblock %}
