{% extends "base.html" %}

{% block navbar_start %}
<div class="navbar-item">{{ gettext("Cooperation") }}</div>
{% endblock %}

{% block content %}

<div class="section has-text-centered">
    <h1 class="title">
        {{ gettext("Cooperation") }}
    </h1>
    <br>
    <div class="table-container">
        <table class="table has-text-left mx-auto">
            <tbody>
                <tr>
                    <td class="has-text-left has-text-weight-semibold">{{ gettext("ID") }}</td>
                    <td class="has-text-left">{{ view_model.coop_id }}</td>
                </tr>
                <tr>
                    <td class="has-text-left has-text-weight-semibold">{{ gettext("Name") }}</td>
                    <td class="has-text-left">{{ view_model.coop_name }}</td>
                </tr>
                <tr>
                    <td class="has-text-left has-text-weight-semibold">{{ gettext("Definition") }}</td>
                    <td class="has-text-left">{% for parag in view_model.coop_definition %} {{ parag }} {%
                                endfor %}
                    </td>
                </tr>
                <tr>
                    <td class="has-text-left has-text-weight-semibold">{{ gettext("Current coordinator") }}</td>
                    <td class="has-text-left">
                        <a href="{{ view_model.current_coordinator_url }}">{{ view_model.current_coordinator_name }}</a>
                        <div>
                            {% if view_model.transfer_coordination_url is not none %}
                            <a class="button is-small is-primary" href="{{ view_model.transfer_coordination_url }}">
                                <span class="icon">
                                    {{ "square-arrow-up-right"|icon }}
                                </span>
                                <span>{{ gettext("Transfer coordination") }}</span>
                            </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="has-text-left has-text-weight-semibold">{{ gettext("History of coordinators") }}</td>
                    <td class="has-text-left"><a
                            href="{{ view_model.list_of_coordinators_url }}">History</a></td>
                </tr>
                <tr>
                    <td class="has-text-left has-text-weight-semibold">{{ gettext("Cooperation price") }}</td>
                    <td class="has-text-left">{{ view_model.coop_price }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="section">
    <h1 class="title is-4 has-text-centered">
        {{ gettext("Participating plans") }}
    </h1>
    <div class="columns is-centered">
        <div class="column is-one-third">
            {% for plan in view_model.plans %}
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong class="is-size-5">
                                <a href="{{ plan.plan_url }}">{{ plan.plan_name }}</a>
                            </strong>
                            <br>
                            <small><a href="{{ plan.planner_url }}">@{{ plan.planner_name }}</a></small>
                        </p>
                    </div>
                    <div>
                        {% if plan.show_end_coop_button %}
                         <form action="{{ url_for('main_company.end_cooperation') }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="plan_id" value="{{ plan.plan_id }}">
                            <input type="hidden" name="cooperation_id" value="{{ view_model.coop_id }}">
                            <button class="button is-small is-danger" type="submit">
                                <span class="icon">
                                    {{ "times"|icon }}
                                </span>
                                <span>{{ gettext("End cooperation") }}</span>
                            </button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                <div class="media-right">
                    <p class="is-size-5 has-text-right">
                        {{ plan.plan_individual_price }}
                        <br>
                    </p>
                    <p>
                        <small>{{ gettext("Individual price") }}</small>
                    </p>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
