{% extends "base.html" %}

{% block content %}
<div class="section has-text-centered">
  <h1 class="title">{{ gettext('Change email address') }}</h1>
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="field">
      <div class="control">
        {{ form.new_email() }}
      </div>
      {% for error in form.errors['new_email'] %}
      <p class="help is-danger">{{ error }}</p>
      {% endfor %}
    </div>
    <div class="field">
      <div class="control">
        <button class="button is-primary" type="submit">
          {{ gettext("Submit")}}
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
