.navbar-end .navbar-item {
  padding: 0.5rem 0.25rem;
}

.media-right form {
    display: inline-block;
}

.media-right form button {
    padding: 0 0 0 0;
    vertical-align: -.125em;
}

.media-right form button.large-button {
  padding: 12px 12px 12px 12px;
  vertical-align: -.125em;
}

/* notification box */
.notification_box {
  position: fixed;
  left: 25%;
  right: 25%;
  width: 50%;
  animation: hide_notification 5s linear 2s 1 forwards;
}

@keyframes hide_notification {
  to {
      opacity: 0;
  }
}