{% extends "base_nutzer.html" %}

{% block content2 %}

<div class="columns is-centered">
  <div class="column is-two-thirds">
    <div class="box">
        <div class="icon-text"><i class="fas fa-exclamation-triangle"></i></div>
        <p>Möchtest du mit deinem Guthaben Produkte "offline" kaufen,
          kannst du dein Guthaben hier auszahlen lassen und bekommst einen Code, den du einlösen
        kannst.</p>
        <p>Zum Beispiel: Wenn ein "Offline"-Produkt 2,50 Stunden kosten soll, kannst du dir hier ein Code im Wert
        von 2,50 Stunden ausgeben lassen und ihn dem Verkäufer zukommen lassen. Der Verkäufer entwertet dann den Code.</p>
    </div>

    {% if current_user.guthaben > 0 %}
      <form method="post">
        <div class="block">
          <p>Dein Guthaben beträgt {{current_user.guthaben|round(2, 'floor')}} Stunden.</p>
          <p>Wieviel möchtest du auszahlen lassen?</p>
        </div>
        <div class="field has-addons has-addons-centered">
          <div class="control">
            <input class="input" type="number" name="betrag", value="0", min="0", max="{{current_user.guthaben|round(2, 'floor')}}" step="0.01">
          </div>
          <div class="control">
            <input class="button is-primary" type="submit" value="Auszahlen">
          </div>
        </div>
          <div class="block">
            <a class="button is-light" href="{{ url_for('main_nutzer.profile') }}">Abbrechen</a>
          </div>
      </form>
    {% else %}
      <div class="block">
        <p>Du hast leider kein Guthaben zum Auszahlen.</p>
      </div>
      <div class="block">
        <a class="button is-light" href="{{ url_for('main_nutzer.profile') }}">Zurück</a>
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}
