{% extends "base_nutzer.html" %}

{% block content2 %}

<div class="columns is-centered">
  <div class="column is-two-fifths">

  <h1 class="title">
    Willkommen, {{ current_user.name }}!
  </h1>

      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <p>Deine ID:</p>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <p>{{ current_user.id }}</p>
          </div>
        </div>
      </div>
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <p>Dein Guthaben:</p>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <p>{{ current_user.guthaben|round(2) }} Stunden</p>
          </div>
          <div class="level-item">
            <a class="button is-primary" href="{{ url_for('main_nutzer.auszahlung') }}">Auszahlen</a>
          </div>
        </div>
      </div>
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <p>Deine Email:</p>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <p>{{ current_user.email }}</p>
          </div>
        </div>
      </div>


      {% if arbeitsstellen_table %}
      <div class="content">
        <h4 class="subtitle">Deine Arbeit:</h1>
        <div class="content">
          {{ arbeitsstellen_table }}
        </div>
      </div>
      {% else %}
        <div class="content">
          <p><div class="icon-text"><i class="fas fa-exclamation-triangle"></i></div>
            Du bist noch in keinem Betrieb als Mitarbeiter registriert.<br>
            Teile deinem Betrieb deine Nutzer-ID mit, um dich registrieren zu lassen oder
            gründe <a href="{{ url_for('auth.start') }}">hier</a> deinen eigenen Betrieb.</p>
        </div>
        {% endif %}

  </div>
</div>

{% endblock %}
