{% extends "base_nutzer.html" %}

{% block content2 %}

<div class="column is-4 is-offset-4 has-text-centered">

  <h1 class="title">
    Willkommen, {{ current_user.name }}!
  </h1>

  <div class="content">
    <table>
      <tr>
        <td>Deine Nutzer-ID:</td><td>{{ current_user.id }}</td>
      </tr>
      <tr>
        <td>Dein Guthaben:</td><td>{{ current_user.guthaben|round(2) }} Stunden</td>
      </tr>
      <tr>
        <td>Deine Email:</td><td>{{ current_user.email }}</td>
      </tr>
    </table>

  </div>

    {% if arbeitsstellen_table %}
    <div class="content">
      <h4 class="subtitle">Deine Arbeit:</h1>
      <div class="content">
        {{ arbeitsstellen_table }}
      </div>
    </div>
    {% else %}
      <div class="content">
        <p><div class="icon-text"><i class="fas fa-exclamation-triangle"></i></div>
          Du bist noch in keinem Betrieb als Mitarbeiter registriert.<br>
          Teile deinem Betrieb deine Nutzer-ID mit, um dich registrieren zu lassen oder
          gründe <a href="{{ url_for('auth.start') }}">hier</a> deinen eigenen Betrieb.</p>
      </div>
      {% endif %}


  </div>



{% endblock %}
