{% extends "base_member.html" %}

{% block content2 %}
<div class="column is-4 is-offset-4">
    <h3 class="title">{{ gettext('Sign Up') }}</h3>
    <div class="box">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
        <div class="notification is-danger">{{ error }}</div>
        {% endfor %}
        {% endfor %}
        <form method="POST" action="/member/signup">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="field">
                <div class="control has-icons-left">
                    {{ form.email(class_="input is-large", placeholder="Email") }}
                    <span class="icon is-small is-left">
                        <i class="fas fa-at"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <div class="control has-icons-left">
                    {{ form.name(class_="input is-large", placeholder="Name") }}
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <div class="control has-icons-left">
                    {{ form.password(class_="input is-large", placeholder=gettext("Password")) }}
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
            </div>

            <button class="button is-block is-primary is-large is-fullwidth">{{ gettext("Sign Up") }}</button>
        </form>
    </div>
</div>
{% endblock %}