{% extends "base.html" %}
{% block content1 %}

<section class="hero is-fullheight">
  <div class="hero-head">
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a role="button" class="navbar-burger" onclick="expandMenu()" aria-label="menu" aria-expanded="false" data-target="navbarOnTop">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarOnTop" class="navbar-menu">
          <div class="navbar-end">
              <div class="navbar-item">
                <a class="button" href="{{ url_for('auth.start') }}">
                    Zurück
                </a>
              </div>
          </div>
      </div>
    </nav>
  </div>
{% from 'macros.html' import start_hilfe %}
{{ start_hilfe() }}

</section>

{% endblock %}
